##Upload database

In [22]:
from google.colab import files
uploaded = files.upload()

Saving chocolate_sales.db to chocolate_sales (1).db

##Create Table and Insert data

In [23]:
from sqlalchemy import Column, Integer, String, Float, ForeignKey, Date, create_engine
from sqlalchemy.orm import declarative_base, relationship, sessionmaker

# 1. สร้างฐานข้อมูลใหม่
DATABASE_URL = "sqlite:///chocolate_sales(1).db"
engine = create_engine(DATABASE_URL, echo=True)

# 2. สร้าง Base
Base = declarative_base()

# 3. สร้าง Models
class SalesPerson(Base):
    __tablename__ = 'sales_person'
    sales_person_id = Column(Integer, primary_key=True)
    name = Column(String(100))
    country = Column(String(50))
    sales = relationship('Sale', back_populates='sales_person')

class Product(Base):
    __tablename__ = 'product'
    product_id = Column(Integer, primary_key=True)
    product_name = Column(String(100))
    sales = relationship('Sale', back_populates='product')

class Sale(Base):
    __tablename__ = 'sale'
    sale_id = Column(Integer, primary_key=True)
    sales_person_id = Column(Integer, ForeignKey('sales_person.sales_person_id'))
    product_id = Column(Integer, ForeignKey('product.product_id'))
    date = Column(Date)
    amount = Column(Float)
    boxes_shipped = Column(Integer)

    sales_person = relationship('SalesPerson', back_populates='sales')
    product = relationship('Product', back_populates='sales')

# 4. สร้างตารางในฐานข้อมูล
Base.metadata.create_all(engine)

from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

2025-04-27 01:35:56,310 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-04-27 01:35:56,312 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sales_person")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("sales_person")

2025-04-27 01:35:56,314 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-04-27 01:35:56,317 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("sales_person")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("sales_person")

2025-04-27 01:35:56,319 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-04-27 01:35:56,321 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("product")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("product")

2025-04-27 01:35:56,322 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-04-27 01:35:56,324 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("product")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("product")

2025-04-27 01:35:56,326 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-04-27 01:35:56,327 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sale")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("sale")

2025-04-27 01:35:56,329 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-04-27 01:35:56,330 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("sale")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("sale")

2025-04-27 01:35:56,332 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-04-27 01:35:56,340 INFO sqlalchemy.engine.Engine
CREATE TABLE sales_person (
	sales_person_id INTEGER NOT NULL,
	name VARCHAR(100),
	country VARCHAR(50),
	PRIMARY KEY (sales_person_id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE sales_person (
	sales_person_id INTEGER NOT NULL,
	name VARCHAR(100),
	country VARCHAR(50),
	PRIMARY KEY (sales_person_id)
)

2025-04-27 01:35:56,342 INFO sqlalchemy.engine.Engine [no key 0.00192s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00192s] ()

2025-04-27 01:35:56,354 INFO sqlalchemy.engine.Engine
CREATE TABLE product (
	product_id INTEGER NOT NULL,
	product_name VARCHAR(100),
	PRIMARY KEY (product_id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE product (
	product_id INTEGER NOT NULL,
	product_name VARCHAR(100),
	PRIMARY KEY (product_id)
)

2025-04-27 01:35:56,356 INFO sqlalchemy.engine.Engine [no key 0.00188s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00188s] ()

2025-04-27 01:35:56,370 INFO sqlalchemy.engine.Engine
CREATE TABLE sale (
	sale_id INTEGER NOT NULL,
	sales_person_id INTEGER,
	product_id INTEGER,
	date DATE,
	amount FLOAT,
	boxes_shipped INTEGER,
	PRIMARY KEY (sale_id),
	FOREIGN KEY(sales_person_id) REFERENCES sales_person (sales_person_id),
	FOREIGN KEY(product_id) REFERENCES product (product_id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE sale (
	sale_id INTEGER NOT NULL,
	sales_person_id INTEGER,
	product_id INTEGER,
	date DATE,
	amount FLOAT,
	boxes_shipped INTEGER,
	PRIMARY KEY (sale_id),
	FOREIGN KEY(sales_person_id) REFERENCES sales_person (sales_person_id),
	FOREIGN KEY(product_id) REFERENCES product (product_id)
)

2025-04-27 01:35:56,372 INFO sqlalchemy.engine.Engine [no key 0.00172s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00172s] ()

2025-04-27 01:35:56,383 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [24]:
import pandas as pd

df = pd.read_csv('/content/Chocolate Sales.csv')

In [25]:
# หาคนขายไม่ซ้ำ
unique_sales_persons = df[['Sales Person', 'Country']].drop_duplicates()

# หาสินค้าไม่ซ้ำ
unique_products = df[['Product']].drop_duplicates()

In [26]:
# Insert Sales Person
sales_person_objects = [
    SalesPerson(name=row['Sales Person'], country=row['Country'])
    for _, row in unique_sales_persons.iterrows()
]
session.add_all(sales_person_objects)
session.commit()

# Insert Product
product_objects = [
    Product(product_name=row['Product'])
    for _, row in unique_products.iterrows()
]
session.add_all(product_objects)
session.commit()

2025-04-27 01:36:10,240 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-04-27 01:36:10,247 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,249 INFO sqlalchemy.engine.Engine [generated in 0.00048s (insertmanyvalues) 1/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'UK')

INFO:sqlalchemy.engine.Engine:[generated in 0.00048s (insertmanyvalues) 1/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'UK')

2025-04-27 01:36:10,251 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,253 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/150 (ordered; batch not supported)] ('Van Tuxwell', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/150 (ordered; batch not supported)] ('Van Tuxwell', 'India')

2025-04-27 01:36:10,255 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,257 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/150 (ordered; batch not supported)] ('Gigi Bohling', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/150 (ordered; batch not supported)] ('Gigi Bohling', 'India')

2025-04-27 01:36:10,258 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,260 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/150 (ordered; batch not supported)] ('Jan Morforth', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/150 (ordered; batch not supported)] ('Jan Morforth', 'Australia')

2025-04-27 01:36:10,261 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,263 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/150 (ordered; batch not supported)] ('Oby Sorrel', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/150 (ordered; batch not supported)] ('Oby Sorrel', 'UK')

2025-04-27 01:36:10,264 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,265 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 6/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'Australia')

2025-04-27 01:36:10,266 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,268 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 7/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'New Zealand')

2025-04-27 01:36:10,269 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,270 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/150 (ordered; batch not supported)] ('Brien Boise', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 8/150 (ordered; batch not supported)] ('Brien Boise', 'Australia')

2025-04-27 01:36:10,271 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,273 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 9/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'UK')

2025-04-27 01:36:10,274 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,275 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/150 (ordered; batch not supported)] ('Barr Faughny', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 10/150 (ordered; batch not supported)] ('Barr Faughny', 'USA')

2025-04-27 01:36:10,277 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,278 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/150 (ordered; batch not supported)] ('Mallorie Waber', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 11/150 (ordered; batch not supported)] ('Mallorie Waber', 'Canada')

2025-04-27 01:36:10,279 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,280 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 12/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'New Zealand')

2025-04-27 01:36:10,282 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/150 (ordered; batch not supported)] ("Marney O'Breen", 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 13/150 (ordered; batch not supported)] ("Marney O'Breen", 'New Zealand')

2025-04-27 01:36:10,284 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,285 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/150 (ordered; batch not supported)] ('Beverie Moffet', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 14/150 (ordered; batch not supported)] ('Beverie Moffet', 'Australia')

2025-04-27 01:36:10,286 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,288 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/150 (ordered; batch not supported)] ('Van Tuxwell', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 15/150 (ordered; batch not supported)] ('Van Tuxwell', 'Canada')

2025-04-27 01:36:10,289 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,293 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/150 (ordered; batch not supported)] ('Roddy Speechley', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 16/150 (ordered; batch not supported)] ('Roddy Speechley', 'USA')

2025-04-27 01:36:10,294 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,295 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/150 (ordered; batch not supported)] ('Beverie Moffet', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 17/150 (ordered; batch not supported)] ('Beverie Moffet', 'Canada')

2025-04-27 01:36:10,296 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,297 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/150 (ordered; batch not supported)] ('Curtice Advani', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 18/150 (ordered; batch not supported)] ('Curtice Advani', 'UK')

2025-04-27 01:36:10,298 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,300 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 19/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'USA')

2025-04-27 01:36:10,301 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,302 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/150 (ordered; batch not supported)] ("Marney O'Breen", 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 20/150 (ordered; batch not supported)] ("Marney O'Breen", 'USA')

2025-04-27 01:36:10,305 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,308 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/150 (ordered; batch not supported)] ('Husein Augar', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 21/150 (ordered; batch not supported)] ('Husein Augar', 'UK')

2025-04-27 01:36:10,309 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,310 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/150 (ordered; batch not supported)] ('Kaine Padly', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 22/150 (ordered; batch not supported)] ('Kaine Padly', 'Australia')

2025-04-27 01:36:10,312 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,313 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 23/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'India')

2025-04-27 01:36:10,314 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,316 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/150 (ordered; batch not supported)] ('Roddy Speechley', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 24/150 (ordered; batch not supported)] ('Roddy Speechley', 'Canada')

2025-04-27 01:36:10,317 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,318 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/150 (ordered; batch not supported)] ('Husein Augar', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 25/150 (ordered; batch not supported)] ('Husein Augar', 'USA')

2025-04-27 01:36:10,319 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,321 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 26/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'New Zealand')

2025-04-27 01:36:10,322 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,323 INFO sqlalchemy.engine.Engine [insertmanyvalues 27/150 (ordered; batch not supported)] ('Van Tuxwell', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 27/150 (ordered; batch not supported)] ('Van Tuxwell', 'New Zealand')

2025-04-27 01:36:10,325 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,326 INFO sqlalchemy.engine.Engine [insertmanyvalues 28/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 28/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'Australia')

2025-04-27 01:36:10,327 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,329 INFO sqlalchemy.engine.Engine [insertmanyvalues 29/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 29/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'UK')

2025-04-27 01:36:10,330 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,331 INFO sqlalchemy.engine.Engine [insertmanyvalues 30/150 (ordered; batch not supported)] ('Andria Kimpton', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 30/150 (ordered; batch not supported)] ('Andria Kimpton', 'Canada')

2025-04-27 01:36:10,332 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,333 INFO sqlalchemy.engine.Engine [insertmanyvalues 31/150 (ordered; batch not supported)] ('Andria Kimpton', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 31/150 (ordered; batch not supported)] ('Andria Kimpton', 'UK')

2025-04-27 01:36:10,335 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,336 INFO sqlalchemy.engine.Engine [insertmanyvalues 32/150 (ordered; batch not supported)] ('Kelci Walkden', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 32/150 (ordered; batch not supported)] ('Kelci Walkden', 'New Zealand')

2025-04-27 01:36:10,337 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,338 INFO sqlalchemy.engine.Engine [insertmanyvalues 33/150 (ordered; batch not supported)] ('Camilla Castle', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 33/150 (ordered; batch not supported)] ('Camilla Castle', 'Australia')

2025-04-27 01:36:10,340 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,341 INFO sqlalchemy.engine.Engine [insertmanyvalues 34/150 (ordered; batch not supported)] ('Kelci Walkden', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 34/150 (ordered; batch not supported)] ('Kelci Walkden', 'USA')

2025-04-27 01:36:10,342 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,343 INFO sqlalchemy.engine.Engine [insertmanyvalues 35/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 35/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'USA')

2025-04-27 01:36:10,345 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,346 INFO sqlalchemy.engine.Engine [insertmanyvalues 36/150 (ordered; batch not supported)] ('Andria Kimpton', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 36/150 (ordered; batch not supported)] ('Andria Kimpton', 'India')

2025-04-27 01:36:10,347 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,374 INFO sqlalchemy.engine.Engine [insertmanyvalues 37/150 (ordered; batch not supported)] ('Madelene Upcott', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 37/150 (ordered; batch not supported)] ('Madelene Upcott', 'Canada')

2025-04-27 01:36:10,381 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,386 INFO sqlalchemy.engine.Engine [insertmanyvalues 38/150 (ordered; batch not supported)] ('Kaine Padly', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 38/150 (ordered; batch not supported)] ('Kaine Padly', 'USA')

2025-04-27 01:36:10,387 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,389 INFO sqlalchemy.engine.Engine [insertmanyvalues 39/150 (ordered; batch not supported)] ('Van Tuxwell', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 39/150 (ordered; batch not supported)] ('Van Tuxwell', 'USA')

2025-04-27 01:36:10,390 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,392 INFO sqlalchemy.engine.Engine [insertmanyvalues 40/150 (ordered; batch not supported)] ('Curtice Advani', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 40/150 (ordered; batch not supported)] ('Curtice Advani', 'Australia')

2025-04-27 01:36:10,396 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,397 INFO sqlalchemy.engine.Engine [insertmanyvalues 41/150 (ordered; batch not supported)] ('Roddy Speechley', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 41/150 (ordered; batch not supported)] ('Roddy Speechley', 'India')

2025-04-27 01:36:10,405 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,407 INFO sqlalchemy.engine.Engine [insertmanyvalues 42/150 (ordered; batch not supported)] ('Curtice Advani', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 42/150 (ordered; batch not supported)] ('Curtice Advani', 'India')

2025-04-27 01:36:10,409 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,412 INFO sqlalchemy.engine.Engine [insertmanyvalues 43/150 (ordered; batch not supported)] ('Curtice Advani', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 43/150 (ordered; batch not supported)] ('Curtice Advani', 'Canada')

2025-04-27 01:36:10,414 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,415 INFO sqlalchemy.engine.Engine [insertmanyvalues 44/150 (ordered; batch not supported)] ('Dotty Strutley', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 44/150 (ordered; batch not supported)] ('Dotty Strutley', 'Australia')

2025-04-27 01:36:10,416 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,419 INFO sqlalchemy.engine.Engine [insertmanyvalues 45/150 (ordered; batch not supported)] ('Beverie Moffet', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 45/150 (ordered; batch not supported)] ('Beverie Moffet', 'USA')

2025-04-27 01:36:10,422 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,423 INFO sqlalchemy.engine.Engine [insertmanyvalues 46/150 (ordered; batch not supported)] ("Marney O'Breen", 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 46/150 (ordered; batch not supported)] ("Marney O'Breen", 'India')

2025-04-27 01:36:10,425 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,426 INFO sqlalchemy.engine.Engine [insertmanyvalues 47/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 47/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'Canada')

2025-04-27 01:36:10,427 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,429 INFO sqlalchemy.engine.Engine [insertmanyvalues 48/150 (ordered; batch not supported)] ('Ches Bonnell', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 48/150 (ordered; batch not supported)] ('Ches Bonnell', 'New Zealand')

2025-04-27 01:36:10,430 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,432 INFO sqlalchemy.engine.Engine [insertmanyvalues 49/150 (ordered; batch not supported)] ('Brien Boise', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 49/150 (ordered; batch not supported)] ('Brien Boise', 'Canada')

2025-04-27 01:36:10,434 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,439 INFO sqlalchemy.engine.Engine [insertmanyvalues 50/150 (ordered; batch not supported)] ('Barr Faughny', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 50/150 (ordered; batch not supported)] ('Barr Faughny', 'Australia')

2025-04-27 01:36:10,442 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,450 INFO sqlalchemy.engine.Engine [insertmanyvalues 51/150 (ordered; batch not supported)] ('Andria Kimpton', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 51/150 (ordered; batch not supported)] ('Andria Kimpton', 'Australia')

2025-04-27 01:36:10,451 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,453 INFO sqlalchemy.engine.Engine [insertmanyvalues 52/150 (ordered; batch not supported)] ("Marney O'Breen", 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 52/150 (ordered; batch not supported)] ("Marney O'Breen", 'Australia')

2025-04-27 01:36:10,454 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,455 INFO sqlalchemy.engine.Engine [insertmanyvalues 53/150 (ordered; batch not supported)] ('Kelci Walkden', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 53/150 (ordered; batch not supported)] ('Kelci Walkden', 'Canada')

2025-04-27 01:36:10,457 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,462 INFO sqlalchemy.engine.Engine [insertmanyvalues 54/150 (ordered; batch not supported)] ('Oby Sorrel', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 54/150 (ordered; batch not supported)] ('Oby Sorrel', 'India')

2025-04-27 01:36:10,464 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,465 INFO sqlalchemy.engine.Engine [insertmanyvalues 55/150 (ordered; batch not supported)] ('Van Tuxwell', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 55/150 (ordered; batch not supported)] ('Van Tuxwell', 'Australia')

2025-04-27 01:36:10,467 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,469 INFO sqlalchemy.engine.Engine [insertmanyvalues 56/150 (ordered; batch not supported)] ('Camilla Castle', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 56/150 (ordered; batch not supported)] ('Camilla Castle', 'India')

2025-04-27 01:36:10,470 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,473 INFO sqlalchemy.engine.Engine [insertmanyvalues 57/150 (ordered; batch not supported)] ('Jan Morforth', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 57/150 (ordered; batch not supported)] ('Jan Morforth', 'USA')

2025-04-27 01:36:10,474 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,476 INFO sqlalchemy.engine.Engine [insertmanyvalues 58/150 (ordered; batch not supported)] ('Gigi Bohling', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 58/150 (ordered; batch not supported)] ('Gigi Bohling', 'USA')

2025-04-27 01:36:10,477 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,480 INFO sqlalchemy.engine.Engine [insertmanyvalues 59/150 (ordered; batch not supported)] ('Gigi Bohling', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 59/150 (ordered; batch not supported)] ('Gigi Bohling', 'UK')

2025-04-27 01:36:10,482 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,483 INFO sqlalchemy.engine.Engine [insertmanyvalues 60/150 (ordered; batch not supported)] ('Andria Kimpton', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 60/150 (ordered; batch not supported)] ('Andria Kimpton', 'New Zealand')

2025-04-27 01:36:10,487 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,489 INFO sqlalchemy.engine.Engine [insertmanyvalues 61/150 (ordered; batch not supported)] ('Van Tuxwell', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 61/150 (ordered; batch not supported)] ('Van Tuxwell', 'UK')

2025-04-27 01:36:10,490 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,494 INFO sqlalchemy.engine.Engine [insertmanyvalues 62/150 (ordered; batch not supported)] ('Camilla Castle', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 62/150 (ordered; batch not supported)] ('Camilla Castle', 'USA')

2025-04-27 01:36:10,497 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,500 INFO sqlalchemy.engine.Engine [insertmanyvalues 63/150 (ordered; batch not supported)] ('Andria Kimpton', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 63/150 (ordered; batch not supported)] ('Andria Kimpton', 'USA')

2025-04-27 01:36:10,502 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,504 INFO sqlalchemy.engine.Engine [insertmanyvalues 64/150 (ordered; batch not supported)] ('Brien Boise', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 64/150 (ordered; batch not supported)] ('Brien Boise', 'New Zealand')

2025-04-27 01:36:10,506 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,507 INFO sqlalchemy.engine.Engine [insertmanyvalues 65/150 (ordered; batch not supported)] ('Roddy Speechley', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 65/150 (ordered; batch not supported)] ('Roddy Speechley', 'New Zealand')

2025-04-27 01:36:10,509 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,511 INFO sqlalchemy.engine.Engine [insertmanyvalues 66/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 66/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'Australia')

2025-04-27 01:36:10,513 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,514 INFO sqlalchemy.engine.Engine [insertmanyvalues 67/150 (ordered; batch not supported)] ('Madelene Upcott', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 67/150 (ordered; batch not supported)] ('Madelene Upcott', 'Australia')

2025-04-27 01:36:10,516 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,519 INFO sqlalchemy.engine.Engine [insertmanyvalues 68/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 68/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'UK')

2025-04-27 01:36:10,521 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,522 INFO sqlalchemy.engine.Engine [insertmanyvalues 69/150 (ordered; batch not supported)] ('Madelene Upcott', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 69/150 (ordered; batch not supported)] ('Madelene Upcott', 'India')

2025-04-27 01:36:10,524 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,531 INFO sqlalchemy.engine.Engine [insertmanyvalues 70/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 70/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'Canada')

2025-04-27 01:36:10,532 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,533 INFO sqlalchemy.engine.Engine [insertmanyvalues 71/150 (ordered; batch not supported)] ('Kelci Walkden', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 71/150 (ordered; batch not supported)] ('Kelci Walkden', 'UK')

2025-04-27 01:36:10,534 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,536 INFO sqlalchemy.engine.Engine [insertmanyvalues 72/150 (ordered; batch not supported)] ('Kelci Walkden', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 72/150 (ordered; batch not supported)] ('Kelci Walkden', 'India')

2025-04-27 01:36:10,541 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,542 INFO sqlalchemy.engine.Engine [insertmanyvalues 73/150 (ordered; batch not supported)] ('Jan Morforth', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 73/150 (ordered; batch not supported)] ('Jan Morforth', 'India')

2025-04-27 01:36:10,544 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,545 INFO sqlalchemy.engine.Engine [insertmanyvalues 74/150 (ordered; batch not supported)] ('Ches Bonnell', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 74/150 (ordered; batch not supported)] ('Ches Bonnell', 'India')

2025-04-27 01:36:10,548 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,549 INFO sqlalchemy.engine.Engine [insertmanyvalues 75/150 (ordered; batch not supported)] ('Gigi Bohling', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 75/150 (ordered; batch not supported)] ('Gigi Bohling', 'Canada')

2025-04-27 01:36:10,552 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,554 INFO sqlalchemy.engine.Engine [insertmanyvalues 76/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 76/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'Australia')

2025-04-27 01:36:10,556 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,558 INFO sqlalchemy.engine.Engine [insertmanyvalues 77/150 (ordered; batch not supported)] ('Kelci Walkden', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 77/150 (ordered; batch not supported)] ('Kelci Walkden', 'Australia')

2025-04-27 01:36:10,559 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,560 INFO sqlalchemy.engine.Engine [insertmanyvalues 78/150 (ordered; batch not supported)] ('Dotty Strutley', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 78/150 (ordered; batch not supported)] ('Dotty Strutley', 'UK')

2025-04-27 01:36:10,561 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,563 INFO sqlalchemy.engine.Engine [insertmanyvalues 79/150 (ordered; batch not supported)] ('Husein Augar', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 79/150 (ordered; batch not supported)] ('Husein Augar', 'Australia')

2025-04-27 01:36:10,565 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,566 INFO sqlalchemy.engine.Engine [insertmanyvalues 80/150 (ordered; batch not supported)] ('Beverie Moffet', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 80/150 (ordered; batch not supported)] ('Beverie Moffet', 'New Zealand')

2025-04-27 01:36:10,568 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,569 INFO sqlalchemy.engine.Engine [insertmanyvalues 81/150 (ordered; batch not supported)] ('Oby Sorrel', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 81/150 (ordered; batch not supported)] ('Oby Sorrel', 'Canada')

2025-04-27 01:36:10,570 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,571 INFO sqlalchemy.engine.Engine [insertmanyvalues 82/150 (ordered; batch not supported)] ('Ches Bonnell', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 82/150 (ordered; batch not supported)] ('Ches Bonnell', 'UK')

2025-04-27 01:36:10,573 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,574 INFO sqlalchemy.engine.Engine [insertmanyvalues 83/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 83/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'USA')

2025-04-27 01:36:10,575 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,576 INFO sqlalchemy.engine.Engine [insertmanyvalues 84/150 (ordered; batch not supported)] ('Gigi Bohling', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 84/150 (ordered; batch not supported)] ('Gigi Bohling', 'New Zealand')

2025-04-27 01:36:10,577 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,578 INFO sqlalchemy.engine.Engine [insertmanyvalues 85/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 85/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'New Zealand')

2025-04-27 01:36:10,579 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,580 INFO sqlalchemy.engine.Engine [insertmanyvalues 86/150 (ordered; batch not supported)] ('Ches Bonnell', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 86/150 (ordered; batch not supported)] ('Ches Bonnell', 'Australia')

2025-04-27 01:36:10,581 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,582 INFO sqlalchemy.engine.Engine [insertmanyvalues 87/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 87/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'New Zealand')

2025-04-27 01:36:10,584 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,585 INFO sqlalchemy.engine.Engine [insertmanyvalues 88/150 (ordered; batch not supported)] ('Kaine Padly', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 88/150 (ordered; batch not supported)] ('Kaine Padly', 'UK')

2025-04-27 01:36:10,586 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,587 INFO sqlalchemy.engine.Engine [insertmanyvalues 89/150 (ordered; batch not supported)] ('Mallorie Waber', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 89/150 (ordered; batch not supported)] ('Mallorie Waber', 'Australia')

2025-04-27 01:36:10,589 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,590 INFO sqlalchemy.engine.Engine [insertmanyvalues 90/150 (ordered; batch not supported)] ("Marney O'Breen", 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 90/150 (ordered; batch not supported)] ("Marney O'Breen", 'UK')

2025-04-27 01:36:10,591 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,592 INFO sqlalchemy.engine.Engine [insertmanyvalues 91/150 (ordered; batch not supported)] ('Mallorie Waber', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 91/150 (ordered; batch not supported)] ('Mallorie Waber', 'New Zealand')

2025-04-27 01:36:10,594 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,595 INFO sqlalchemy.engine.Engine [insertmanyvalues 92/150 (ordered; batch not supported)] ('Brien Boise', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 92/150 (ordered; batch not supported)] ('Brien Boise', 'UK')

2025-04-27 01:36:10,599 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,601 INFO sqlalchemy.engine.Engine [insertmanyvalues 93/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 93/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'Australia')

2025-04-27 01:36:10,602 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,603 INFO sqlalchemy.engine.Engine [insertmanyvalues 94/150 (ordered; batch not supported)] ('Kaine Padly', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 94/150 (ordered; batch not supported)] ('Kaine Padly', 'Canada')

2025-04-27 01:36:10,606 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,608 INFO sqlalchemy.engine.Engine [insertmanyvalues 95/150 (ordered; batch not supported)] ('Dotty Strutley', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 95/150 (ordered; batch not supported)] ('Dotty Strutley', 'USA')

2025-04-27 01:36:10,609 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,610 INFO sqlalchemy.engine.Engine [insertmanyvalues 96/150 (ordered; batch not supported)] ('Camilla Castle', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 96/150 (ordered; batch not supported)] ('Camilla Castle', 'UK')

2025-04-27 01:36:10,611 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,616 INFO sqlalchemy.engine.Engine [insertmanyvalues 97/150 (ordered; batch not supported)] ('Husein Augar', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 97/150 (ordered; batch not supported)] ('Husein Augar', 'New Zealand')

2025-04-27 01:36:10,617 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,618 INFO sqlalchemy.engine.Engine [insertmanyvalues 98/150 (ordered; batch not supported)] ('Barr Faughny', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 98/150 (ordered; batch not supported)] ('Barr Faughny', 'UK')

2025-04-27 01:36:10,622 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,623 INFO sqlalchemy.engine.Engine [insertmanyvalues 99/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 99/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'USA')

2025-04-27 01:36:10,625 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,628 INFO sqlalchemy.engine.Engine [insertmanyvalues 100/150 (ordered; batch not supported)] ('Barr Faughny', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 100/150 (ordered; batch not supported)] ('Barr Faughny', 'Canada')

2025-04-27 01:36:10,630 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,631 INFO sqlalchemy.engine.Engine [insertmanyvalues 101/150 (ordered; batch not supported)] ('Barr Faughny', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 101/150 (ordered; batch not supported)] ('Barr Faughny', 'New Zealand')

2025-04-27 01:36:10,634 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,635 INFO sqlalchemy.engine.Engine [insertmanyvalues 102/150 (ordered; batch not supported)] ('Barr Faughny', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 102/150 (ordered; batch not supported)] ('Barr Faughny', 'India')

2025-04-27 01:36:10,636 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,641 INFO sqlalchemy.engine.Engine [insertmanyvalues 103/150 (ordered; batch not supported)] ('Beverie Moffet', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 103/150 (ordered; batch not supported)] ('Beverie Moffet', 'UK')

2025-04-27 01:36:10,642 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,643 INFO sqlalchemy.engine.Engine [insertmanyvalues 104/150 (ordered; batch not supported)] ('Camilla Castle', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 104/150 (ordered; batch not supported)] ('Camilla Castle', 'New Zealand')

2025-04-27 01:36:10,645 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,649 INFO sqlalchemy.engine.Engine [insertmanyvalues 105/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 105/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'India')

2025-04-27 01:36:10,651 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,652 INFO sqlalchemy.engine.Engine [insertmanyvalues 106/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 106/150 (ordered; batch not supported)] ('Karlen McCaffrey', 'Australia')

2025-04-27 01:36:10,653 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,654 INFO sqlalchemy.engine.Engine [insertmanyvalues 107/150 (ordered; batch not supported)] ('Beverie Moffet', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 107/150 (ordered; batch not supported)] ('Beverie Moffet', 'India')

2025-04-27 01:36:10,655 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,656 INFO sqlalchemy.engine.Engine [insertmanyvalues 108/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 108/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'India')

2025-04-27 01:36:10,658 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,659 INFO sqlalchemy.engine.Engine [insertmanyvalues 109/150 (ordered; batch not supported)] ('Madelene Upcott', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 109/150 (ordered; batch not supported)] ('Madelene Upcott', 'USA')

2025-04-27 01:36:10,660 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,661 INFO sqlalchemy.engine.Engine [insertmanyvalues 110/150 (ordered; batch not supported)] ('Brien Boise', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 110/150 (ordered; batch not supported)] ('Brien Boise', 'India')

2025-04-27 01:36:10,662 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,664 INFO sqlalchemy.engine.Engine [insertmanyvalues 111/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 111/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'UK')

2025-04-27 01:36:10,665 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,666 INFO sqlalchemy.engine.Engine [insertmanyvalues 112/150 (ordered; batch not supported)] ('Mallorie Waber', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 112/150 (ordered; batch not supported)] ('Mallorie Waber', 'USA')

2025-04-27 01:36:10,667 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,668 INFO sqlalchemy.engine.Engine [insertmanyvalues 113/150 (ordered; batch not supported)] ('Kaine Padly', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 113/150 (ordered; batch not supported)] ('Kaine Padly', 'New Zealand')

2025-04-27 01:36:10,669 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,670 INFO sqlalchemy.engine.Engine [insertmanyvalues 114/150 (ordered; batch not supported)] ('Ches Bonnell', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 114/150 (ordered; batch not supported)] ('Ches Bonnell', 'USA')

2025-04-27 01:36:10,671 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,672 INFO sqlalchemy.engine.Engine [insertmanyvalues 115/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 115/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'UK')

2025-04-27 01:36:10,674 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,675 INFO sqlalchemy.engine.Engine [insertmanyvalues 116/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 116/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'USA')

2025-04-27 01:36:10,676 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,677 INFO sqlalchemy.engine.Engine [insertmanyvalues 117/150 (ordered; batch not supported)] ('Husein Augar', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 117/150 (ordered; batch not supported)] ('Husein Augar', 'India')

2025-04-27 01:36:10,678 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,679 INFO sqlalchemy.engine.Engine [insertmanyvalues 118/150 (ordered; batch not supported)] ('Madelene Upcott', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 118/150 (ordered; batch not supported)] ('Madelene Upcott', 'UK')

2025-04-27 01:36:10,680 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,682 INFO sqlalchemy.engine.Engine [insertmanyvalues 119/150 (ordered; batch not supported)] ('Gigi Bohling', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 119/150 (ordered; batch not supported)] ('Gigi Bohling', 'Australia')

2025-04-27 01:36:10,683 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,684 INFO sqlalchemy.engine.Engine [insertmanyvalues 120/150 (ordered; batch not supported)] ("Marney O'Breen", 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 120/150 (ordered; batch not supported)] ("Marney O'Breen", 'Canada')

2025-04-27 01:36:10,685 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,686 INFO sqlalchemy.engine.Engine [insertmanyvalues 121/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 121/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'India')

2025-04-27 01:36:10,687 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,689 INFO sqlalchemy.engine.Engine [insertmanyvalues 122/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 122/150 (ordered; batch not supported)] ('Dennison Crosswaite', 'Canada')

2025-04-27 01:36:10,690 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,693 INFO sqlalchemy.engine.Engine [insertmanyvalues 123/150 (ordered; batch not supported)] ('Dotty Strutley', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 123/150 (ordered; batch not supported)] ('Dotty Strutley', 'Canada')

2025-04-27 01:36:10,695 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,696 INFO sqlalchemy.engine.Engine [insertmanyvalues 124/150 (ordered; batch not supported)] ('Ches Bonnell', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 124/150 (ordered; batch not supported)] ('Ches Bonnell', 'Canada')

2025-04-27 01:36:10,697 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,698 INFO sqlalchemy.engine.Engine [insertmanyvalues 125/150 (ordered; batch not supported)] ('Curtice Advani', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 125/150 (ordered; batch not supported)] ('Curtice Advani', 'USA')

2025-04-27 01:36:10,700 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,701 INFO sqlalchemy.engine.Engine [insertmanyvalues 126/150 (ordered; batch not supported)] ('Oby Sorrel', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 126/150 (ordered; batch not supported)] ('Oby Sorrel', 'New Zealand')

2025-04-27 01:36:10,706 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,707 INFO sqlalchemy.engine.Engine [insertmanyvalues 127/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 127/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'Canada')

2025-04-27 01:36:10,709 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,710 INFO sqlalchemy.engine.Engine [insertmanyvalues 128/150 (ordered; batch not supported)] ('Mallorie Waber', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 128/150 (ordered; batch not supported)] ('Mallorie Waber', 'UK')

2025-04-27 01:36:10,711 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,717 INFO sqlalchemy.engine.Engine [insertmanyvalues 129/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 129/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'New Zealand')

2025-04-27 01:36:10,720 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,722 INFO sqlalchemy.engine.Engine [insertmanyvalues 130/150 (ordered; batch not supported)] ('Roddy Speechley', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 130/150 (ordered; batch not supported)] ('Roddy Speechley', 'Australia')

2025-04-27 01:36:10,725 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,728 INFO sqlalchemy.engine.Engine [insertmanyvalues 131/150 (ordered; batch not supported)] ('Madelene Upcott', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 131/150 (ordered; batch not supported)] ('Madelene Upcott', 'New Zealand')

2025-04-27 01:36:10,756 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,762 INFO sqlalchemy.engine.Engine [insertmanyvalues 132/150 (ordered; batch not supported)] ('Dotty Strutley', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 132/150 (ordered; batch not supported)] ('Dotty Strutley', 'New Zealand')

2025-04-27 01:36:10,763 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,777 INFO sqlalchemy.engine.Engine [insertmanyvalues 133/150 (ordered; batch not supported)] ('Kaine Padly', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 133/150 (ordered; batch not supported)] ('Kaine Padly', 'India')

2025-04-27 01:36:10,780 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,781 INFO sqlalchemy.engine.Engine [insertmanyvalues 134/150 (ordered; batch not supported)] ('Oby Sorrel', 'Australia')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 134/150 (ordered; batch not supported)] ('Oby Sorrel', 'Australia')

2025-04-27 01:36:10,782 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,784 INFO sqlalchemy.engine.Engine [insertmanyvalues 135/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 135/150 (ordered; batch not supported)] ('Gunar Cockshoot', 'India')

2025-04-27 01:36:10,786 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,789 INFO sqlalchemy.engine.Engine [insertmanyvalues 136/150 (ordered; batch not supported)] ('Brien Boise', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 136/150 (ordered; batch not supported)] ('Brien Boise', 'USA')

2025-04-27 01:36:10,790 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,795 INFO sqlalchemy.engine.Engine [insertmanyvalues 137/150 (ordered; batch not supported)] ('Mallorie Waber', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 137/150 (ordered; batch not supported)] ('Mallorie Waber', 'India')

2025-04-27 01:36:10,797 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,801 INFO sqlalchemy.engine.Engine [insertmanyvalues 138/150 (ordered; batch not supported)] ('Dotty Strutley', 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 138/150 (ordered; batch not supported)] ('Dotty Strutley', 'India')

2025-04-27 01:36:10,804 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,805 INFO sqlalchemy.engine.Engine [insertmanyvalues 139/150 (ordered; batch not supported)] ('Jan Morforth', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 139/150 (ordered; batch not supported)] ('Jan Morforth', 'New Zealand')

2025-04-27 01:36:10,810 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,814 INFO sqlalchemy.engine.Engine [insertmanyvalues 140/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 140/150 (ordered; batch not supported)] ('Rafaelita Blaksland', 'Canada')

2025-04-27 01:36:10,816 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,818 INFO sqlalchemy.engine.Engine [insertmanyvalues 141/150 (ordered; batch not supported)] ('Curtice Advani', 'New Zealand')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 141/150 (ordered; batch not supported)] ('Curtice Advani', 'New Zealand')

2025-04-27 01:36:10,820 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,822 INFO sqlalchemy.engine.Engine [insertmanyvalues 142/150 (ordered; batch not supported)] ('Husein Augar', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 142/150 (ordered; batch not supported)] ('Husein Augar', 'Canada')

2025-04-27 01:36:10,825 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,826 INFO sqlalchemy.engine.Engine [insertmanyvalues 143/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 143/150 (ordered; batch not supported)] ('Jehu Rudeforth', 'USA')

2025-04-27 01:36:10,846 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,851 INFO sqlalchemy.engine.Engine [insertmanyvalues 144/150 (ordered; batch not supported)] ('Roddy Speechley', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 144/150 (ordered; batch not supported)] ('Roddy Speechley', 'UK')

2025-04-27 01:36:10,853 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,854 INFO sqlalchemy.engine.Engine [insertmanyvalues 145/150 (ordered; batch not supported)] ('Jan Morforth', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 145/150 (ordered; batch not supported)] ('Jan Morforth', 'Canada')

2025-04-27 01:36:10,856 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,866 INFO sqlalchemy.engine.Engine [insertmanyvalues 146/150 (ordered; batch not supported)] ('Camilla Castle', 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 146/150 (ordered; batch not supported)] ('Camilla Castle', 'Canada')

2025-04-27 01:36:10,871 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,874 INFO sqlalchemy.engine.Engine [insertmanyvalues 147/150 (ordered; batch not supported)] ('Oby Sorrel', 'USA')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 147/150 (ordered; batch not supported)] ('Oby Sorrel', 'USA')

2025-04-27 01:36:10,894 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,898 INFO sqlalchemy.engine.Engine [insertmanyvalues 148/150 (ordered; batch not supported)] ('Jan Morforth', 'UK')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 148/150 (ordered; batch not supported)] ('Jan Morforth', 'UK')

2025-04-27 01:36:10,901 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,903 INFO sqlalchemy.engine.Engine [insertmanyvalues 149/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 149/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'India')

2025-04-27 01:36:10,907 INFO sqlalchemy.engine.Engine INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sales_person (name, country) VALUES (?, ?) RETURNING sales_person_id

2025-04-27 01:36:10,911 INFO sqlalchemy.engine.Engine [insertmanyvalues 150/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'Canada')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 150/150 (ordered; batch not supported)] ("Wilone O'Kielt", 'Canada')

2025-04-27 01:36:10,917 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2025-04-27 01:36:10,939 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-04-27 01:36:10,947 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,949 INFO sqlalchemy.engine.Engine [generated in 0.00025s (insertmanyvalues) 1/22 (ordered; batch not supported)] ('Mint Chip Choco',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00025s (insertmanyvalues) 1/22 (ordered; batch not supported)] ('Mint Chip Choco',)

2025-04-27 01:36:10,951 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,953 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/22 (ordered; batch not supported)] ('85% Dark Bars',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/22 (ordered; batch not supported)] ('85% Dark Bars',)

2025-04-27 01:36:10,956 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,958 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/22 (ordered; batch not supported)] ('Peanut Butter Cubes',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/22 (ordered; batch not supported)] ('Peanut Butter Cubes',)

2025-04-27 01:36:10,959 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,962 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/22 (ordered; batch not supported)] ('Smooth Sliky Salty',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/22 (ordered; batch not supported)] ('Smooth Sliky Salty',)

2025-04-27 01:36:10,964 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,966 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/22 (ordered; batch not supported)] ('99% Dark & Pure',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/22 (ordered; batch not supported)] ('99% Dark & Pure',)

2025-04-27 01:36:10,968 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,970 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/22 (ordered; batch not supported)] ('After Nines',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 6/22 (ordered; batch not supported)] ('After Nines',)

2025-04-27 01:36:10,972 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,974 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/22 (ordered; batch not supported)] ('50% Dark Bites',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 7/22 (ordered; batch not supported)] ('50% Dark Bites',)

2025-04-27 01:36:10,977 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,979 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/22 (ordered; batch not supported)] ('Orange Choco',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 8/22 (ordered; batch not supported)] ('Orange Choco',)

2025-04-27 01:36:10,985 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,990 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/22 (ordered; batch not supported)] ('Eclairs',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 9/22 (ordered; batch not supported)] ('Eclairs',)

2025-04-27 01:36:10,992 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,995 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/22 (ordered; batch not supported)] ('Drinking Coco',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 10/22 (ordered; batch not supported)] ('Drinking Coco',)

2025-04-27 01:36:10,997 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:10,999 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/22 (ordered; batch not supported)] ('Organic Choco Syrup',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 11/22 (ordered; batch not supported)] ('Organic Choco Syrup',)

2025-04-27 01:36:11,001 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,004 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/22 (ordered; batch not supported)] ('Milk Bars',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 12/22 (ordered; batch not supported)] ('Milk Bars',)

2025-04-27 01:36:11,005 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,008 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/22 (ordered; batch not supported)] ('Spicy Special Slims',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 13/22 (ordered; batch not supported)] ('Spicy Special Slims',)

2025-04-27 01:36:11,009 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,012 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/22 (ordered; batch not supported)] ('Fruit & Nut Bars',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 14/22 (ordered; batch not supported)] ('Fruit & Nut Bars',)

2025-04-27 01:36:11,013 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,016 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/22 (ordered; batch not supported)] ('White Choc',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 15/22 (ordered; batch not supported)] ('White Choc',)

2025-04-27 01:36:11,018 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,023 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/22 (ordered; batch not supported)] ('Manuka Honey Choco',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 16/22 (ordered; batch not supported)] ('Manuka Honey Choco',)

2025-04-27 01:36:11,026 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,030 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/22 (ordered; batch not supported)] ('Almond Choco',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 17/22 (ordered; batch not supported)] ('Almond Choco',)

2025-04-27 01:36:11,031 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,034 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/22 (ordered; batch not supported)] ('Raspberry Choco',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 18/22 (ordered; batch not supported)] ('Raspberry Choco',)

2025-04-27 01:36:11,035 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,037 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/22 (ordered; batch not supported)] ('Choco Coated Almonds',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 19/22 (ordered; batch not supported)] ('Choco Coated Almonds',)

2025-04-27 01:36:11,039 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,041 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/22 (ordered; batch not supported)] ("Baker's Choco Chips",)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 20/22 (ordered; batch not supported)] ("Baker's Choco Chips",)

2025-04-27 01:36:11,043 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,045 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/22 (ordered; batch not supported)] ('Caramel Stuffed Bars',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 21/22 (ordered; batch not supported)] ('Caramel Stuffed Bars',)

2025-04-27 01:36:11,047 INFO sqlalchemy.engine.Engine INSERT INTO product (product_name) VALUES (?) RETURNING product_id

INFO:sqlalchemy.engine.Engine:INSERT INTO product (product_name) VALUES (?) RETURNING product_id

2025-04-27 01:36:11,049 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/22 (ordered; batch not supported)] ('70% Dark Bites',)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 22/22 (ordered; batch not supported)] ('70% Dark Bites',)

2025-04-27 01:36:11,053 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [27]:
# สร้าง dictionary เอาไว้ mapping ชื่อ => id
sales_person_id_map = {sp.name: sp.sales_person_id for sp in session.query(SalesPerson).all()}
product_id_map = {p.product_name: p.product_id for p in session.query(Product).all()}

2025-04-27 01:36:21,288 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-04-27 01:36:21,293 INFO sqlalchemy.engine.Engine SELECT sales_person.sales_person_id AS sales_person_sales_person_id, sales_person.name AS sales_person_name, sales_person.country AS sales_person_country
FROM sales_person

INFO:sqlalchemy.engine.Engine:SELECT sales_person.sales_person_id AS sales_person_sales_person_id, sales_person.name AS sales_person_name, sales_person.country AS sales_person_country
FROM sales_person

2025-04-27 01:36:21,294 INFO sqlalchemy.engine.Engine [generated in 0.00165s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00165s] ()

2025-04-27 01:36:21,301 INFO sqlalchemy.engine.Engine SELECT product.product_id AS product_product_id, product.product_name AS product_product_name
FROM product

INFO:sqlalchemy.engine.Engine:SELECT product.product_id AS product_product_id, product.product_name AS product_product_name
FROM product

2025-04-27 01:36:21,302 INFO sqlalchemy.engine.Engine [generated in 0.00181s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00181s] ()

In [28]:
from datetime import datetime

# เตรียมข้อมูล Sale
sale_objects = []
for _, row in df.iterrows():
    sale = Sale(
        sales_person_id = sales_person_id_map[row['Sales Person']],
        product_id = product_id_map[row['Product']],
        date = datetime.strptime(row['Date'], "%d-%b-%y"),  # รูปแบบวันที่
        amount = float(row['Amount'].replace('$','').replace(',','')),  # แปลง amount เป็นตัวเลข
        boxes_shipped = int(row['Boxes Shipped'])
    )
    sale_objects.append(sale)

# Bulk insert
session.add_all(sale_objects)
session.commit()

2025-04-27 01:36:24,927 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,929 INFO sqlalchemy.engine.Engine [generated in 0.00398s (insertmanyvalues) 1/1094 (ordered; batch not supported)] (143, 1, '2022-01-04', 5320.0, 180)

INFO:sqlalchemy.engine.Engine:[generated in 0.00398s (insertmanyvalues) 1/1094 (ordered; batch not supported)] (143, 1, '2022-01-04', 5320.0, 180)

2025-04-27 01:36:24,931 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,933 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/1094 (ordered; batch not supported)] (61, 2, '2022-08-01', 7896.0, 94)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/1094 (ordered; batch not supported)] (61, 2, '2022-08-01', 7896.0, 94)

2025-04-27 01:36:24,935 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,936 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/1094 (ordered; batch not supported)] (119, 3, '2022-07-07', 4501.0, 91)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/1094 (ordered; batch not supported)] (119, 3, '2022-07-07', 4501.0, 91)

2025-04-27 01:36:24,938 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,940 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/1094 (ordered; batch not supported)] (148, 3, '2022-04-27', 12726.0, 342)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/1094 (ordered; batch not supported)] (148, 3, '2022-04-27', 12726.0, 342)

2025-04-27 01:36:24,941 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,943 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/1094 (ordered; batch not supported)] (143, 3, '2022-02-24', 13685.0, 184)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/1094 (ordered; batch not supported)] (143, 3, '2022-02-24', 13685.0, 184)

2025-04-27 01:36:24,944 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,945 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/1094 (ordered; batch not supported)] (61, 4, '2022-06-06', 5376.0, 38)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 6/1094 (ordered; batch not supported)] (61, 4, '2022-06-06', 5376.0, 38)

2025-04-27 01:36:24,946 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,947 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/1094 (ordered; batch not supported)] (147, 5, '2022-01-25', 13685.0, 176)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 7/1094 (ordered; batch not supported)] (147, 5, '2022-01-25', 13685.0, 176)

2025-04-27 01:36:24,948 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,949 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/1094 (ordered; batch not supported)] (135, 6, '2022-03-24', 3080.0, 73)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 8/1094 (ordered; batch not supported)] (135, 6, '2022-03-24', 3080.0, 73)

2025-04-27 01:36:24,951 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,957 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/1094 (ordered; batch not supported)] (143, 7, '2022-04-20', 3990.0, 59)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 9/1094 (ordered; batch not supported)] (143, 7, '2022-04-20', 3990.0, 59)

2025-04-27 01:36:24,960 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,963 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/1094 (ordered; batch not supported)] (136, 5, '2022-07-04', 2835.0, 102)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 10/1094 (ordered; batch not supported)] (136, 5, '2022-07-04', 2835.0, 102)

2025-04-27 01:36:24,966 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,968 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/1094 (ordered; batch not supported)] (140, 4, '2022-01-13', 4704.0, 62)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 11/1094 (ordered; batch not supported)] (140, 4, '2022-01-13', 4704.0, 62)

2025-04-27 01:36:24,970 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,973 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/1094 (ordered; batch not supported)] (102, 8, '2022-03-10', 3703.0, 11)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 12/1094 (ordered; batch not supported)] (102, 8, '2022-03-10', 3703.0, 11)

2025-04-27 01:36:24,975 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,979 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/1094 (ordered; batch not supported)] (137, 9, '2022-01-13', 1442.0, 286)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 13/1094 (ordered; batch not supported)] (137, 9, '2022-01-13', 1442.0, 286)

2025-04-27 01:36:24,981 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,988 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/1094 (ordered; batch not supported)] (106, 10, '2022-07-28', 168.0, 156)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 14/1094 (ordered; batch not supported)] (106, 10, '2022-07-28', 168.0, 156)

2025-04-27 01:36:24,989 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,994 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/1094 (ordered; batch not supported)] (120, 3, '2022-08-03', 8379.0, 173)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 15/1094 (ordered; batch not supported)] (120, 3, '2022-08-03', 8379.0, 173)

2025-04-27 01:36:24,996 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:24,998 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/1094 (ordered; batch not supported)] (107, 11, '2022-01-26', 6790.0, 356)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 16/1094 (ordered; batch not supported)] (107, 11, '2022-01-26', 6790.0, 356)

2025-04-27 01:36:25,000 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,003 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/1094 (ordered; batch not supported)] (61, 11, '2022-02-14', 4067.0, 42)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 17/1094 (ordered; batch not supported)] (61, 11, '2022-02-14', 4067.0, 42)

2025-04-27 01:36:25,005 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,006 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/1094 (ordered; batch not supported)] (144, 4, '2022-04-05', 3017.0, 140)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 18/1094 (ordered; batch not supported)] (144, 4, '2022-04-05', 3017.0, 140)

2025-04-27 01:36:25,007 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,008 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/1094 (ordered; batch not supported)] (107, 12, '2022-02-16', 8799.0, 250)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 19/1094 (ordered; batch not supported)] (107, 12, '2022-02-16', 8799.0, 250)

2025-04-27 01:36:25,009 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,010 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/1094 (ordered; batch not supported)] (141, 2, '2022-06-08', 1085.0, 172)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 20/1094 (ordered; batch not supported)] (141, 2, '2022-06-08', 1085.0, 172)

2025-04-27 01:36:25,013 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,014 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/1094 (ordered; batch not supported)] (136, 9, '2022-06-27', 6888.0, 88)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 21/1094 (ordered; batch not supported)] (136, 9, '2022-06-27', 6888.0, 88)

2025-04-27 01:36:25,015 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,016 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/1094 (ordered; batch not supported)] (135, 13, '2022-02-17', 1267.0, 157)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 22/1094 (ordered; batch not supported)] (135, 13, '2022-02-17', 1267.0, 157)

2025-04-27 01:36:25,017 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,020 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/1094 (ordered; batch not supported)] (120, 6, '2022-05-30', 4753.0, 163)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 23/1094 (ordered; batch not supported)] (120, 6, '2022-05-30', 4753.0, 163)

2025-04-27 01:36:25,022 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,023 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/1094 (ordered; batch not supported)] (142, 10, '2022-03-14', 3003.0, 113)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 24/1094 (ordered; batch not supported)] (142, 10, '2022-03-14', 3003.0, 113)

2025-04-27 01:36:25,024 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,027 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/1094 (ordered; batch not supported)] (133, 9, '2022-02-28', 7672.0, 115)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 25/1094 (ordered; batch not supported)] (133, 9, '2022-02-28', 7672.0, 115)

2025-04-27 01:36:25,028 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,029 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/1094 (ordered; batch not supported)] (106, 14, '2022-01-26', 168.0, 321)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 26/1094 (ordered; batch not supported)] (106, 14, '2022-01-26', 168.0, 321)

2025-04-27 01:36:25,030 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,031 INFO sqlalchemy.engine.Engine [insertmanyvalues 27/1094 (ordered; batch not supported)] (144, 13, '2022-02-09', 1652.0, 186)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 27/1094 (ordered; batch not supported)] (144, 13, '2022-02-09', 1652.0, 186)

2025-04-27 01:36:25,036 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,037 INFO sqlalchemy.engine.Engine [insertmanyvalues 28/1094 (ordered; batch not supported)] (142, 9, '2022-07-07', 4025.0, 112)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 28/1094 (ordered; batch not supported)] (142, 9, '2022-07-07', 4025.0, 112)

2025-04-27 01:36:25,039 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,040 INFO sqlalchemy.engine.Engine [insertmanyvalues 29/1094 (ordered; batch not supported)] (122, 15, '2022-07-05', 9492.0, 151)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 29/1094 (ordered; batch not supported)] (122, 15, '2022-07-05', 9492.0, 151)

2025-04-27 01:36:25,041 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,042 INFO sqlalchemy.engine.Engine [insertmanyvalues 30/1094 (ordered; batch not supported)] (122, 16, '2022-06-15', 5061.0, 301)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 30/1094 (ordered; batch not supported)] (122, 16, '2022-06-15', 5061.0, 301)

2025-04-27 01:36:25,043 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,048 INFO sqlalchemy.engine.Engine [insertmanyvalues 31/1094 (ordered; batch not supported)] (61, 2, '2022-05-24', 1722.0, 121)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 31/1094 (ordered; batch not supported)] (61, 2, '2022-05-24', 1722.0, 121)

2025-04-27 01:36:25,049 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,050 INFO sqlalchemy.engine.Engine [insertmanyvalues 32/1094 (ordered; batch not supported)] (140, 5, '2022-06-29', 12446.0, 150)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 32/1094 (ordered; batch not supported)] (140, 5, '2022-06-29', 12446.0, 150)

2025-04-27 01:36:25,051 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,053 INFO sqlalchemy.engine.Engine [insertmanyvalues 33/1094 (ordered; batch not supported)] (150, 16, '2022-05-11', 4284.0, 94)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 33/1094 (ordered; batch not supported)] (150, 16, '2022-05-11', 4284.0, 94)

2025-04-27 01:36:25,054 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,055 INFO sqlalchemy.engine.Engine [insertmanyvalues 34/1094 (ordered; batch not supported)] (106, 17, '2022-06-30', 6839.0, 133)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 34/1094 (ordered; batch not supported)] (106, 17, '2022-06-30', 6839.0, 133)

2025-04-27 01:36:25,057 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,057 INFO sqlalchemy.engine.Engine [insertmanyvalues 35/1094 (ordered; batch not supported)] (63, 6, '2022-05-11', 2163.0, 70)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 35/1094 (ordered; batch not supported)] (63, 6, '2022-05-11', 2163.0, 70)

2025-04-27 01:36:25,062 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,063 INFO sqlalchemy.engine.Engine [insertmanyvalues 36/1094 (ordered; batch not supported)] (144, 16, '2022-07-22', 9583.0, 315)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 36/1094 (ordered; batch not supported)] (144, 16, '2022-07-22', 9583.0, 315)

2025-04-27 01:36:25,064 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,065 INFO sqlalchemy.engine.Engine [insertmanyvalues 37/1094 (ordered; batch not supported)] (63, 7, '2022-08-24', 2653.0, 314)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 37/1094 (ordered; batch not supported)] (63, 7, '2022-08-24', 2653.0, 314)

2025-04-27 01:36:25,066 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,067 INFO sqlalchemy.engine.Engine [insertmanyvalues 38/1094 (ordered; batch not supported)] (77, 6, '2022-07-07', 147.0, 72)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 38/1094 (ordered; batch not supported)] (77, 6, '2022-07-07', 147.0, 72)

2025-04-27 01:36:25,068 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,069 INFO sqlalchemy.engine.Engine [insertmanyvalues 39/1094 (ordered; batch not supported)] (146, 2, '2022-05-19', 3654.0, 14)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 39/1094 (ordered; batch not supported)] (146, 2, '2022-05-19', 3654.0, 14)

2025-04-27 01:36:25,070 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,071 INFO sqlalchemy.engine.Engine [insertmanyvalues 40/1094 (ordered; batch not supported)] (106, 16, '2022-07-04', 2443.0, 581)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 40/1094 (ordered; batch not supported)] (106, 16, '2022-07-04', 2443.0, 581)

2025-04-27 01:36:25,072 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,073 INFO sqlalchemy.engine.Engine [insertmanyvalues 41/1094 (ordered; batch not supported)] (77, 6, '2022-06-02', 938.0, 16)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 41/1094 (ordered; batch not supported)] (77, 6, '2022-06-02', 938.0, 16)

2025-04-27 01:36:25,074 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,075 INFO sqlalchemy.engine.Engine [insertmanyvalues 42/1094 (ordered; batch not supported)] (106, 18, '2022-04-15', 14749.0, 354)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 42/1094 (ordered; batch not supported)] (106, 18, '2022-04-15', 14749.0, 354)

2025-04-27 01:36:25,076 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,077 INFO sqlalchemy.engine.Engine [insertmanyvalues 43/1094 (ordered; batch not supported)] (137, 19, '2022-07-11', 4781.0, 241)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 43/1094 (ordered; batch not supported)] (137, 19, '2022-07-11', 4781.0, 241)

2025-04-27 01:36:25,078 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,079 INFO sqlalchemy.engine.Engine [insertmanyvalues 44/1094 (ordered; batch not supported)] (63, 13, '2022-02-23', 6307.0, 142)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 44/1094 (ordered; batch not supported)] (63, 13, '2022-02-23', 6307.0, 142)

2025-04-27 01:36:25,080 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,081 INFO sqlalchemy.engine.Engine [insertmanyvalues 45/1094 (ordered; batch not supported)] (131, 17, '2022-08-22', 7602.0, 102)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 45/1094 (ordered; batch not supported)] (131, 17, '2022-08-22', 7602.0, 102)

2025-04-27 01:36:25,082 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,083 INFO sqlalchemy.engine.Engine [insertmanyvalues 46/1094 (ordered; batch not supported)] (133, 3, '2022-02-16', 6790.0, 188)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 46/1094 (ordered; batch not supported)] (133, 3, '2022-02-16', 6790.0, 188)

2025-04-27 01:36:25,090 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,092 INFO sqlalchemy.engine.Engine [insertmanyvalues 47/1094 (ordered; batch not supported)] (61, 7, '2022-01-13', 9737.0, 160)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 47/1094 (ordered; batch not supported)] (61, 7, '2022-01-13', 9737.0, 160)

2025-04-27 01:36:25,097 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,101 INFO sqlalchemy.engine.Engine [insertmanyvalues 48/1094 (ordered; batch not supported)] (141, 12, '2022-02-14', 6979.0, 18)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 48/1094 (ordered; batch not supported)] (141, 12, '2022-02-14', 6979.0, 18)

2025-04-27 01:36:25,103 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,106 INFO sqlalchemy.engine.Engine [insertmanyvalues 49/1094 (ordered; batch not supported)] (144, 9, '2022-06-10', 4382.0, 303)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 49/1094 (ordered; batch not supported)] (144, 9, '2022-06-10', 4382.0, 303)

2025-04-27 01:36:25,108 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,110 INFO sqlalchemy.engine.Engine [insertmanyvalues 50/1094 (ordered; batch not supported)] (141, 14, '2022-07-07', 5243.0, 176)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 50/1094 (ordered; batch not supported)] (141, 14, '2022-07-07', 5243.0, 176)

2025-04-27 01:36:25,112 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,119 INFO sqlalchemy.engine.Engine [insertmanyvalues 51/1094 (ordered; batch not supported)] (141, 17, '2022-03-24', 4865.0, 70)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 51/1094 (ordered; batch not supported)] (141, 17, '2022-03-24', 4865.0, 70)

2025-04-27 01:36:25,120 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,121 INFO sqlalchemy.engine.Engine [insertmanyvalues 52/1094 (ordered; batch not supported)] (136, 14, '2022-06-06', 8575.0, 23)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 52/1094 (ordered; batch not supported)] (136, 14, '2022-06-06', 8575.0, 23)

2025-04-27 01:36:25,122 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,123 INFO sqlalchemy.engine.Engine [insertmanyvalues 53/1094 (ordered; batch not supported)] (138, 10, '2022-07-19', 91.0, 135)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 53/1094 (ordered; batch not supported)] (138, 10, '2022-07-19', 91.0, 135)

2025-04-27 01:36:25,126 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,127 INFO sqlalchemy.engine.Engine [insertmanyvalues 54/1094 (ordered; batch not supported)] (107, 18, '2022-04-19', 14798.0, 83)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 54/1094 (ordered; batch not supported)] (107, 18, '2022-04-19', 14798.0, 83)

2025-04-27 01:36:25,128 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,129 INFO sqlalchemy.engine.Engine [insertmanyvalues 55/1094 (ordered; batch not supported)] (120, 2, '2022-07-19', 2205.0, 179)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 55/1094 (ordered; batch not supported)] (120, 2, '2022-07-19', 2205.0, 179)

2025-04-27 01:36:25,130 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,131 INFO sqlalchemy.engine.Engine [insertmanyvalues 56/1094 (ordered; batch not supported)] (143, 10, '2022-07-15', 441.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 56/1094 (ordered; batch not supported)] (143, 10, '2022-07-15', 441.0, 24)

2025-04-27 01:36:25,135 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,136 INFO sqlalchemy.engine.Engine [insertmanyvalues 57/1094 (ordered; batch not supported)] (124, 13, '2022-02-14', 3556.0, 18)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 57/1094 (ordered; batch not supported)] (124, 13, '2022-02-14', 3556.0, 18)

2025-04-27 01:36:25,137 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,138 INFO sqlalchemy.engine.Engine [insertmanyvalues 58/1094 (ordered; batch not supported)] (136, 5, '2022-05-18', 16793.0, 416)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 58/1094 (ordered; batch not supported)] (136, 5, '2022-05-18', 16793.0, 416)

2025-04-27 01:36:25,139 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,140 INFO sqlalchemy.engine.Engine [insertmanyvalues 59/1094 (ordered; batch not supported)] (102, 14, '2022-06-30', 15421.0, 55)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 59/1094 (ordered; batch not supported)] (102, 14, '2022-06-30', 15421.0, 55)

2025-04-27 01:36:25,141 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,142 INFO sqlalchemy.engine.Engine [insertmanyvalues 60/1094 (ordered; batch not supported)] (63, 7, '2022-06-02', 4438.0, 227)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 60/1094 (ordered; batch not supported)] (63, 7, '2022-06-02', 4438.0, 227)

2025-04-27 01:36:25,143 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,146 INFO sqlalchemy.engine.Engine [insertmanyvalues 61/1094 (ordered; batch not supported)] (63, 10, '2022-06-28', 1603.0, 48)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 61/1094 (ordered; batch not supported)] (63, 10, '2022-06-28', 1603.0, 48)

2025-04-27 01:36:25,147 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,149 INFO sqlalchemy.engine.Engine [insertmanyvalues 62/1094 (ordered; batch not supported)] (120, 11, '2022-05-16', 273.0, 174)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 62/1094 (ordered; batch not supported)] (120, 11, '2022-05-16', 273.0, 174)

2025-04-27 01:36:25,150 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,151 INFO sqlalchemy.engine.Engine [insertmanyvalues 63/1094 (ordered; batch not supported)] (77, 20, '2022-05-26', 3073.0, 302)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 63/1094 (ordered; batch not supported)] (77, 20, '2022-05-26', 3073.0, 302)

2025-04-27 01:36:25,153 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,154 INFO sqlalchemy.engine.Engine [insertmanyvalues 64/1094 (ordered; batch not supported)] (106, 17, '2022-07-06', 6090.0, 149)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 64/1094 (ordered; batch not supported)] (106, 17, '2022-07-06', 6090.0, 149)

2025-04-27 01:36:25,155 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,156 INFO sqlalchemy.engine.Engine [insertmanyvalues 65/1094 (ordered; batch not supported)] (147, 5, '2022-05-27', 10255.0, 11)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 65/1094 (ordered; batch not supported)] (147, 5, '2022-05-27', 10255.0, 11)

2025-04-27 01:36:25,157 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,160 INFO sqlalchemy.engine.Engine [insertmanyvalues 66/1094 (ordered; batch not supported)] (150, 21, '2022-04-14', 2030.0, 11)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 66/1094 (ordered; batch not supported)] (150, 21, '2022-04-14', 2030.0, 11)

2025-04-27 01:36:25,161 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,162 INFO sqlalchemy.engine.Engine [insertmanyvalues 67/1094 (ordered; batch not supported)] (61, 11, '2022-08-10', 19453.0, 14)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 67/1094 (ordered; batch not supported)] (61, 11, '2022-08-10', 19453.0, 14)

2025-04-27 01:36:25,163 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,166 INFO sqlalchemy.engine.Engine [insertmanyvalues 68/1094 (ordered; batch not supported)] (146, 7, '2022-07-04', 9275.0, 411)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 68/1094 (ordered; batch not supported)] (146, 7, '2022-07-04', 9275.0, 411)

2025-04-27 01:36:25,168 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,169 INFO sqlalchemy.engine.Engine [insertmanyvalues 69/1094 (ordered; batch not supported)] (147, 11, '2022-07-08', 6181.0, 56)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 69/1094 (ordered; batch not supported)] (147, 11, '2022-07-08', 6181.0, 56)

2025-04-27 01:36:25,170 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,171 INFO sqlalchemy.engine.Engine [insertmanyvalues 70/1094 (ordered; batch not supported)] (148, 3, '2022-07-22', 9037.0, 102)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 70/1094 (ordered; batch not supported)] (148, 3, '2022-07-22', 9037.0, 102)

2025-04-27 01:36:25,174 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,175 INFO sqlalchemy.engine.Engine [insertmanyvalues 71/1094 (ordered; batch not supported)] (119, 19, '2022-03-02', 12313.0, 103)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 71/1094 (ordered; batch not supported)] (119, 19, '2022-03-02', 12313.0, 103)

2025-04-27 01:36:25,176 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,177 INFO sqlalchemy.engine.Engine [insertmanyvalues 72/1094 (ordered; batch not supported)] (119, 17, '2022-01-10', 5642.0, 9)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 72/1094 (ordered; batch not supported)] (119, 17, '2022-01-10', 5642.0, 9)

2025-04-27 01:36:25,178 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,182 INFO sqlalchemy.engine.Engine [insertmanyvalues 73/1094 (ordered; batch not supported)] (143, 15, '2022-03-11', 2800.0, 241)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 73/1094 (ordered; batch not supported)] (143, 15, '2022-03-11', 2800.0, 241)

2025-04-27 01:36:25,183 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,184 INFO sqlalchemy.engine.Engine [insertmanyvalues 74/1094 (ordered; batch not supported)] (63, 3, '2022-06-20', 959.0, 265)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 74/1094 (ordered; batch not supported)] (63, 3, '2022-06-20', 959.0, 265)

2025-04-27 01:36:25,185 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,187 INFO sqlalchemy.engine.Engine [insertmanyvalues 75/1094 (ordered; batch not supported)] (61, 11, '2022-08-26', 2002.0, 214)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 75/1094 (ordered; batch not supported)] (61, 11, '2022-08-26', 2002.0, 214)

2025-04-27 01:36:25,188 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,193 INFO sqlalchemy.engine.Engine [insertmanyvalues 76/1094 (ordered; batch not supported)] (144, 12, '2022-07-13', 609.0, 32)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 76/1094 (ordered; batch not supported)] (144, 12, '2022-07-13', 609.0, 32)

2025-04-27 01:36:25,194 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,195 INFO sqlalchemy.engine.Engine [insertmanyvalues 77/1094 (ordered; batch not supported)] (146, 13, '2022-02-11', 1274.0, 244)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 77/1094 (ordered; batch not supported)] (146, 13, '2022-02-11', 1274.0, 244)

2025-04-27 01:36:25,196 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,197 INFO sqlalchemy.engine.Engine [insertmanyvalues 78/1094 (ordered; batch not supported)] (120, 8, '2022-01-27', 7595.0, 181)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 78/1094 (ordered; batch not supported)] (120, 8, '2022-01-27', 7595.0, 181)

2025-04-27 01:36:25,198 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,199 INFO sqlalchemy.engine.Engine [insertmanyvalues 79/1094 (ordered; batch not supported)] (61, 5, '2022-01-31', 4725.0, 137)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 79/1094 (ordered; batch not supported)] (61, 5, '2022-01-31', 4725.0, 137)

2025-04-27 01:36:25,203 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,204 INFO sqlalchemy.engine.Engine [insertmanyvalues 80/1094 (ordered; batch not supported)] (146, 15, '2022-08-18', 9681.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 80/1094 (ordered; batch not supported)] (146, 15, '2022-08-18', 9681.0, 24)

2025-04-27 01:36:25,205 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,206 INFO sqlalchemy.engine.Engine [insertmanyvalues 81/1094 (ordered; batch not supported)] (63, 18, '2022-06-30', 14504.0, 21)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 81/1094 (ordered; batch not supported)] (63, 18, '2022-06-30', 14504.0, 21)

2025-04-27 01:36:25,208 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,208 INFO sqlalchemy.engine.Engine [insertmanyvalues 82/1094 (ordered; batch not supported)] (138, 14, '2022-08-23', 280.0, 311)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 82/1094 (ordered; batch not supported)] (138, 14, '2022-08-23', 280.0, 311)

2025-04-27 01:36:25,209 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,210 INFO sqlalchemy.engine.Engine [insertmanyvalues 83/1094 (ordered; batch not supported)] (136, 1, '2022-08-01', 63.0, 181)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 83/1094 (ordered; batch not supported)] (136, 1, '2022-08-01', 63.0, 181)

2025-04-27 01:36:25,211 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,211 INFO sqlalchemy.engine.Engine [insertmanyvalues 84/1094 (ordered; batch not supported)] (144, 6, '2022-05-25', 8001.0, 10)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 84/1094 (ordered; batch not supported)] (144, 6, '2022-05-25', 8001.0, 10)

2025-04-27 01:36:25,214 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,216 INFO sqlalchemy.engine.Engine [insertmanyvalues 85/1094 (ordered; batch not supported)] (144, 11, '2022-01-10', 4032.0, 82)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 85/1094 (ordered; batch not supported)] (144, 11, '2022-01-10', 4032.0, 82)

2025-04-27 01:36:25,217 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,218 INFO sqlalchemy.engine.Engine [insertmanyvalues 86/1094 (ordered; batch not supported)] (122, 22, '2022-02-07', 5859.0, 108)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 86/1094 (ordered; batch not supported)] (122, 22, '2022-02-07', 5859.0, 108)

2025-04-27 01:36:25,219 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,223 INFO sqlalchemy.engine.Engine [insertmanyvalues 87/1094 (ordered; batch not supported)] (106, 8, '2022-05-12', 11095.0, 401)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 87/1094 (ordered; batch not supported)] (106, 8, '2022-05-12', 11095.0, 401)

2025-04-27 01:36:25,224 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,225 INFO sqlalchemy.engine.Engine [insertmanyvalues 88/1094 (ordered; batch not supported)] (131, 13, '2022-03-07', 7182.0, 408)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 88/1094 (ordered; batch not supported)] (131, 13, '2022-03-07', 7182.0, 408)

2025-04-27 01:36:25,226 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,227 INFO sqlalchemy.engine.Engine [insertmanyvalues 89/1094 (ordered; batch not supported)] (122, 2, '2022-04-05', 6881.0, 420)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 89/1094 (ordered; batch not supported)] (122, 2, '2022-04-05', 6881.0, 420)

2025-04-27 01:36:25,229 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,229 INFO sqlalchemy.engine.Engine [insertmanyvalues 90/1094 (ordered; batch not supported)] (63, 21, '2022-01-03', 7154.0, 348)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 90/1094 (ordered; batch not supported)] (63, 21, '2022-01-03', 7154.0, 348)

2025-04-27 01:36:25,231 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,231 INFO sqlalchemy.engine.Engine [insertmanyvalues 91/1094 (ordered; batch not supported)] (122, 9, '2022-03-24', 6188.0, 270)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 91/1094 (ordered; batch not supported)] (122, 9, '2022-03-24', 6188.0, 270)

2025-04-27 01:36:25,232 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,234 INFO sqlalchemy.engine.Engine [insertmanyvalues 92/1094 (ordered; batch not supported)] (131, 18, '2022-07-07', 4221.0, 9)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 92/1094 (ordered; batch not supported)] (131, 18, '2022-07-07', 4221.0, 9)

2025-04-27 01:36:25,235 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,236 INFO sqlalchemy.engine.Engine [insertmanyvalues 93/1094 (ordered; batch not supported)] (61, 6, '2022-07-26', 630.0, 264)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 93/1094 (ordered; batch not supported)] (61, 6, '2022-07-26', 630.0, 264)

2025-04-27 01:36:25,237 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,238 INFO sqlalchemy.engine.Engine [insertmanyvalues 94/1094 (ordered; batch not supported)] (150, 11, '2022-07-07', 1743.0, 111)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 94/1094 (ordered; batch not supported)] (150, 11, '2022-07-07', 1743.0, 111)

2025-04-27 01:36:25,239 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,240 INFO sqlalchemy.engine.Engine [insertmanyvalues 95/1094 (ordered; batch not supported)] (106, 7, '2022-07-15', 2919.0, 65)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 95/1094 (ordered; batch not supported)] (106, 7, '2022-07-15', 2919.0, 65)

2025-04-27 01:36:25,241 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,242 INFO sqlalchemy.engine.Engine [insertmanyvalues 96/1094 (ordered; batch not supported)] (144, 8, '2022-04-01', 49.0, 97)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 96/1094 (ordered; batch not supported)] (144, 8, '2022-04-01', 49.0, 97)

2025-04-27 01:36:25,243 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,244 INFO sqlalchemy.engine.Engine [insertmanyvalues 97/1094 (ordered; batch not supported)] (107, 9, '2022-06-20', 1827.0, 6)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 97/1094 (ordered; batch not supported)] (107, 9, '2022-06-20', 1827.0, 6)

2025-04-27 01:36:25,245 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,246 INFO sqlalchemy.engine.Engine [insertmanyvalues 98/1094 (ordered; batch not supported)] (77, 14, '2022-06-29', 13006.0, 482)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 98/1094 (ordered; batch not supported)] (77, 14, '2022-06-29', 13006.0, 482)

2025-04-27 01:36:25,247 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,248 INFO sqlalchemy.engine.Engine [insertmanyvalues 99/1094 (ordered; batch not supported)] (120, 7, '2022-06-15', 1064.0, 106)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 99/1094 (ordered; batch not supported)] (120, 7, '2022-06-15', 1064.0, 106)

2025-04-27 01:36:25,249 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,250 INFO sqlalchemy.engine.Engine [insertmanyvalues 100/1094 (ordered; batch not supported)] (142, 6, '2022-04-08', 11571.0, 180)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 100/1094 (ordered; batch not supported)] (142, 6, '2022-04-08', 11571.0, 180)

2025-04-27 01:36:25,251 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,254 INFO sqlalchemy.engine.Engine [insertmanyvalues 101/1094 (ordered; batch not supported)] (122, 18, '2022-03-14', 5740.0, 31)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 101/1094 (ordered; batch not supported)] (122, 18, '2022-03-14', 5740.0, 31)

2025-04-27 01:36:25,255 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,257 INFO sqlalchemy.engine.Engine [insertmanyvalues 102/1094 (ordered; batch not supported)] (63, 14, '2022-07-15', 1456.0, 359)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 102/1094 (ordered; batch not supported)] (63, 14, '2022-07-15', 1456.0, 359)

2025-04-27 01:36:25,258 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,259 INFO sqlalchemy.engine.Engine [insertmanyvalues 103/1094 (ordered; batch not supported)] (77, 9, '2022-04-19', 5334.0, 80)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 103/1094 (ordered; batch not supported)] (77, 9, '2022-04-19', 5334.0, 80)

2025-04-27 01:36:25,260 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,261 INFO sqlalchemy.engine.Engine [insertmanyvalues 104/1094 (ordered; batch not supported)] (120, 5, '2022-03-28', 4151.0, 296)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 104/1094 (ordered; batch not supported)] (120, 5, '2022-03-28', 4151.0, 296)

2025-04-27 01:36:25,262 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,263 INFO sqlalchemy.engine.Engine [insertmanyvalues 105/1094 (ordered; batch not supported)] (136, 13, '2022-03-04', 8106.0, 101)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 105/1094 (ordered; batch not supported)] (136, 13, '2022-03-04', 8106.0, 101)

2025-04-27 01:36:25,264 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,265 INFO sqlalchemy.engine.Engine [insertmanyvalues 106/1094 (ordered; batch not supported)] (106, 22, '2022-08-02', 126.0, 40)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 106/1094 (ordered; batch not supported)] (106, 22, '2022-08-02', 126.0, 40)

2025-04-27 01:36:25,266 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,269 INFO sqlalchemy.engine.Engine [insertmanyvalues 107/1094 (ordered; batch not supported)] (142, 13, '2022-08-25', 4697.0, 42)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 107/1094 (ordered; batch not supported)] (142, 13, '2022-08-25', 4697.0, 42)

2025-04-27 01:36:25,270 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,271 INFO sqlalchemy.engine.Engine [insertmanyvalues 108/1094 (ordered; batch not supported)] (120, 17, '2022-02-25', 7798.0, 167)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 108/1094 (ordered; batch not supported)] (120, 17, '2022-02-25', 7798.0, 167)

2025-04-27 01:36:25,272 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,274 INFO sqlalchemy.engine.Engine [insertmanyvalues 109/1094 (ordered; batch not supported)] (77, 8, '2022-06-07', 9408.0, 138)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 109/1094 (ordered; batch not supported)] (77, 8, '2022-06-07', 9408.0, 138)

2025-04-27 01:36:25,275 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,276 INFO sqlalchemy.engine.Engine [insertmanyvalues 110/1094 (ordered; batch not supported)] (148, 13, '2022-04-12', 1939.0, 520)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 110/1094 (ordered; batch not supported)] (148, 13, '2022-04-12', 1939.0, 520)

2025-04-27 01:36:25,277 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,278 INFO sqlalchemy.engine.Engine [insertmanyvalues 111/1094 (ordered; batch not supported)] (124, 13, '2022-07-06', 10906.0, 94)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 111/1094 (ordered; batch not supported)] (124, 13, '2022-07-06', 10906.0, 94)

2025-04-27 01:36:25,279 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,282 INFO sqlalchemy.engine.Engine [insertmanyvalues 112/1094 (ordered; batch not supported)] (77, 4, '2022-01-19', 5929.0, 175)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 112/1094 (ordered; batch not supported)] (77, 4, '2022-01-19', 5929.0, 175)

2025-04-27 01:36:25,283 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,284 INFO sqlalchemy.engine.Engine [insertmanyvalues 113/1094 (ordered; batch not supported)] (131, 14, '2022-01-05', 5579.0, 92)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 113/1094 (ordered; batch not supported)] (131, 14, '2022-01-05', 5579.0, 92)

2025-04-27 01:36:25,286 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,286 INFO sqlalchemy.engine.Engine [insertmanyvalues 114/1094 (ordered; batch not supported)] (131, 22, '2022-01-24', 10927.0, 141)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 114/1094 (ordered; batch not supported)] (131, 22, '2022-01-24', 10927.0, 141)

2025-04-27 01:36:25,288 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,289 INFO sqlalchemy.engine.Engine [insertmanyvalues 115/1094 (ordered; batch not supported)] (150, 10, '2022-04-06', 623.0, 283)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 115/1094 (ordered; batch not supported)] (150, 10, '2022-04-06', 623.0, 283)

2025-04-27 01:36:25,290 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,291 INFO sqlalchemy.engine.Engine [insertmanyvalues 116/1094 (ordered; batch not supported)] (135, 14, '2022-06-15', 6013.0, 21)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 116/1094 (ordered; batch not supported)] (135, 14, '2022-06-15', 6013.0, 21)

2025-04-27 01:36:25,292 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,293 INFO sqlalchemy.engine.Engine [insertmanyvalues 117/1094 (ordered; batch not supported)] (119, 20, '2022-01-28', 1505.0, 47)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 117/1094 (ordered; batch not supported)] (119, 20, '2022-01-28', 1505.0, 47)

2025-04-27 01:36:25,294 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,295 INFO sqlalchemy.engine.Engine [insertmanyvalues 118/1094 (ordered; batch not supported)] (77, 21, '2022-03-16', 476.0, 125)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 118/1094 (ordered; batch not supported)] (77, 21, '2022-03-16', 476.0, 125)

2025-04-27 01:36:25,296 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,299 INFO sqlalchemy.engine.Engine [insertmanyvalues 119/1094 (ordered; batch not supported)] (140, 10, '2022-02-21', 11550.0, 396)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 119/1094 (ordered; batch not supported)] (140, 10, '2022-02-21', 11550.0, 396)

2025-04-27 01:36:25,300 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,301 INFO sqlalchemy.engine.Engine [insertmanyvalues 120/1094 (ordered; batch not supported)] (77, 16, '2022-02-16', 17318.0, 87)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 120/1094 (ordered; batch not supported)] (77, 16, '2022-02-16', 17318.0, 87)

2025-04-27 01:36:25,302 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,303 INFO sqlalchemy.engine.Engine [insertmanyvalues 121/1094 (ordered; batch not supported)] (143, 13, '2022-01-13', 1848.0, 27)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 121/1094 (ordered; batch not supported)] (143, 13, '2022-01-13', 1848.0, 27)

2025-04-27 01:36:25,304 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,305 INFO sqlalchemy.engine.Engine [insertmanyvalues 122/1094 (ordered; batch not supported)] (77, 9, '2022-03-23', 7273.0, 547)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 122/1094 (ordered; batch not supported)] (77, 9, '2022-03-23', 7273.0, 547)

2025-04-27 01:36:25,306 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,307 INFO sqlalchemy.engine.Engine [insertmanyvalues 123/1094 (ordered; batch not supported)] (141, 13, '2022-06-16', 854.0, 118)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 123/1094 (ordered; batch not supported)] (141, 13, '2022-06-16', 854.0, 118)

2025-04-27 01:36:25,308 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,309 INFO sqlalchemy.engine.Engine [insertmanyvalues 124/1094 (ordered; batch not supported)] (147, 18, '2022-04-14', 6832.0, 46)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 124/1094 (ordered; batch not supported)] (147, 18, '2022-04-14', 6832.0, 46)

2025-04-27 01:36:25,310 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,311 INFO sqlalchemy.engine.Engine [insertmanyvalues 125/1094 (ordered; batch not supported)] (77, 9, '2022-01-25', 4606.0, 57)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 125/1094 (ordered; batch not supported)] (77, 9, '2022-01-25', 4606.0, 57)

2025-04-27 01:36:25,312 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,313 INFO sqlalchemy.engine.Engine [insertmanyvalues 126/1094 (ordered; batch not supported)] (148, 17, '2022-03-11', 4466.0, 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 126/1094 (ordered; batch not supported)] (148, 17, '2022-03-11', 4466.0, 22)

2025-04-27 01:36:25,314 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,315 INFO sqlalchemy.engine.Engine [insertmanyvalues 127/1094 (ordered; batch not supported)] (138, 17, '2022-07-28', 16114.0, 96)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 127/1094 (ordered; batch not supported)] (138, 17, '2022-07-28', 16114.0, 96)

2025-04-27 01:36:25,316 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,317 INFO sqlalchemy.engine.Engine [insertmanyvalues 128/1094 (ordered; batch not supported)] (120, 6, '2022-03-09', 1561.0, 44)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 128/1094 (ordered; batch not supported)] (120, 6, '2022-03-09', 1561.0, 44)

2025-04-27 01:36:25,318 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,319 INFO sqlalchemy.engine.Engine [insertmanyvalues 129/1094 (ordered; batch not supported)] (142, 8, '2022-06-28', 8897.0, 188)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 129/1094 (ordered; batch not supported)] (142, 8, '2022-06-28', 8897.0, 188)

2025-04-27 01:36:25,320 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,321 INFO sqlalchemy.engine.Engine [insertmanyvalues 130/1094 (ordered; batch not supported)] (120, 12, '2022-07-28', 2464.0, 387)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 130/1094 (ordered; batch not supported)] (120, 12, '2022-07-28', 2464.0, 387)

2025-04-27 01:36:25,322 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,323 INFO sqlalchemy.engine.Engine [insertmanyvalues 131/1094 (ordered; batch not supported)] (77, 5, '2022-08-15', 4830.0, 50)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 131/1094 (ordered; batch not supported)] (77, 5, '2022-08-15', 4830.0, 50)

2025-04-27 01:36:25,324 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,325 INFO sqlalchemy.engine.Engine [insertmanyvalues 132/1094 (ordered; batch not supported)] (133, 16, '2022-01-12', 2765.0, 264)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 132/1094 (ordered; batch not supported)] (133, 16, '2022-01-12', 2765.0, 264)

2025-04-27 01:36:25,326 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,327 INFO sqlalchemy.engine.Engine [insertmanyvalues 133/1094 (ordered; batch not supported)] (107, 15, '2022-03-24', 7126.0, 7)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 133/1094 (ordered; batch not supported)] (107, 15, '2022-03-24', 7126.0, 7)

2025-04-27 01:36:25,328 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,329 INFO sqlalchemy.engine.Engine [insertmanyvalues 134/1094 (ordered; batch not supported)] (61, 12, '2022-07-25', 4263.0, 90)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 134/1094 (ordered; batch not supported)] (61, 12, '2022-07-25', 4263.0, 90)

2025-04-27 01:36:25,330 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,331 INFO sqlalchemy.engine.Engine [insertmanyvalues 135/1094 (ordered; batch not supported)] (147, 5, '2022-08-01', 3605.0, 403)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 135/1094 (ordered; batch not supported)] (147, 5, '2022-08-01', 3605.0, 403)

2025-04-27 01:36:25,332 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,333 INFO sqlalchemy.engine.Engine [insertmanyvalues 136/1094 (ordered; batch not supported)] (61, 11, '2022-05-16', 19929.0, 174)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 136/1094 (ordered; batch not supported)] (61, 11, '2022-05-16', 19929.0, 174)

2025-04-27 01:36:25,334 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,335 INFO sqlalchemy.engine.Engine [insertmanyvalues 137/1094 (ordered; batch not supported)] (144, 4, '2022-08-10', 5103.0, 140)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 137/1094 (ordered; batch not supported)] (144, 4, '2022-08-10', 5103.0, 140)

2025-04-27 01:36:25,336 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,337 INFO sqlalchemy.engine.Engine [insertmanyvalues 138/1094 (ordered; batch not supported)] (148, 9, '2022-01-05', 2541.0, 27)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 138/1094 (ordered; batch not supported)] (148, 9, '2022-01-05', 2541.0, 27)

2025-04-27 01:36:25,338 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,339 INFO sqlalchemy.engine.Engine [insertmanyvalues 139/1094 (ordered; batch not supported)] (124, 4, '2022-07-11', 5663.0, 110)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 139/1094 (ordered; batch not supported)] (124, 4, '2022-07-11', 5663.0, 110)

2025-04-27 01:36:25,340 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,341 INFO sqlalchemy.engine.Engine [insertmanyvalues 140/1094 (ordered; batch not supported)] (150, 6, '2022-04-25', 392.0, 30)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 140/1094 (ordered; batch not supported)] (150, 6, '2022-04-25', 392.0, 30)

2025-04-27 01:36:25,342 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,343 INFO sqlalchemy.engine.Engine [insertmanyvalues 141/1094 (ordered; batch not supported)] (119, 14, '2022-04-04', 10976.0, 121)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 141/1094 (ordered; batch not supported)] (119, 14, '2022-04-04', 10976.0, 121)

2025-04-27 01:36:25,344 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,345 INFO sqlalchemy.engine.Engine [insertmanyvalues 142/1094 (ordered; batch not supported)] (102, 18, '2022-04-12', 9282.0, 101)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 142/1094 (ordered; batch not supported)] (102, 18, '2022-04-12', 9282.0, 101)

2025-04-27 01:36:25,346 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,347 INFO sqlalchemy.engine.Engine [insertmanyvalues 143/1094 (ordered; batch not supported)] (150, 2, '2022-08-02', 1827.0, 117)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 143/1094 (ordered; batch not supported)] (150, 2, '2022-08-02', 1827.0, 117)

2025-04-27 01:36:25,348 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,349 INFO sqlalchemy.engine.Engine [insertmanyvalues 144/1094 (ordered; batch not supported)] (119, 16, '2022-06-28', 8267.0, 272)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 144/1094 (ordered; batch not supported)] (119, 16, '2022-06-28', 8267.0, 272)

2025-04-27 01:36:25,350 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,351 INFO sqlalchemy.engine.Engine [insertmanyvalues 145/1094 (ordered; batch not supported)] (124, 9, '2022-07-05', 4116.0, 128)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 145/1094 (ordered; batch not supported)] (124, 9, '2022-07-05', 4116.0, 128)

2025-04-27 01:36:25,354 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,355 INFO sqlalchemy.engine.Engine [insertmanyvalues 146/1094 (ordered; batch not supported)] (140, 19, '2022-06-07', 2093.0, 45)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 146/1094 (ordered; batch not supported)] (140, 19, '2022-06-07', 2093.0, 45)

2025-04-27 01:36:25,356 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,357 INFO sqlalchemy.engine.Engine [insertmanyvalues 147/1094 (ordered; batch not supported)] (136, 4, '2022-01-18', 1015.0, 27)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 147/1094 (ordered; batch not supported)] (136, 4, '2022-01-18', 1015.0, 27)

2025-04-27 01:36:25,358 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,359 INFO sqlalchemy.engine.Engine [insertmanyvalues 148/1094 (ordered; batch not supported)] (136, 20, '2022-01-04', 12516.0, 212)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 148/1094 (ordered; batch not supported)] (136, 20, '2022-01-04', 12516.0, 212)

2025-04-27 01:36:25,360 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,361 INFO sqlalchemy.engine.Engine [insertmanyvalues 149/1094 (ordered; batch not supported)] (122, 5, '2022-01-31', 2758.0, 18)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 149/1094 (ordered; batch not supported)] (122, 5, '2022-01-31', 2758.0, 18)

2025-04-27 01:36:25,362 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,363 INFO sqlalchemy.engine.Engine [insertmanyvalues 150/1094 (ordered; batch not supported)] (77, 17, '2022-03-14', 3297.0, 149)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 150/1094 (ordered; batch not supported)] (77, 17, '2022-03-14', 3297.0, 149)

2025-04-27 01:36:25,364 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,367 INFO sqlalchemy.engine.Engine [insertmanyvalues 151/1094 (ordered; batch not supported)] (146, 22, '2022-04-29', 6048.0, 477)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 151/1094 (ordered; batch not supported)] (146, 22, '2022-04-29', 6048.0, 477)

2025-04-27 01:36:25,369 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,370 INFO sqlalchemy.engine.Engine [insertmanyvalues 152/1094 (ordered; batch not supported)] (147, 4, '2022-02-07', 10101.0, 108)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 152/1094 (ordered; batch not supported)] (147, 4, '2022-02-07', 10101.0, 108)

2025-04-27 01:36:25,371 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,372 INFO sqlalchemy.engine.Engine [insertmanyvalues 153/1094 (ordered; batch not supported)] (133, 11, '2022-03-31', 2282.0, 178)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 153/1094 (ordered; batch not supported)] (133, 11, '2022-03-31', 2282.0, 178)

2025-04-27 01:36:25,373 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,374 INFO sqlalchemy.engine.Engine [insertmanyvalues 154/1094 (ordered; batch not supported)] (120, 21, '2022-03-16', 4361.0, 81)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 154/1094 (ordered; batch not supported)] (120, 21, '2022-03-16', 4361.0, 81)

2025-04-27 01:36:25,375 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,379 INFO sqlalchemy.engine.Engine [insertmanyvalues 155/1094 (ordered; batch not supported)] (106, 9, '2022-01-25', 7798.0, 196)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 155/1094 (ordered; batch not supported)] (106, 9, '2022-01-25', 7798.0, 196)

2025-04-27 01:36:25,380 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,381 INFO sqlalchemy.engine.Engine [insertmanyvalues 156/1094 (ordered; batch not supported)] (61, 20, '2022-06-20', 3052.0, 447)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 156/1094 (ordered; batch not supported)] (61, 20, '2022-06-20', 3052.0, 447)

2025-04-27 01:36:25,382 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,383 INFO sqlalchemy.engine.Engine [insertmanyvalues 157/1094 (ordered; batch not supported)] (119, 6, '2022-03-29', 8029.0, 175)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 157/1094 (ordered; batch not supported)] (119, 6, '2022-03-29', 8029.0, 175)

2025-04-27 01:36:25,384 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,385 INFO sqlalchemy.engine.Engine [insertmanyvalues 158/1094 (ordered; batch not supported)] (141, 8, '2022-07-12', 854.0, 136)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 158/1094 (ordered; batch not supported)] (141, 8, '2022-07-12', 854.0, 136)

2025-04-27 01:36:25,386 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,387 INFO sqlalchemy.engine.Engine [insertmanyvalues 159/1094 (ordered; batch not supported)] (143, 4, '2022-07-11', 5460.0, 138)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 159/1094 (ordered; batch not supported)] (143, 4, '2022-07-11', 5460.0, 138)

2025-04-27 01:36:25,408 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,432 INFO sqlalchemy.engine.Engine [insertmanyvalues 160/1094 (ordered; batch not supported)] (106, 4, '2022-01-19', 3017.0, 184)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 160/1094 (ordered; batch not supported)] (106, 4, '2022-01-19', 3017.0, 184)

2025-04-27 01:36:25,460 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,473 INFO sqlalchemy.engine.Engine [insertmanyvalues 161/1094 (ordered; batch not supported)] (63, 2, '2022-04-05', 8911.0, 82)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 161/1094 (ordered; batch not supported)] (63, 2, '2022-04-05', 8911.0, 82)

2025-04-27 01:36:25,511 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,515 INFO sqlalchemy.engine.Engine [insertmanyvalues 162/1094 (ordered; batch not supported)] (143, 12, '2022-02-21', 7203.0, 12)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 162/1094 (ordered; batch not supported)] (143, 12, '2022-02-21', 7203.0, 12)

2025-04-27 01:36:25,550 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,553 INFO sqlalchemy.engine.Engine [insertmanyvalues 163/1094 (ordered; batch not supported)] (140, 21, '2022-05-20', 13083.0, 14)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 163/1094 (ordered; batch not supported)] (140, 21, '2022-05-20', 13083.0, 14)

2025-04-27 01:36:25,573 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,578 INFO sqlalchemy.engine.Engine [insertmanyvalues 164/1094 (ordered; batch not supported)] (137, 12, '2022-07-29', 2779.0, 104)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 164/1094 (ordered; batch not supported)] (137, 12, '2022-07-29', 2779.0, 104)

2025-04-27 01:36:25,594 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,610 INFO sqlalchemy.engine.Engine [insertmanyvalues 165/1094 (ordered; batch not supported)] (102, 14, '2022-01-28', 9058.0, 46)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 165/1094 (ordered; batch not supported)] (102, 14, '2022-01-28', 9058.0, 46)

2025-04-27 01:36:25,613 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,623 INFO sqlalchemy.engine.Engine [insertmanyvalues 166/1094 (ordered; batch not supported)] (120, 21, '2022-07-19', 3549.0, 112)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 166/1094 (ordered; batch not supported)] (120, 21, '2022-07-19', 3549.0, 112)

2025-04-27 01:36:25,644 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,660 INFO sqlalchemy.engine.Engine [insertmanyvalues 167/1094 (ordered; batch not supported)] (137, 16, '2022-04-13', 9436.0, 11)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 167/1094 (ordered; batch not supported)] (137, 16, '2022-04-13', 9436.0, 11)

2025-04-27 01:36:25,668 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,672 INFO sqlalchemy.engine.Engine [insertmanyvalues 168/1094 (ordered; batch not supported)] (144, 3, '2022-02-11', 10283.0, 21)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 168/1094 (ordered; batch not supported)] (144, 3, '2022-02-11', 10283.0, 21)

2025-04-27 01:36:25,676 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,732 INFO sqlalchemy.engine.Engine [insertmanyvalues 169/1094 (ordered; batch not supported)] (144, 12, '2022-03-02', 5446.0, 116)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 169/1094 (ordered; batch not supported)] (144, 12, '2022-03-02', 5446.0, 116)

2025-04-27 01:36:25,741 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,751 INFO sqlalchemy.engine.Engine [insertmanyvalues 170/1094 (ordered; batch not supported)] (124, 15, '2022-03-02', 1043.0, 202)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 170/1094 (ordered; batch not supported)] (124, 15, '2022-03-02', 1043.0, 202)

2025-04-27 01:36:25,761 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,766 INFO sqlalchemy.engine.Engine [insertmanyvalues 171/1094 (ordered; batch not supported)] (61, 5, '2022-07-28', 12586.0, 6)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 171/1094 (ordered; batch not supported)] (61, 5, '2022-07-28', 12586.0, 6)

2025-04-27 01:36:25,768 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,775 INFO sqlalchemy.engine.Engine [insertmanyvalues 172/1094 (ordered; batch not supported)] (77, 6, '2022-01-07', 1687.0, 520)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 172/1094 (ordered; batch not supported)] (77, 6, '2022-01-07', 1687.0, 520)

2025-04-27 01:36:25,777 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,783 INFO sqlalchemy.engine.Engine [insertmanyvalues 173/1094 (ordered; batch not supported)] (136, 15, '2022-04-12', 5299.0, 167)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 173/1094 (ordered; batch not supported)] (136, 15, '2022-04-12', 5299.0, 167)

2025-04-27 01:36:25,785 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,788 INFO sqlalchemy.engine.Engine [insertmanyvalues 174/1094 (ordered; batch not supported)] (61, 17, '2022-06-27', 3213.0, 72)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 174/1094 (ordered; batch not supported)] (61, 17, '2022-06-27', 3213.0, 72)

2025-04-27 01:36:25,791 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,796 INFO sqlalchemy.engine.Engine [insertmanyvalues 175/1094 (ordered; batch not supported)] (143, 7, '2022-01-14', 5194.0, 418)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 175/1094 (ordered; batch not supported)] (143, 7, '2022-01-14', 5194.0, 418)

2025-04-27 01:36:25,798 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,802 INFO sqlalchemy.engine.Engine [insertmanyvalues 176/1094 (ordered; batch not supported)] (106, 20, '2022-02-07', 4753.0, 389)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 176/1094 (ordered; batch not supported)] (106, 20, '2022-02-07', 4753.0, 389)

2025-04-27 01:36:25,805 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,809 INFO sqlalchemy.engine.Engine [insertmanyvalues 177/1094 (ordered; batch not supported)] (143, 8, '2022-03-23', 13706.0, 26)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 177/1094 (ordered; batch not supported)] (143, 8, '2022-03-23', 13706.0, 26)

2025-04-27 01:36:25,824 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,832 INFO sqlalchemy.engine.Engine [insertmanyvalues 178/1094 (ordered; batch not supported)] (120, 3, '2022-01-10', 6489.0, 146)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 178/1094 (ordered; batch not supported)] (120, 3, '2022-01-10', 6489.0, 146)

2025-04-27 01:36:25,833 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,834 INFO sqlalchemy.engine.Engine [insertmanyvalues 179/1094 (ordered; batch not supported)] (147, 19, '2022-03-17', 9324.0, 41)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 179/1094 (ordered; batch not supported)] (147, 19, '2022-03-17', 9324.0, 41)

2025-04-27 01:36:25,835 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,836 INFO sqlalchemy.engine.Engine [insertmanyvalues 180/1094 (ordered; batch not supported)] (119, 13, '2022-01-21', 10829.0, 54)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 180/1094 (ordered; batch not supported)] (119, 13, '2022-01-21', 10829.0, 54)

2025-04-27 01:36:25,837 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,838 INFO sqlalchemy.engine.Engine [insertmanyvalues 181/1094 (ordered; batch not supported)] (102, 15, '2022-07-04', 8113.0, 370)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 181/1094 (ordered; batch not supported)] (102, 15, '2022-07-04', 8113.0, 370)

2025-04-27 01:36:25,839 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,840 INFO sqlalchemy.engine.Engine [insertmanyvalues 182/1094 (ordered; batch not supported)] (133, 3, '2022-07-04', 3269.0, 176)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 182/1094 (ordered; batch not supported)] (133, 3, '2022-07-04', 3269.0, 176)

2025-04-27 01:36:25,841 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,843 INFO sqlalchemy.engine.Engine [insertmanyvalues 183/1094 (ordered; batch not supported)] (138, 16, '2022-08-10', 273.0, 210)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 183/1094 (ordered; batch not supported)] (138, 16, '2022-08-10', 273.0, 210)

2025-04-27 01:36:25,848 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,849 INFO sqlalchemy.engine.Engine [insertmanyvalues 184/1094 (ordered; batch not supported)] (122, 7, '2022-04-01', 7287.0, 12)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 184/1094 (ordered; batch not supported)] (122, 7, '2022-04-01', 7287.0, 12)

2025-04-27 01:36:25,850 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,851 INFO sqlalchemy.engine.Engine [insertmanyvalues 185/1094 (ordered; batch not supported)] (119, 18, '2022-02-22', 2583.0, 159)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 185/1094 (ordered; batch not supported)] (119, 18, '2022-02-22', 2583.0, 159)

2025-04-27 01:36:25,856 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,857 INFO sqlalchemy.engine.Engine [insertmanyvalues 186/1094 (ordered; batch not supported)] (146, 15, '2022-01-03', 9982.0, 187)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 186/1094 (ordered; batch not supported)] (146, 15, '2022-01-03', 9982.0, 187)

2025-04-27 01:36:25,859 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,860 INFO sqlalchemy.engine.Engine [insertmanyvalues 187/1094 (ordered; batch not supported)] (106, 10, '2022-05-31', 4795.0, 233)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 187/1094 (ordered; batch not supported)] (106, 10, '2022-05-31', 4795.0, 233)

2025-04-27 01:36:25,861 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,862 INFO sqlalchemy.engine.Engine [insertmanyvalues 188/1094 (ordered; batch not supported)] (138, 5, '2022-01-03', 9310.0, 282)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 188/1094 (ordered; batch not supported)] (138, 5, '2022-01-03', 9310.0, 282)

2025-04-27 01:36:25,863 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,868 INFO sqlalchemy.engine.Engine [insertmanyvalues 189/1094 (ordered; batch not supported)] (142, 21, '2022-01-27', 497.0, 475)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 189/1094 (ordered; batch not supported)] (142, 21, '2022-01-27', 497.0, 475)

2025-04-27 01:36:25,869 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,870 INFO sqlalchemy.engine.Engine [insertmanyvalues 190/1094 (ordered; batch not supported)] (102, 7, '2022-01-28', 581.0, 65)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 190/1094 (ordered; batch not supported)] (102, 7, '2022-01-28', 581.0, 65)

2025-04-27 01:36:25,871 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,872 INFO sqlalchemy.engine.Engine [insertmanyvalues 191/1094 (ordered; batch not supported)] (141, 11, '2022-06-28', 3472.0, 311)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 191/1094 (ordered; batch not supported)] (141, 11, '2022-06-28', 3472.0, 311)

2025-04-27 01:36:25,873 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,878 INFO sqlalchemy.engine.Engine [insertmanyvalues 192/1094 (ordered; batch not supported)] (142, 19, '2022-03-02', 4333.0, 43)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 192/1094 (ordered; batch not supported)] (142, 19, '2022-03-02', 4333.0, 43)

2025-04-27 01:36:25,879 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,880 INFO sqlalchemy.engine.Engine [insertmanyvalues 193/1094 (ordered; batch not supported)] (150, 6, '2022-05-27', 3325.0, 26)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 193/1094 (ordered; batch not supported)] (150, 6, '2022-05-27', 3325.0, 26)

2025-04-27 01:36:25,881 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,882 INFO sqlalchemy.engine.Engine [insertmanyvalues 194/1094 (ordered; batch not supported)] (122, 17, '2022-06-30', 11718.0, 84)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 194/1094 (ordered; batch not supported)] (122, 17, '2022-06-30', 11718.0, 84)

2025-04-27 01:36:25,883 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,888 INFO sqlalchemy.engine.Engine [insertmanyvalues 195/1094 (ordered; batch not supported)] (102, 3, '2022-06-07', 2100.0, 78)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 195/1094 (ordered; batch not supported)] (102, 3, '2022-06-07', 2100.0, 78)

2025-04-27 01:36:25,889 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,890 INFO sqlalchemy.engine.Engine [insertmanyvalues 196/1094 (ordered; batch not supported)] (133, 22, '2022-05-12', 4018.0, 100)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 196/1094 (ordered; batch not supported)] (133, 22, '2022-05-12', 4018.0, 100)

2025-04-27 01:36:25,891 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,892 INFO sqlalchemy.engine.Engine [insertmanyvalues 197/1094 (ordered; batch not supported)] (102, 18, '2022-07-29', 6468.0, 66)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 197/1094 (ordered; batch not supported)] (102, 18, '2022-07-29', 6468.0, 66)

2025-04-27 01:36:25,893 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,894 INFO sqlalchemy.engine.Engine [insertmanyvalues 198/1094 (ordered; batch not supported)] (122, 15, '2022-08-03', 7238.0, 265)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 198/1094 (ordered; batch not supported)] (122, 15, '2022-08-03', 7238.0, 265)

2025-04-27 01:36:25,895 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,896 INFO sqlalchemy.engine.Engine [insertmanyvalues 199/1094 (ordered; batch not supported)] (102, 20, '2022-08-18', 6454.0, 141)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 199/1094 (ordered; batch not supported)] (102, 20, '2022-08-18', 6454.0, 141)

2025-04-27 01:36:25,897 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,898 INFO sqlalchemy.engine.Engine [insertmanyvalues 200/1094 (ordered; batch not supported)] (61, 4, '2022-06-14', 3115.0, 42)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 200/1094 (ordered; batch not supported)] (61, 4, '2022-06-14', 3115.0, 42)

2025-04-27 01:36:25,899 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,900 INFO sqlalchemy.engine.Engine [insertmanyvalues 201/1094 (ordered; batch not supported)] (107, 15, '2022-06-30', 6475.0, 76)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 201/1094 (ordered; batch not supported)] (107, 15, '2022-06-30', 6475.0, 76)

2025-04-27 01:36:25,901 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,902 INFO sqlalchemy.engine.Engine [insertmanyvalues 202/1094 (ordered; batch not supported)] (146, 1, '2022-06-13', 1162.0, 190)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 202/1094 (ordered; batch not supported)] (146, 1, '2022-06-13', 1162.0, 190)

2025-04-27 01:36:25,903 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,904 INFO sqlalchemy.engine.Engine [insertmanyvalues 203/1094 (ordered; batch not supported)] (124, 8, '2022-04-27', 14238.0, 54)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 203/1094 (ordered; batch not supported)] (124, 8, '2022-04-27', 14238.0, 54)

2025-04-27 01:36:25,905 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,906 INFO sqlalchemy.engine.Engine [insertmanyvalues 204/1094 (ordered; batch not supported)] (148, 15, '2022-07-27', 3472.0, 32)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 204/1094 (ordered; batch not supported)] (148, 15, '2022-07-27', 3472.0, 32)

2025-04-27 01:36:25,907 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,908 INFO sqlalchemy.engine.Engine [insertmanyvalues 205/1094 (ordered; batch not supported)] (137, 2, '2022-04-20', 1428.0, 424)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 205/1094 (ordered; batch not supported)] (137, 2, '2022-04-20', 1428.0, 424)

2025-04-27 01:36:25,909 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,910 INFO sqlalchemy.engine.Engine [insertmanyvalues 206/1094 (ordered; batch not supported)] (140, 13, '2022-01-04', 8064.0, 134)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 206/1094 (ordered; batch not supported)] (140, 13, '2022-01-04', 8064.0, 134)

2025-04-27 01:36:25,911 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,912 INFO sqlalchemy.engine.Engine [insertmanyvalues 207/1094 (ordered; batch not supported)] (124, 1, '2022-02-21', 9660.0, 92)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 207/1094 (ordered; batch not supported)] (124, 1, '2022-02-21', 9660.0, 92)

2025-04-27 01:36:25,913 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,914 INFO sqlalchemy.engine.Engine [insertmanyvalues 208/1094 (ordered; batch not supported)] (106, 15, '2022-01-05', 7357.0, 48)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 208/1094 (ordered; batch not supported)] (106, 15, '2022-01-05', 7357.0, 48)

2025-04-27 01:36:25,915 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,916 INFO sqlalchemy.engine.Engine [insertmanyvalues 209/1094 (ordered; batch not supported)] (107, 10, '2022-07-15', 6055.0, 46)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 209/1094 (ordered; batch not supported)] (107, 10, '2022-07-15', 6055.0, 46)

2025-04-27 01:36:25,917 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,918 INFO sqlalchemy.engine.Engine [insertmanyvalues 210/1094 (ordered; batch not supported)] (136, 19, '2022-05-25', 5124.0, 62)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 210/1094 (ordered; batch not supported)] (136, 19, '2022-05-25', 5124.0, 62)

2025-04-27 01:36:25,919 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,920 INFO sqlalchemy.engine.Engine [insertmanyvalues 211/1094 (ordered; batch not supported)] (106, 9, '2022-04-20', 3479.0, 358)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 211/1094 (ordered; batch not supported)] (106, 9, '2022-04-20', 3479.0, 358)

2025-04-27 01:36:25,922 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,923 INFO sqlalchemy.engine.Engine [insertmanyvalues 212/1094 (ordered; batch not supported)] (119, 5, '2022-06-02', 784.0, 249)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 212/1094 (ordered; batch not supported)] (119, 5, '2022-06-02', 784.0, 249)

2025-04-27 01:36:25,924 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,925 INFO sqlalchemy.engine.Engine [insertmanyvalues 213/1094 (ordered; batch not supported)] (120, 4, '2022-05-13', 18991.0, 88)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 213/1094 (ordered; batch not supported)] (120, 4, '2022-05-13', 18991.0, 88)

2025-04-27 01:36:25,926 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,927 INFO sqlalchemy.engine.Engine [insertmanyvalues 214/1094 (ordered; batch not supported)] (107, 20, '2022-08-03', 1372.0, 144)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 214/1094 (ordered; batch not supported)] (107, 20, '2022-08-03', 1372.0, 144)

2025-04-27 01:36:25,928 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,929 INFO sqlalchemy.engine.Engine [insertmanyvalues 215/1094 (ordered; batch not supported)] (107, 12, '2022-05-25', 735.0, 390)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 215/1094 (ordered; batch not supported)] (107, 12, '2022-05-25', 735.0, 390)

2025-04-27 01:36:25,930 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,931 INFO sqlalchemy.engine.Engine [insertmanyvalues 216/1094 (ordered; batch not supported)] (61, 18, '2022-03-16', 6538.0, 79)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 216/1094 (ordered; batch not supported)] (61, 18, '2022-03-16', 6538.0, 79)

2025-04-27 01:36:25,932 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,933 INFO sqlalchemy.engine.Engine [insertmanyvalues 217/1094 (ordered; batch not supported)] (148, 8, '2022-07-04', 3199.0, 122)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 217/1094 (ordered; batch not supported)] (148, 8, '2022-07-04', 3199.0, 122)

2025-04-27 01:36:25,934 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,935 INFO sqlalchemy.engine.Engine [insertmanyvalues 218/1094 (ordered; batch not supported)] (143, 7, '2022-07-05', 3472.0, 135)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 218/1094 (ordered; batch not supported)] (143, 7, '2022-07-05', 3472.0, 135)

2025-04-27 01:36:25,936 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,937 INFO sqlalchemy.engine.Engine [insertmanyvalues 219/1094 (ordered; batch not supported)] (131, 6, '2022-03-15', 4571.0, 430)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 219/1094 (ordered; batch not supported)] (131, 6, '2022-03-15', 4571.0, 430)

2025-04-27 01:36:25,939 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,940 INFO sqlalchemy.engine.Engine [insertmanyvalues 220/1094 (ordered; batch not supported)] (102, 18, '2022-08-22', 5481.0, 69)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 220/1094 (ordered; batch not supported)] (102, 18, '2022-08-22', 5481.0, 69)

2025-04-27 01:36:25,941 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,942 INFO sqlalchemy.engine.Engine [insertmanyvalues 221/1094 (ordered; batch not supported)] (124, 22, '2022-01-12', 3136.0, 125)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 221/1094 (ordered; batch not supported)] (124, 22, '2022-01-12', 3136.0, 125)

2025-04-27 01:36:25,943 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,944 INFO sqlalchemy.engine.Engine [insertmanyvalues 222/1094 (ordered; batch not supported)] (120, 20, '2022-06-10', 252.0, 154)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 222/1094 (ordered; batch not supported)] (120, 20, '2022-06-10', 252.0, 154)

2025-04-27 01:36:25,945 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,946 INFO sqlalchemy.engine.Engine [insertmanyvalues 223/1094 (ordered; batch not supported)] (133, 3, '2022-03-25', 5460.0, 286)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 223/1094 (ordered; batch not supported)] (133, 3, '2022-03-25', 5460.0, 286)

2025-04-27 01:36:25,947 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,948 INFO sqlalchemy.engine.Engine [insertmanyvalues 224/1094 (ordered; batch not supported)] (140, 17, '2022-07-27', 3395.0, 99)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 224/1094 (ordered; batch not supported)] (140, 17, '2022-07-27', 3395.0, 99)

2025-04-27 01:36:25,949 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,950 INFO sqlalchemy.engine.Engine [insertmanyvalues 225/1094 (ordered; batch not supported)] (142, 21, '2022-04-15', 14938.0, 433)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 225/1094 (ordered; batch not supported)] (142, 21, '2022-04-15', 14938.0, 433)

2025-04-27 01:36:25,951 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,952 INFO sqlalchemy.engine.Engine [insertmanyvalues 226/1094 (ordered; batch not supported)] (144, 8, '2022-06-27', 4053.0, 19)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 226/1094 (ordered; batch not supported)] (144, 8, '2022-06-27', 4053.0, 19)

2025-04-27 01:36:25,953 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,953 INFO sqlalchemy.engine.Engine [insertmanyvalues 227/1094 (ordered; batch not supported)] (143, 22, '2022-04-14', 5565.0, 258)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 227/1094 (ordered; batch not supported)] (143, 22, '2022-04-14', 5565.0, 258)

2025-04-27 01:36:25,958 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,959 INFO sqlalchemy.engine.Engine [insertmanyvalues 228/1094 (ordered; batch not supported)] (142, 16, '2022-03-15', 7161.0, 92)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 228/1094 (ordered; batch not supported)] (142, 16, '2022-03-15', 7161.0, 92)

2025-04-27 01:36:25,960 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,961 INFO sqlalchemy.engine.Engine [insertmanyvalues 229/1094 (ordered; batch not supported)] (131, 9, '2022-03-18', 8883.0, 200)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 229/1094 (ordered; batch not supported)] (131, 9, '2022-03-18', 8883.0, 200)

2025-04-27 01:36:25,962 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,963 INFO sqlalchemy.engine.Engine [insertmanyvalues 230/1094 (ordered; batch not supported)] (136, 9, '2022-04-29', 1351.0, 61)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 230/1094 (ordered; batch not supported)] (136, 9, '2022-04-29', 1351.0, 61)

2025-04-27 01:36:25,964 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,966 INFO sqlalchemy.engine.Engine [insertmanyvalues 231/1094 (ordered; batch not supported)] (137, 15, '2022-02-25', 3171.0, 246)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 231/1094 (ordered; batch not supported)] (137, 15, '2022-02-25', 3171.0, 246)

2025-04-27 01:36:25,968 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,969 INFO sqlalchemy.engine.Engine [insertmanyvalues 232/1094 (ordered; batch not supported)] (142, 12, '2022-03-02', 854.0, 56)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 232/1094 (ordered; batch not supported)] (142, 12, '2022-03-02', 854.0, 56)

2025-04-27 01:36:25,970 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,971 INFO sqlalchemy.engine.Engine [insertmanyvalues 233/1094 (ordered; batch not supported)] (61, 12, '2022-06-20', 7910.0, 87)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 233/1094 (ordered; batch not supported)] (61, 12, '2022-06-20', 7910.0, 87)

2025-04-27 01:36:25,972 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,973 INFO sqlalchemy.engine.Engine [insertmanyvalues 234/1094 (ordered; batch not supported)] (107, 15, '2022-07-15', 9275.0, 173)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 234/1094 (ordered; batch not supported)] (107, 15, '2022-07-15', 9275.0, 173)

2025-04-27 01:36:25,974 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,975 INFO sqlalchemy.engine.Engine [insertmanyvalues 235/1094 (ordered; batch not supported)] (138, 7, '2022-05-12', 3108.0, 252)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 235/1094 (ordered; batch not supported)] (138, 7, '2022-05-12', 3108.0, 252)

2025-04-27 01:36:25,976 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,977 INFO sqlalchemy.engine.Engine [insertmanyvalues 236/1094 (ordered; batch not supported)] (137, 11, '2022-07-01', 5075.0, 256)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 236/1094 (ordered; batch not supported)] (137, 11, '2022-07-01', 5075.0, 256)

2025-04-27 01:36:25,978 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,979 INFO sqlalchemy.engine.Engine [insertmanyvalues 237/1094 (ordered; batch not supported)] (142, 2, '2022-08-08', 378.0, 54)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 237/1094 (ordered; batch not supported)] (142, 2, '2022-08-08', 378.0, 54)

2025-04-27 01:36:25,980 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,981 INFO sqlalchemy.engine.Engine [insertmanyvalues 238/1094 (ordered; batch not supported)] (131, 7, '2022-07-25', 7350.0, 6)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 238/1094 (ordered; batch not supported)] (131, 7, '2022-07-25', 7350.0, 6)

2025-04-27 01:36:25,982 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,983 INFO sqlalchemy.engine.Engine [insertmanyvalues 239/1094 (ordered; batch not supported)] (150, 10, '2022-05-18', 3388.0, 55)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 239/1094 (ordered; batch not supported)] (150, 10, '2022-05-18', 3388.0, 55)

2025-04-27 01:36:25,985 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,986 INFO sqlalchemy.engine.Engine [insertmanyvalues 240/1094 (ordered; batch not supported)] (146, 3, '2022-07-15', 11837.0, 277)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 240/1094 (ordered; batch not supported)] (146, 3, '2022-07-15', 11837.0, 277)

2025-04-27 01:36:25,987 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,988 INFO sqlalchemy.engine.Engine [insertmanyvalues 241/1094 (ordered; batch not supported)] (141, 22, '2022-07-05', 2282.0, 44)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 241/1094 (ordered; batch not supported)] (141, 22, '2022-07-05', 2282.0, 44)

2025-04-27 01:36:25,989 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,990 INFO sqlalchemy.engine.Engine [insertmanyvalues 242/1094 (ordered; batch not supported)] (137, 16, '2022-07-04', 5425.0, 96)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 242/1094 (ordered; batch not supported)] (137, 16, '2022-07-04', 5425.0, 96)

2025-04-27 01:36:25,991 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,992 INFO sqlalchemy.engine.Engine [insertmanyvalues 243/1094 (ordered; batch not supported)] (138, 22, '2022-06-20', 1267.0, 216)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 243/1094 (ordered; batch not supported)] (138, 22, '2022-06-20', 1267.0, 216)

2025-04-27 01:36:25,993 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,994 INFO sqlalchemy.engine.Engine [insertmanyvalues 244/1094 (ordered; batch not supported)] (135, 17, '2022-01-25', 3752.0, 424)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 244/1094 (ordered; batch not supported)] (135, 17, '2022-01-25', 3752.0, 424)

2025-04-27 01:36:25,995 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,996 INFO sqlalchemy.engine.Engine [insertmanyvalues 245/1094 (ordered; batch not supported)] (133, 13, '2022-07-01', 7728.0, 37)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 245/1094 (ordered; batch not supported)] (133, 13, '2022-07-01', 7728.0, 37)

2025-04-27 01:36:25,997 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:25,998 INFO sqlalchemy.engine.Engine [insertmanyvalues 246/1094 (ordered; batch not supported)] (119, 7, '2022-04-13', 2296.0, 59)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 246/1094 (ordered; batch not supported)] (119, 7, '2022-04-13', 2296.0, 59)

2025-04-27 01:36:25,999 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,000 INFO sqlalchemy.engine.Engine [insertmanyvalues 247/1094 (ordered; batch not supported)] (107, 4, '2022-05-04', 4403.0, 76)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 247/1094 (ordered; batch not supported)] (107, 4, '2022-05-04', 4403.0, 76)

2025-04-27 01:36:26,001 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,002 INFO sqlalchemy.engine.Engine [insertmanyvalues 248/1094 (ordered; batch not supported)] (107, 20, '2022-08-04', 3192.0, 109)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 248/1094 (ordered; batch not supported)] (107, 20, '2022-08-04', 3192.0, 109)

2025-04-27 01:36:26,003 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,004 INFO sqlalchemy.engine.Engine [insertmanyvalues 249/1094 (ordered; batch not supported)] (107, 22, '2022-06-01', 448.0, 146)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 249/1094 (ordered; batch not supported)] (107, 22, '2022-06-01', 448.0, 146)

2025-04-27 01:36:26,005 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,006 INFO sqlalchemy.engine.Engine [insertmanyvalues 250/1094 (ordered; batch not supported)] (143, 19, '2022-04-22', 4270.0, 185)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 250/1094 (ordered; batch not supported)] (143, 19, '2022-04-22', 4270.0, 185)

2025-04-27 01:36:26,007 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,008 INFO sqlalchemy.engine.Engine [insertmanyvalues 251/1094 (ordered; batch not supported)] (133, 7, '2022-08-03', 70.0, 27)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 251/1094 (ordered; batch not supported)] (133, 7, '2022-08-03', 70.0, 27)

2025-04-27 01:36:26,009 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,010 INFO sqlalchemy.engine.Engine [insertmanyvalues 252/1094 (ordered; batch not supported)] (124, 8, '2022-06-10', 1743.0, 69)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 252/1094 (ordered; batch not supported)] (124, 8, '2022-06-10', 1743.0, 69)

2025-04-27 01:36:26,011 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,012 INFO sqlalchemy.engine.Engine [insertmanyvalues 253/1094 (ordered; batch not supported)] (135, 16, '2022-06-27', 6762.0, 46)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 253/1094 (ordered; batch not supported)] (135, 16, '2022-06-27', 6762.0, 46)

2025-04-27 01:36:26,013 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,014 INFO sqlalchemy.engine.Engine [insertmanyvalues 254/1094 (ordered; batch not supported)] (120, 4, '2022-01-03', 3745.0, 170)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 254/1094 (ordered; batch not supported)] (120, 4, '2022-01-03', 3745.0, 170)

2025-04-27 01:36:26,015 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,016 INFO sqlalchemy.engine.Engine [insertmanyvalues 255/1094 (ordered; batch not supported)] (120, 6, '2022-07-11', 2639.0, 179)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 255/1094 (ordered; batch not supported)] (120, 6, '2022-07-11', 2639.0, 179)

2025-04-27 01:36:26,017 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,018 INFO sqlalchemy.engine.Engine [insertmanyvalues 256/1094 (ordered; batch not supported)] (124, 12, '2022-08-17', 4389.0, 126)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 256/1094 (ordered; batch not supported)] (124, 12, '2022-08-17', 4389.0, 126)

2025-04-27 01:36:26,019 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,020 INFO sqlalchemy.engine.Engine [insertmanyvalues 257/1094 (ordered; batch not supported)] (140, 14, '2022-01-18', 2604.0, 65)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 257/1094 (ordered; batch not supported)] (140, 14, '2022-01-18', 2604.0, 65)

2025-04-27 01:36:26,021 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,022 INFO sqlalchemy.engine.Engine [insertmanyvalues 258/1094 (ordered; batch not supported)] (124, 11, '2022-03-08', 16569.0, 99)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 258/1094 (ordered; batch not supported)] (124, 11, '2022-03-08', 16569.0, 99)

2025-04-27 01:36:26,023 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,024 INFO sqlalchemy.engine.Engine [insertmanyvalues 259/1094 (ordered; batch not supported)] (137, 8, '2022-03-07', 14658.0, 275)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 259/1094 (ordered; batch not supported)] (137, 8, '2022-03-07', 14658.0, 275)

2025-04-27 01:36:26,025 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,026 INFO sqlalchemy.engine.Engine [insertmanyvalues 260/1094 (ordered; batch not supported)] (142, 22, '2022-05-09', 6454.0, 157)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 260/1094 (ordered; batch not supported)] (142, 22, '2022-05-09', 6454.0, 157)

2025-04-27 01:36:26,027 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,028 INFO sqlalchemy.engine.Engine [insertmanyvalues 261/1094 (ordered; batch not supported)] (102, 2, '2022-05-23', 2100.0, 157)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 261/1094 (ordered; batch not supported)] (102, 2, '2022-05-23', 2100.0, 157)

2025-04-27 01:36:26,029 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,030 INFO sqlalchemy.engine.Engine [insertmanyvalues 262/1094 (ordered; batch not supported)] (131, 21, '2022-04-15', 161.0, 145)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 262/1094 (ordered; batch not supported)] (131, 21, '2022-04-15', 161.0, 145)

2025-04-27 01:36:26,031 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,032 INFO sqlalchemy.engine.Engine [insertmanyvalues 263/1094 (ordered; batch not supported)] (119, 10, '2022-07-27', 2807.0, 139)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 263/1094 (ordered; batch not supported)] (119, 10, '2022-07-27', 2807.0, 139)

2025-04-27 01:36:26,033 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,034 INFO sqlalchemy.engine.Engine [insertmanyvalues 264/1094 (ordered; batch not supported)] (120, 19, '2022-08-22', 2639.0, 406)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 264/1094 (ordered; batch not supported)] (120, 19, '2022-08-22', 2639.0, 406)

2025-04-27 01:36:26,035 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,036 INFO sqlalchemy.engine.Engine [insertmanyvalues 265/1094 (ordered; batch not supported)] (124, 22, '2022-05-11', 4571.0, 122)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 265/1094 (ordered; batch not supported)] (124, 22, '2022-05-11', 4571.0, 122)

2025-04-27 01:36:26,037 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,038 INFO sqlalchemy.engine.Engine [insertmanyvalues 266/1094 (ordered; batch not supported)] (131, 11, '2022-01-26', 4781.0, 38)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 266/1094 (ordered; batch not supported)] (131, 11, '2022-01-26', 4781.0, 38)

2025-04-27 01:36:26,039 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,040 INFO sqlalchemy.engine.Engine [insertmanyvalues 267/1094 (ordered; batch not supported)] (102, 7, '2022-04-14', 13034.0, 117)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 267/1094 (ordered; batch not supported)] (102, 7, '2022-04-14', 13034.0, 117)

2025-04-27 01:36:26,041 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,042 INFO sqlalchemy.engine.Engine [insertmanyvalues 268/1094 (ordered; batch not supported)] (122, 1, '2022-04-05', 6454.0, 417)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 268/1094 (ordered; batch not supported)] (122, 1, '2022-04-05', 6454.0, 417)

2025-04-27 01:36:26,043 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,044 INFO sqlalchemy.engine.Engine [insertmanyvalues 269/1094 (ordered; batch not supported)] (120, 4, '2022-06-14', 8484.0, 57)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 269/1094 (ordered; batch not supported)] (120, 4, '2022-06-14', 8484.0, 57)

2025-04-27 01:36:26,045 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,046 INFO sqlalchemy.engine.Engine [insertmanyvalues 270/1094 (ordered; batch not supported)] (136, 17, '2022-04-13', 4781.0, 125)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 270/1094 (ordered; batch not supported)] (136, 17, '2022-04-13', 4781.0, 125)

2025-04-27 01:36:26,047 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,048 INFO sqlalchemy.engine.Engine [insertmanyvalues 271/1094 (ordered; batch not supported)] (107, 15, '2022-06-27', 2240.0, 166)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 271/1094 (ordered; batch not supported)] (107, 15, '2022-06-27', 2240.0, 166)

2025-04-27 01:36:26,049 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,050 INFO sqlalchemy.engine.Engine [insertmanyvalues 272/1094 (ordered; batch not supported)] (138, 9, '2022-01-26', 6979.0, 3)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 272/1094 (ordered; batch not supported)] (138, 9, '2022-01-26', 6979.0, 3)

2025-04-27 01:36:26,051 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,052 INFO sqlalchemy.engine.Engine [insertmanyvalues 273/1094 (ordered; batch not supported)] (102, 15, '2022-07-05', 1652.0, 72)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 273/1094 (ordered; batch not supported)] (102, 15, '2022-07-05', 1652.0, 72)

2025-04-27 01:36:26,053 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,054 INFO sqlalchemy.engine.Engine [insertmanyvalues 274/1094 (ordered; batch not supported)] (107, 20, '2022-01-11', 13447.0, 95)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 274/1094 (ordered; batch not supported)] (107, 20, '2022-01-11', 13447.0, 95)

2025-04-27 01:36:26,058 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,059 INFO sqlalchemy.engine.Engine [insertmanyvalues 275/1094 (ordered; batch not supported)] (77, 15, '2022-03-07', 9422.0, 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 275/1094 (ordered; batch not supported)] (77, 15, '2022-03-07', 9422.0, 22)

2025-04-27 01:36:26,060 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,061 INFO sqlalchemy.engine.Engine [insertmanyvalues 276/1094 (ordered; batch not supported)] (133, 7, '2022-03-04', 8687.0, 100)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 276/1094 (ordered; batch not supported)] (133, 7, '2022-03-04', 8687.0, 100)

2025-04-27 01:36:26,062 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,063 INFO sqlalchemy.engine.Engine [insertmanyvalues 277/1094 (ordered; batch not supported)] (106, 11, '2022-07-15', 2415.0, 312)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 277/1094 (ordered; batch not supported)] (106, 11, '2022-07-15', 2415.0, 312)

2025-04-27 01:36:26,064 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,067 INFO sqlalchemy.engine.Engine [insertmanyvalues 278/1094 (ordered; batch not supported)] (133, 3, '2022-05-11', 6272.0, 86)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 278/1094 (ordered; batch not supported)] (133, 3, '2022-05-11', 6272.0, 86)

2025-04-27 01:36:26,068 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,069 INFO sqlalchemy.engine.Engine [insertmanyvalues 279/1094 (ordered; batch not supported)] (106, 12, '2022-01-27', 4389.0, 7)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 279/1094 (ordered; batch not supported)] (106, 12, '2022-01-27', 4389.0, 7)

2025-04-27 01:36:26,070 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,071 INFO sqlalchemy.engine.Engine [insertmanyvalues 280/1094 (ordered; batch not supported)] (106, 8, '2022-06-27', 3122.0, 149)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 280/1094 (ordered; batch not supported)] (106, 8, '2022-06-27', 3122.0, 149)

2025-04-27 01:36:26,072 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,073 INFO sqlalchemy.engine.Engine [insertmanyvalues 281/1094 (ordered; batch not supported)] (124, 4, '2022-08-03', 8043.0, 18)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 281/1094 (ordered; batch not supported)] (124, 4, '2022-08-03', 8043.0, 18)

2025-04-27 01:36:26,074 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,076 INFO sqlalchemy.engine.Engine [insertmanyvalues 282/1094 (ordered; batch not supported)] (150, 1, '2022-08-19', 11662.0, 242)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 282/1094 (ordered; batch not supported)] (150, 1, '2022-08-19', 11662.0, 242)

2025-04-27 01:36:26,077 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,078 INFO sqlalchemy.engine.Engine [insertmanyvalues 283/1094 (ordered; batch not supported)] (150, 14, '2022-06-15', 392.0, 102)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 283/1094 (ordered; batch not supported)] (150, 14, '2022-06-15', 392.0, 102)

2025-04-27 01:36:26,079 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,080 INFO sqlalchemy.engine.Engine [insertmanyvalues 284/1094 (ordered; batch not supported)] (122, 3, '2022-02-07', 8925.0, 158)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 284/1094 (ordered; batch not supported)] (122, 3, '2022-02-07', 8925.0, 158)

2025-04-27 01:36:26,081 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,082 INFO sqlalchemy.engine.Engine [insertmanyvalues 285/1094 (ordered; batch not supported)] (106, 17, '2022-07-08', 7294.0, 128)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 285/1094 (ordered; batch not supported)] (106, 17, '2022-07-08', 7294.0, 128)

2025-04-27 01:36:26,083 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,083 INFO sqlalchemy.engine.Engine [insertmanyvalues 286/1094 (ordered; batch not supported)] (122, 12, '2022-04-21', 1526.0, 96)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 286/1094 (ordered; batch not supported)] (122, 12, '2022-04-21', 1526.0, 96)

2025-04-27 01:36:26,084 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,085 INFO sqlalchemy.engine.Engine [insertmanyvalues 287/1094 (ordered; batch not supported)] (124, 1, '2022-04-08', 2688.0, 209)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 287/1094 (ordered; batch not supported)] (124, 1, '2022-04-08', 2688.0, 209)

2025-04-27 01:36:26,086 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,087 INFO sqlalchemy.engine.Engine [insertmanyvalues 288/1094 (ordered; batch not supported)] (142, 7, '2022-08-19', 14889.0, 52)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 288/1094 (ordered; batch not supported)] (142, 7, '2022-08-19', 14889.0, 52)

2025-04-27 01:36:26,088 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,089 INFO sqlalchemy.engine.Engine [insertmanyvalues 289/1094 (ordered; batch not supported)] (148, 14, '2022-05-04', 2912.0, 55)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 289/1094 (ordered; batch not supported)] (148, 14, '2022-05-04', 2912.0, 55)

2025-04-27 01:36:26,090 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,092 INFO sqlalchemy.engine.Engine [insertmanyvalues 290/1094 (ordered; batch not supported)] (137, 2, '2022-05-11', 2632.0, 108)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 290/1094 (ordered; batch not supported)] (137, 2, '2022-05-11', 2632.0, 108)

2025-04-27 01:36:26,093 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,094 INFO sqlalchemy.engine.Engine [insertmanyvalues 291/1094 (ordered; batch not supported)] (137, 9, '2022-03-22', 6328.0, 51)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 291/1094 (ordered; batch not supported)] (137, 9, '2022-03-22', 6328.0, 51)

2025-04-27 01:36:26,095 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,096 INFO sqlalchemy.engine.Engine [insertmanyvalues 292/1094 (ordered; batch not supported)] (122, 13, '2022-08-10', 2527.0, 216)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 292/1094 (ordered; batch not supported)] (122, 13, '2022-08-10', 2527.0, 216)

2025-04-27 01:36:26,097 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,098 INFO sqlalchemy.engine.Engine [insertmanyvalues 293/1094 (ordered; batch not supported)] (122, 14, '2022-05-04', 1414.0, 318)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 293/1094 (ordered; batch not supported)] (122, 14, '2022-05-04', 1414.0, 318)

2025-04-27 01:36:26,099 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,100 INFO sqlalchemy.engine.Engine [insertmanyvalues 294/1094 (ordered; batch not supported)] (77, 5, '2022-08-18', 7714.0, 238)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 294/1094 (ordered; batch not supported)] (77, 5, '2022-08-18', 7714.0, 238)

2025-04-27 01:36:26,101 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,102 INFO sqlalchemy.engine.Engine [insertmanyvalues 295/1094 (ordered; batch not supported)] (138, 18, '2022-08-03', 4347.0, 238)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 295/1094 (ordered; batch not supported)] (138, 18, '2022-08-03', 4347.0, 238)

2025-04-27 01:36:26,103 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,104 INFO sqlalchemy.engine.Engine [insertmanyvalues 296/1094 (ordered; batch not supported)] (120, 12, '2022-01-14', 7490.0, 315)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 296/1094 (ordered; batch not supported)] (120, 12, '2022-01-14', 7490.0, 315)

2025-04-27 01:36:26,105 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,106 INFO sqlalchemy.engine.Engine [insertmanyvalues 297/1094 (ordered; batch not supported)] (131, 19, '2022-04-08', 2058.0, 72)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 297/1094 (ordered; batch not supported)] (131, 19, '2022-04-08', 2058.0, 72)

2025-04-27 01:36:26,107 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,113 INFO sqlalchemy.engine.Engine [insertmanyvalues 298/1094 (ordered; batch not supported)] (77, 8, '2022-08-01', 3640.0, 3)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 298/1094 (ordered; batch not supported)] (77, 8, '2022-08-01', 3640.0, 3)

2025-04-27 01:36:26,114 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,115 INFO sqlalchemy.engine.Engine [insertmanyvalues 299/1094 (ordered; batch not supported)] (122, 9, '2022-03-15', 455.0, 45)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 299/1094 (ordered; batch not supported)] (122, 9, '2022-03-15', 455.0, 45)

2025-04-27 01:36:26,116 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,118 INFO sqlalchemy.engine.Engine [insertmanyvalues 300/1094 (ordered; batch not supported)] (106, 1, '2022-07-15', 10990.0, 184)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 300/1094 (ordered; batch not supported)] (106, 1, '2022-07-15', 10990.0, 184)

2025-04-27 01:36:26,119 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,120 INFO sqlalchemy.engine.Engine [insertmanyvalues 301/1094 (ordered; batch not supported)] (102, 17, '2022-01-13', 5558.0, 127)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 301/1094 (ordered; batch not supported)] (102, 17, '2022-01-13', 5558.0, 127)

2025-04-27 01:36:26,121 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,122 INFO sqlalchemy.engine.Engine [insertmanyvalues 302/1094 (ordered; batch not supported)] (137, 2, '2022-08-26', 2541.0, 53)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 302/1094 (ordered; batch not supported)] (137, 2, '2022-08-26', 2541.0, 53)

2025-04-27 01:36:26,123 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,124 INFO sqlalchemy.engine.Engine [insertmanyvalues 303/1094 (ordered; batch not supported)] (124, 9, '2022-01-10', 1876.0, 172)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 303/1094 (ordered; batch not supported)] (124, 9, '2022-01-10', 1876.0, 172)

2025-04-27 01:36:26,125 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,126 INFO sqlalchemy.engine.Engine [insertmanyvalues 304/1094 (ordered; batch not supported)] (119, 15, '2022-05-11', 5523.0, 87)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 304/1094 (ordered; batch not supported)] (119, 15, '2022-05-11', 5523.0, 87)

2025-04-27 01:36:26,127 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,128 INFO sqlalchemy.engine.Engine [insertmanyvalues 305/1094 (ordered; batch not supported)] (107, 2, '2022-08-30', 11200.0, 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 305/1094 (ordered; batch not supported)] (107, 2, '2022-08-30', 11200.0, 22)

2025-04-27 01:36:26,132 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,133 INFO sqlalchemy.engine.Engine [insertmanyvalues 306/1094 (ordered; batch not supported)] (133, 21, '2022-07-21', 5593.0, 122)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 306/1094 (ordered; batch not supported)] (133, 21, '2022-07-21', 5593.0, 122)

2025-04-27 01:36:26,134 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,136 INFO sqlalchemy.engine.Engine [insertmanyvalues 307/1094 (ordered; batch not supported)] (137, 17, '2022-08-01', 7882.0, 125)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 307/1094 (ordered; batch not supported)] (137, 17, '2022-08-01', 7882.0, 125)

2025-04-27 01:36:26,139 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,140 INFO sqlalchemy.engine.Engine [insertmanyvalues 308/1094 (ordered; batch not supported)] (136, 2, '2022-02-17', 10241.0, 259)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 308/1094 (ordered; batch not supported)] (136, 2, '2022-02-17', 10241.0, 259)

2025-04-27 01:36:26,142 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,143 INFO sqlalchemy.engine.Engine [insertmanyvalues 309/1094 (ordered; batch not supported)] (136, 10, '2022-07-27', 6832.0, 156)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 309/1094 (ordered; batch not supported)] (136, 10, '2022-07-27', 6832.0, 156)

2025-04-27 01:36:26,144 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,145 INFO sqlalchemy.engine.Engine [insertmanyvalues 310/1094 (ordered; batch not supported)] (138, 8, '2022-02-23', 1379.0, 107)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 310/1094 (ordered; batch not supported)] (138, 8, '2022-02-23', 1379.0, 107)

2025-04-27 01:36:26,146 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,147 INFO sqlalchemy.engine.Engine [insertmanyvalues 311/1094 (ordered; batch not supported)] (140, 7, '2022-03-22', 3010.0, 40)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 311/1094 (ordered; batch not supported)] (140, 7, '2022-03-22', 3010.0, 40)

2025-04-27 01:36:26,148 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,149 INFO sqlalchemy.engine.Engine [insertmanyvalues 312/1094 (ordered; batch not supported)] (122, 5, '2022-06-23', 6888.0, 311)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 312/1094 (ordered; batch not supported)] (122, 5, '2022-06-23', 6888.0, 311)

2025-04-27 01:36:26,150 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,151 INFO sqlalchemy.engine.Engine [insertmanyvalues 313/1094 (ordered; batch not supported)] (141, 15, '2022-02-01', 1540.0, 73)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 313/1094 (ordered; batch not supported)] (141, 15, '2022-02-01', 1540.0, 73)

2025-04-27 01:36:26,152 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,153 INFO sqlalchemy.engine.Engine [insertmanyvalues 314/1094 (ordered; batch not supported)] (77, 6, '2022-03-02', 6916.0, 288)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 314/1094 (ordered; batch not supported)] (77, 6, '2022-03-02', 6916.0, 288)

2025-04-27 01:36:26,154 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,160 INFO sqlalchemy.engine.Engine [insertmanyvalues 315/1094 (ordered; batch not supported)] (119, 14, '2022-04-06', 1232.0, 86)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 315/1094 (ordered; batch not supported)] (119, 14, '2022-04-06', 1232.0, 86)

2025-04-27 01:36:26,161 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,162 INFO sqlalchemy.engine.Engine [insertmanyvalues 316/1094 (ordered; batch not supported)] (135, 18, '2022-03-17', 602.0, 72)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 316/1094 (ordered; batch not supported)] (135, 18, '2022-03-17', 602.0, 72)

2025-04-27 01:36:26,163 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,164 INFO sqlalchemy.engine.Engine [insertmanyvalues 317/1094 (ordered; batch not supported)] (141, 14, '2022-06-24', 10927.0, 136)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 317/1094 (ordered; batch not supported)] (141, 14, '2022-06-24', 10927.0, 136)

2025-04-27 01:36:26,169 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,170 INFO sqlalchemy.engine.Engine [insertmanyvalues 318/1094 (ordered; batch not supported)] (102, 7, '2022-07-19', 10185.0, 303)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 318/1094 (ordered; batch not supported)] (102, 7, '2022-07-19', 10185.0, 303)

2025-04-27 01:36:26,171 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,172 INFO sqlalchemy.engine.Engine [insertmanyvalues 319/1094 (ordered; batch not supported)] (141, 13, '2022-07-11', 1603.0, 264)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 319/1094 (ordered; batch not supported)] (141, 13, '2022-07-11', 1603.0, 264)

2025-04-27 01:36:26,173 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,174 INFO sqlalchemy.engine.Engine [insertmanyvalues 320/1094 (ordered; batch not supported)] (136, 17, '2022-01-13', 2170.0, 218)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 320/1094 (ordered; batch not supported)] (136, 17, '2022-01-13', 2170.0, 218)

2025-04-27 01:36:26,175 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,176 INFO sqlalchemy.engine.Engine [insertmanyvalues 321/1094 (ordered; batch not supported)] (147, 4, '2022-07-07', 8673.0, 60)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 321/1094 (ordered; batch not supported)] (147, 4, '2022-07-07', 8673.0, 60)

2025-04-27 01:36:26,176 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,177 INFO sqlalchemy.engine.Engine [insertmanyvalues 322/1094 (ordered; batch not supported)] (148, 2, '2022-05-25', 4760.0, 418)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 322/1094 (ordered; batch not supported)] (148, 2, '2022-05-25', 4760.0, 418)

2025-04-27 01:36:26,178 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,179 INFO sqlalchemy.engine.Engine [insertmanyvalues 323/1094 (ordered; batch not supported)] (120, 14, '2022-04-13', 4753.0, 151)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 323/1094 (ordered; batch not supported)] (120, 14, '2022-04-13', 4753.0, 151)

2025-04-27 01:36:26,180 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,181 INFO sqlalchemy.engine.Engine [insertmanyvalues 324/1094 (ordered; batch not supported)] (63, 7, '2022-03-02', 3374.0, 202)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 324/1094 (ordered; batch not supported)] (63, 7, '2022-03-02', 3374.0, 202)

2025-04-27 01:36:26,182 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,183 INFO sqlalchemy.engine.Engine [insertmanyvalues 325/1094 (ordered; batch not supported)] (135, 18, '2022-06-23', 2058.0, 126)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 325/1094 (ordered; batch not supported)] (135, 18, '2022-06-23', 2058.0, 126)

2025-04-27 01:36:26,184 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,185 INFO sqlalchemy.engine.Engine [insertmanyvalues 326/1094 (ordered; batch not supported)] (77, 10, '2022-07-26', 6454.0, 160)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 326/1094 (ordered; batch not supported)] (77, 10, '2022-07-26', 6454.0, 160)

2025-04-27 01:36:26,186 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,186 INFO sqlalchemy.engine.Engine [insertmanyvalues 327/1094 (ordered; batch not supported)] (61, 15, '2022-03-22', 420.0, 3)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 327/1094 (ordered; batch not supported)] (61, 15, '2022-03-22', 420.0, 3)

2025-04-27 01:36:26,187 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,188 INFO sqlalchemy.engine.Engine [insertmanyvalues 328/1094 (ordered; batch not supported)] (140, 20, '2022-06-09', 2863.0, 58)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 328/1094 (ordered; batch not supported)] (140, 20, '2022-06-09', 2863.0, 58)

2025-04-27 01:36:26,189 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,190 INFO sqlalchemy.engine.Engine [insertmanyvalues 329/1094 (ordered; batch not supported)] (61, 21, '2022-05-17', 5936.0, 59)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 329/1094 (ordered; batch not supported)] (61, 21, '2022-05-17', 5936.0, 59)

2025-04-27 01:36:26,191 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,192 INFO sqlalchemy.engine.Engine [insertmanyvalues 330/1094 (ordered; batch not supported)] (124, 3, '2022-03-04', 889.0, 273)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 330/1094 (ordered; batch not supported)] (124, 3, '2022-03-04', 889.0, 273)

2025-04-27 01:36:26,193 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,194 INFO sqlalchemy.engine.Engine [insertmanyvalues 331/1094 (ordered; batch not supported)] (77, 12, '2022-07-07', 16016.0, 28)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 331/1094 (ordered; batch not supported)] (77, 12, '2022-07-07', 16016.0, 28)

2025-04-27 01:36:26,195 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,196 INFO sqlalchemy.engine.Engine [insertmanyvalues 332/1094 (ordered; batch not supported)] (122, 19, '2022-01-13', 10479.0, 118)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 332/1094 (ordered; batch not supported)] (122, 19, '2022-01-13', 10479.0, 118)

2025-04-27 01:36:26,197 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,197 INFO sqlalchemy.engine.Engine [insertmanyvalues 333/1094 (ordered; batch not supported)] (141, 17, '2022-07-13', 2912.0, 75)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 333/1094 (ordered; batch not supported)] (141, 17, '2022-07-13', 2912.0, 75)

2025-04-27 01:36:26,198 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,199 INFO sqlalchemy.engine.Engine [insertmanyvalues 334/1094 (ordered; batch not supported)] (131, 2, '2022-06-16', 1575.0, 329)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 334/1094 (ordered; batch not supported)] (131, 2, '2022-06-16', 1575.0, 329)

2025-04-27 01:36:26,200 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,201 INFO sqlalchemy.engine.Engine [insertmanyvalues 335/1094 (ordered; batch not supported)] (119, 7, '2022-07-18', 8197.0, 69)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 335/1094 (ordered; batch not supported)] (119, 7, '2022-07-18', 8197.0, 69)

2025-04-27 01:36:26,203 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,203 INFO sqlalchemy.engine.Engine [insertmanyvalues 336/1094 (ordered; batch not supported)] (124, 16, '2022-05-30', 4221.0, 395)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 336/1094 (ordered; batch not supported)] (124, 16, '2022-05-30', 4221.0, 395)

2025-04-27 01:36:26,204 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,205 INFO sqlalchemy.engine.Engine [insertmanyvalues 337/1094 (ordered; batch not supported)] (119, 22, '2022-06-21', 840.0, 81)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 337/1094 (ordered; batch not supported)] (119, 22, '2022-06-21', 840.0, 81)

2025-04-27 01:36:26,206 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,207 INFO sqlalchemy.engine.Engine [insertmanyvalues 338/1094 (ordered; batch not supported)] (143, 3, '2022-06-24', 5691.0, 38)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 338/1094 (ordered; batch not supported)] (143, 3, '2022-06-24', 5691.0, 38)

2025-04-27 01:36:26,208 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,209 INFO sqlalchemy.engine.Engine [insertmanyvalues 339/1094 (ordered; batch not supported)] (120, 9, '2022-01-13', 3472.0, 96)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 339/1094 (ordered; batch not supported)] (120, 9, '2022-01-13', 3472.0, 96)

2025-04-27 01:36:26,210 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,211 INFO sqlalchemy.engine.Engine [insertmanyvalues 340/1094 (ordered; batch not supported)] (141, 14, '2022-04-04', 4193.0, 195)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 340/1094 (ordered; batch not supported)] (141, 14, '2022-04-04', 4193.0, 195)

2025-04-27 01:36:26,212 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,213 INFO sqlalchemy.engine.Engine [insertmanyvalues 341/1094 (ordered; batch not supported)] (133, 4, '2022-06-08', 9016.0, 554)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 341/1094 (ordered; batch not supported)] (133, 4, '2022-06-08', 9016.0, 554)

2025-04-27 01:36:26,214 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,215 INFO sqlalchemy.engine.Engine [insertmanyvalues 342/1094 (ordered; batch not supported)] (106, 13, '2022-08-02', 6328.0, 47)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 342/1094 (ordered; batch not supported)] (106, 13, '2022-08-02', 6328.0, 47)

2025-04-27 01:36:26,216 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,217 INFO sqlalchemy.engine.Engine [insertmanyvalues 343/1094 (ordered; batch not supported)] (77, 11, '2022-07-21', 9870.0, 152)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 343/1094 (ordered; batch not supported)] (77, 11, '2022-07-21', 9870.0, 152)

2025-04-27 01:36:26,218 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,219 INFO sqlalchemy.engine.Engine [insertmanyvalues 344/1094 (ordered; batch not supported)] (141, 13, '2022-06-20', 161.0, 134)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 344/1094 (ordered; batch not supported)] (141, 13, '2022-06-20', 161.0, 134)

2025-04-27 01:36:26,220 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,221 INFO sqlalchemy.engine.Engine [insertmanyvalues 345/1094 (ordered; batch not supported)] (144, 6, '2022-06-22', 2576.0, 112)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 345/1094 (ordered; batch not supported)] (144, 6, '2022-06-22', 2576.0, 112)

2025-04-27 01:36:26,222 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,223 INFO sqlalchemy.engine.Engine [insertmanyvalues 346/1094 (ordered; batch not supported)] (146, 21, '2022-05-02', 3178.0, 16)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 346/1094 (ordered; batch not supported)] (146, 21, '2022-05-02', 3178.0, 16)

2025-04-27 01:36:26,224 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,225 INFO sqlalchemy.engine.Engine [insertmanyvalues 347/1094 (ordered; batch not supported)] (141, 5, '2022-01-07', 4676.0, 84)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 347/1094 (ordered; batch not supported)] (141, 5, '2022-01-07', 4676.0, 84)

2025-04-27 01:36:26,226 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,227 INFO sqlalchemy.engine.Engine [insertmanyvalues 348/1094 (ordered; batch not supported)] (137, 7, '2022-02-21', 5502.0, 99)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 348/1094 (ordered; batch not supported)] (137, 7, '2022-02-21', 5502.0, 99)

2025-04-27 01:36:26,228 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,229 INFO sqlalchemy.engine.Engine [insertmanyvalues 349/1094 (ordered; batch not supported)] (124, 20, '2022-03-21', 7462.0, 371)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 349/1094 (ordered; batch not supported)] (124, 20, '2022-03-21', 7462.0, 371)

2025-04-27 01:36:26,230 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,231 INFO sqlalchemy.engine.Engine [insertmanyvalues 350/1094 (ordered; batch not supported)] (61, 10, '2022-04-04', 5803.0, 136)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 350/1094 (ordered; batch not supported)] (61, 10, '2022-04-04', 5803.0, 136)

2025-04-27 01:36:26,232 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,233 INFO sqlalchemy.engine.Engine [insertmanyvalues 351/1094 (ordered; batch not supported)] (135, 14, '2022-03-24', 13888.0, 203)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 351/1094 (ordered; batch not supported)] (135, 14, '2022-03-24', 13888.0, 203)

2025-04-27 01:36:26,234 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,235 INFO sqlalchemy.engine.Engine [insertmanyvalues 352/1094 (ordered; batch not supported)] (135, 13, '2022-06-28', 6867.0, 183)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 352/1094 (ordered; batch not supported)] (135, 13, '2022-06-28', 6867.0, 183)

2025-04-27 01:36:26,237 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,237 INFO sqlalchemy.engine.Engine [insertmanyvalues 353/1094 (ordered; batch not supported)] (135, 10, '2022-01-14', 2317.0, 195)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 353/1094 (ordered; batch not supported)] (135, 10, '2022-01-14', 2317.0, 195)

2025-04-27 01:36:26,238 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,240 INFO sqlalchemy.engine.Engine [insertmanyvalues 354/1094 (ordered; batch not supported)] (106, 14, '2022-02-07', 1218.0, 135)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 354/1094 (ordered; batch not supported)] (106, 14, '2022-02-07', 1218.0, 135)

2025-04-27 01:36:26,241 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,242 INFO sqlalchemy.engine.Engine [insertmanyvalues 355/1094 (ordered; batch not supported)] (122, 10, '2022-01-11', 4109.0, 197)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 355/1094 (ordered; batch not supported)] (122, 10, '2022-01-11', 4109.0, 197)

2025-04-27 01:36:26,243 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,244 INFO sqlalchemy.engine.Engine [insertmanyvalues 356/1094 (ordered; batch not supported)] (143, 5, '2022-02-25', 1953.0, 242)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 356/1094 (ordered; batch not supported)] (143, 5, '2022-02-25', 1953.0, 242)

2025-04-27 01:36:26,245 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,246 INFO sqlalchemy.engine.Engine [insertmanyvalues 357/1094 (ordered; batch not supported)] (138, 1, '2022-08-01', 6790.0, 25)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 357/1094 (ordered; batch not supported)] (138, 1, '2022-08-01', 6790.0, 25)

2025-04-27 01:36:26,247 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,248 INFO sqlalchemy.engine.Engine [insertmanyvalues 358/1094 (ordered; batch not supported)] (144, 1, '2022-05-05', 6797.0, 252)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 358/1094 (ordered; batch not supported)] (144, 1, '2022-05-05', 6797.0, 252)

2025-04-27 01:36:26,250 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,251 INFO sqlalchemy.engine.Engine [insertmanyvalues 359/1094 (ordered; batch not supported)] (131, 18, '2022-05-18', 9226.0, 415)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 359/1094 (ordered; batch not supported)] (131, 18, '2022-05-18', 9226.0, 415)

2025-04-27 01:36:26,252 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,252 INFO sqlalchemy.engine.Engine [insertmanyvalues 360/1094 (ordered; batch not supported)] (138, 19, '2022-01-04', 5733.0, 348)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 360/1094 (ordered; batch not supported)] (138, 19, '2022-01-04', 5733.0, 348)

2025-04-27 01:36:26,253 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,254 INFO sqlalchemy.engine.Engine [insertmanyvalues 361/1094 (ordered; batch not supported)] (144, 7, '2022-05-09', 4312.0, 211)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 361/1094 (ordered; batch not supported)] (144, 7, '2022-05-09', 4312.0, 211)

2025-04-27 01:36:26,255 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,257 INFO sqlalchemy.engine.Engine [insertmanyvalues 362/1094 (ordered; batch not supported)] (140, 4, '2022-05-06', 1638.0, 81)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 362/1094 (ordered; batch not supported)] (140, 4, '2022-05-06', 1638.0, 81)

2025-04-27 01:36:26,259 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,260 INFO sqlalchemy.engine.Engine [insertmanyvalues 363/1094 (ordered; batch not supported)] (142, 15, '2022-01-13', 10815.0, 145)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 363/1094 (ordered; batch not supported)] (142, 15, '2022-01-13', 10815.0, 145)

2025-04-27 01:36:26,262 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,263 INFO sqlalchemy.engine.Engine [insertmanyvalues 364/1094 (ordered; batch not supported)] (144, 17, '2022-06-24', 4466.0, 74)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 364/1094 (ordered; batch not supported)] (144, 17, '2022-06-24', 4466.0, 74)

2025-04-27 01:36:26,264 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,265 INFO sqlalchemy.engine.Engine [insertmanyvalues 365/1094 (ordered; batch not supported)] (61, 21, '2022-02-14', 987.0, 21)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 365/1094 (ordered; batch not supported)] (61, 21, '2022-02-14', 987.0, 21)

2025-04-27 01:36:26,266 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,267 INFO sqlalchemy.engine.Engine [insertmanyvalues 366/1094 (ordered; batch not supported)] (146, 5, '2022-01-18', 4669.0, 101)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 366/1094 (ordered; batch not supported)] (146, 5, '2022-01-18', 4669.0, 101)

2025-04-27 01:36:26,268 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,269 INFO sqlalchemy.engine.Engine [insertmanyvalues 367/1094 (ordered; batch not supported)] (133, 12, '2022-05-02', 2905.0, 91)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 367/1094 (ordered; batch not supported)] (133, 12, '2022-05-02', 2905.0, 91)

2025-04-27 01:36:26,270 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,272 INFO sqlalchemy.engine.Engine [insertmanyvalues 368/1094 (ordered; batch not supported)] (124, 4, '2022-05-16', 7490.0, 54)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 368/1094 (ordered; batch not supported)] (124, 4, '2022-05-16', 7490.0, 54)

2025-04-27 01:36:26,273 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,274 INFO sqlalchemy.engine.Engine [insertmanyvalues 369/1094 (ordered; batch not supported)] (137, 17, '2022-01-28', 6986.0, 368)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 369/1094 (ordered; batch not supported)] (137, 17, '2022-01-28', 6986.0, 368)

2025-04-27 01:36:26,275 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,276 INFO sqlalchemy.engine.Engine [insertmanyvalues 370/1094 (ordered; batch not supported)] (133, 5, '2022-06-24', 1288.0, 409)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 370/1094 (ordered; batch not supported)] (133, 5, '2022-06-24', 1288.0, 409)

2025-04-27 01:36:26,277 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,278 INFO sqlalchemy.engine.Engine [insertmanyvalues 371/1094 (ordered; batch not supported)] (147, 6, '2022-07-18', 2345.0, 104)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 371/1094 (ordered; batch not supported)] (147, 6, '2022-07-18', 2345.0, 104)

2025-04-27 01:36:26,279 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,280 INFO sqlalchemy.engine.Engine [insertmanyvalues 372/1094 (ordered; batch not supported)] (135, 9, '2022-04-13', 3619.0, 164)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 372/1094 (ordered; batch not supported)] (135, 9, '2022-04-13', 3619.0, 164)

2025-04-27 01:36:26,281 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 373/1094 (ordered; batch not supported)] (138, 21, '2022-04-15', 16982.0, 76)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 373/1094 (ordered; batch not supported)] (138, 21, '2022-04-15', 16982.0, 76)

2025-04-27 01:36:26,284 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,285 INFO sqlalchemy.engine.Engine [insertmanyvalues 374/1094 (ordered; batch not supported)] (148, 3, '2022-01-04', 8092.0, 178)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 374/1094 (ordered; batch not supported)] (148, 3, '2022-01-04', 8092.0, 178)

2025-04-27 01:36:26,286 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,287 INFO sqlalchemy.engine.Engine [insertmanyvalues 375/1094 (ordered; batch not supported)] (142, 9, '2022-07-04', 6993.0, 31)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 375/1094 (ordered; batch not supported)] (142, 9, '2022-07-04', 6993.0, 31)

2025-04-27 01:36:26,288 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,289 INFO sqlalchemy.engine.Engine [insertmanyvalues 376/1094 (ordered; batch not supported)] (107, 4, '2022-03-24', 2317.0, 352)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 376/1094 (ordered; batch not supported)] (107, 4, '2022-03-24', 2317.0, 352)

2025-04-27 01:36:26,291 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,292 INFO sqlalchemy.engine.Engine [insertmanyvalues 377/1094 (ordered; batch not supported)] (146, 16, '2022-03-17', 637.0, 169)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 377/1094 (ordered; batch not supported)] (146, 16, '2022-03-17', 637.0, 169)

2025-04-27 01:36:26,293 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,294 INFO sqlalchemy.engine.Engine [insertmanyvalues 378/1094 (ordered; batch not supported)] (147, 17, '2022-02-15', 6034.0, 223)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 378/1094 (ordered; batch not supported)] (147, 17, '2022-02-15', 6034.0, 223)

2025-04-27 01:36:26,295 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,296 INFO sqlalchemy.engine.Engine [insertmanyvalues 379/1094 (ordered; batch not supported)] (148, 8, '2022-06-29', 980.0, 146)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 379/1094 (ordered; batch not supported)] (148, 8, '2022-06-29', 980.0, 146)

2025-04-27 01:36:26,297 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,298 INFO sqlalchemy.engine.Engine [insertmanyvalues 380/1094 (ordered; batch not supported)] (119, 14, '2022-05-24', 2821.0, 112)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 380/1094 (ordered; batch not supported)] (119, 14, '2022-05-24', 2821.0, 112)

2025-04-27 01:36:26,299 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,300 INFO sqlalchemy.engine.Engine [insertmanyvalues 381/1094 (ordered; batch not supported)] (137, 12, '2022-01-10', 3563.0, 284)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 381/1094 (ordered; batch not supported)] (137, 12, '2022-01-10', 3563.0, 284)

2025-04-27 01:36:26,301 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,302 INFO sqlalchemy.engine.Engine [insertmanyvalues 382/1094 (ordered; batch not supported)] (141, 18, '2022-03-15', 2996.0, 139)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 382/1094 (ordered; batch not supported)] (141, 18, '2022-03-15', 2996.0, 139)

2025-04-27 01:36:26,303 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,304 INFO sqlalchemy.engine.Engine [insertmanyvalues 383/1094 (ordered; batch not supported)] (120, 12, '2022-02-08', 2436.0, 309)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 383/1094 (ordered; batch not supported)] (120, 12, '2022-02-08', 2436.0, 309)

2025-04-27 01:36:26,306 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,307 INFO sqlalchemy.engine.Engine [insertmanyvalues 384/1094 (ordered; batch not supported)] (136, 21, '2022-02-25', 1540.0, 100)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 384/1094 (ordered; batch not supported)] (136, 21, '2022-02-25', 1540.0, 100)

2025-04-27 01:36:26,308 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,309 INFO sqlalchemy.engine.Engine [insertmanyvalues 385/1094 (ordered; batch not supported)] (135, 9, '2022-05-03', 6916.0, 42)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 385/1094 (ordered; batch not supported)] (135, 9, '2022-05-03', 6916.0, 42)

2025-04-27 01:36:26,310 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,311 INFO sqlalchemy.engine.Engine [insertmanyvalues 386/1094 (ordered; batch not supported)] (144, 14, '2022-06-14', 5509.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 386/1094 (ordered; batch not supported)] (144, 14, '2022-06-14', 5509.0, 24)

2025-04-27 01:36:26,314 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,315 INFO sqlalchemy.engine.Engine [insertmanyvalues 387/1094 (ordered; batch not supported)] (135, 7, '2022-08-09', 12992.0, 83)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 387/1094 (ordered; batch not supported)] (135, 7, '2022-08-09', 12992.0, 83)

2025-04-27 01:36:26,318 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,319 INFO sqlalchemy.engine.Engine [insertmanyvalues 388/1094 (ordered; batch not supported)] (150, 16, '2022-07-11', 3724.0, 234)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 388/1094 (ordered; batch not supported)] (150, 16, '2022-07-11', 3724.0, 234)

2025-04-27 01:36:26,320 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,321 INFO sqlalchemy.engine.Engine [insertmanyvalues 389/1094 (ordered; batch not supported)] (133, 16, '2022-01-14', 7133.0, 118)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 389/1094 (ordered; batch not supported)] (133, 16, '2022-01-14', 7133.0, 118)

2025-04-27 01:36:26,323 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,324 INFO sqlalchemy.engine.Engine [insertmanyvalues 390/1094 (ordered; batch not supported)] (61, 16, '2022-02-24', 8617.0, 46)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 390/1094 (ordered; batch not supported)] (61, 16, '2022-02-24', 8617.0, 46)

2025-04-27 01:36:26,325 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,326 INFO sqlalchemy.engine.Engine [insertmanyvalues 391/1094 (ordered; batch not supported)] (150, 17, '2022-03-15', 9198.0, 144)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 391/1094 (ordered; batch not supported)] (150, 17, '2022-03-15', 9198.0, 144)

2025-04-27 01:36:26,329 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,330 INFO sqlalchemy.engine.Engine [insertmanyvalues 392/1094 (ordered; batch not supported)] (147, 20, '2022-04-25', 11823.0, 47)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 392/1094 (ordered; batch not supported)] (147, 20, '2022-04-25', 11823.0, 47)

2025-04-27 01:36:26,331 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,332 INFO sqlalchemy.engine.Engine [insertmanyvalues 393/1094 (ordered; batch not supported)] (122, 11, '2022-05-10', 5775.0, 41)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 393/1094 (ordered; batch not supported)] (122, 11, '2022-05-10', 5775.0, 41)

2025-04-27 01:36:26,333 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,334 INFO sqlalchemy.engine.Engine [insertmanyvalues 394/1094 (ordered; batch not supported)] (120, 13, '2022-06-23', 13125.0, 275)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 394/1094 (ordered; batch not supported)] (120, 13, '2022-06-23', 13125.0, 275)

2025-04-27 01:36:26,335 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,336 INFO sqlalchemy.engine.Engine [insertmanyvalues 395/1094 (ordered; batch not supported)] (107, 4, '2022-02-28', 14287.0, 370)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 395/1094 (ordered; batch not supported)] (107, 4, '2022-02-28', 14287.0, 370)

2025-04-27 01:36:26,337 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,342 INFO sqlalchemy.engine.Engine [insertmanyvalues 396/1094 (ordered; batch not supported)] (136, 11, '2022-05-25', 16233.0, 138)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 396/1094 (ordered; batch not supported)] (136, 11, '2022-05-25', 16233.0, 138)

2025-04-27 01:36:26,343 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,344 INFO sqlalchemy.engine.Engine [insertmanyvalues 397/1094 (ordered; batch not supported)] (144, 20, '2022-02-22', 5313.0, 215)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 397/1094 (ordered; batch not supported)] (144, 20, '2022-02-22', 5313.0, 215)

2025-04-27 01:36:26,345 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,346 INFO sqlalchemy.engine.Engine [insertmanyvalues 398/1094 (ordered; batch not supported)] (61, 2, '2022-07-11', 3577.0, 134)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 398/1094 (ordered; batch not supported)] (61, 2, '2022-07-11', 3577.0, 134)

2025-04-27 01:36:26,347 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,350 INFO sqlalchemy.engine.Engine [insertmanyvalues 399/1094 (ordered; batch not supported)] (120, 13, '2022-01-03', 3528.0, 336)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 399/1094 (ordered; batch not supported)] (120, 13, '2022-01-03', 3528.0, 336)

2025-04-27 01:36:26,351 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,352 INFO sqlalchemy.engine.Engine [insertmanyvalues 400/1094 (ordered; batch not supported)] (140, 22, '2022-08-24', 679.0, 280)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 400/1094 (ordered; batch not supported)] (140, 22, '2022-08-24', 679.0, 280)

2025-04-27 01:36:26,353 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,355 INFO sqlalchemy.engine.Engine [insertmanyvalues 401/1094 (ordered; batch not supported)] (107, 7, '2022-07-28', 2450.0, 352)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 401/1094 (ordered; batch not supported)] (107, 7, '2022-07-28', 2450.0, 352)

2025-04-27 01:36:26,359 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,360 INFO sqlalchemy.engine.Engine [insertmanyvalues 402/1094 (ordered; batch not supported)] (136, 1, '2022-05-25', 10577.0, 150)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 402/1094 (ordered; batch not supported)] (136, 1, '2022-05-25', 10577.0, 150)

2025-04-27 01:36:26,361 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,366 INFO sqlalchemy.engine.Engine [insertmanyvalues 403/1094 (ordered; batch not supported)] (106, 9, '2022-05-06', 2597.0, 177)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 403/1094 (ordered; batch not supported)] (106, 9, '2022-05-06', 2597.0, 177)

2025-04-27 01:36:26,367 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,368 INFO sqlalchemy.engine.Engine [insertmanyvalues 404/1094 (ordered; batch not supported)] (102, 10, '2022-01-28', 2219.0, 142)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 404/1094 (ordered; batch not supported)] (102, 10, '2022-01-28', 2219.0, 142)

2025-04-27 01:36:26,369 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,370 INFO sqlalchemy.engine.Engine [insertmanyvalues 405/1094 (ordered; batch not supported)] (120, 8, '2022-06-06', 11319.0, 12)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 405/1094 (ordered; batch not supported)] (120, 8, '2022-06-06', 11319.0, 12)

2025-04-27 01:36:26,371 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,372 INFO sqlalchemy.engine.Engine [insertmanyvalues 406/1094 (ordered; batch not supported)] (136, 20, '2022-07-12', 5978.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 406/1094 (ordered; batch not supported)] (136, 20, '2022-07-12', 5978.0, 24)

2025-04-27 01:36:26,373 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,376 INFO sqlalchemy.engine.Engine [insertmanyvalues 407/1094 (ordered; batch not supported)] (124, 13, '2022-08-05', 5327.0, 183)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 407/1094 (ordered; batch not supported)] (124, 13, '2022-08-05', 5327.0, 183)

2025-04-27 01:36:26,378 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,378 INFO sqlalchemy.engine.Engine [insertmanyvalues 408/1094 (ordered; batch not supported)] (136, 8, '2022-01-28', 6020.0, 147)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 408/1094 (ordered; batch not supported)] (136, 8, '2022-01-28', 6020.0, 147)

2025-04-27 01:36:26,380 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,381 INFO sqlalchemy.engine.Engine [insertmanyvalues 409/1094 (ordered; batch not supported)] (133, 13, '2022-08-31', 5614.0, 137)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 409/1094 (ordered; batch not supported)] (133, 13, '2022-08-31', 5614.0, 137)

2025-04-27 01:36:26,382 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,383 INFO sqlalchemy.engine.Engine [insertmanyvalues 410/1094 (ordered; batch not supported)] (137, 7, '2022-04-19', 1736.0, 13)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 410/1094 (ordered; batch not supported)] (137, 7, '2022-04-19', 1736.0, 13)

2025-04-27 01:36:26,384 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,385 INFO sqlalchemy.engine.Engine [insertmanyvalues 411/1094 (ordered; batch not supported)] (137, 1, '2022-06-29', 6384.0, 2)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 411/1094 (ordered; batch not supported)] (137, 1, '2022-06-29', 6384.0, 2)

2025-04-27 01:36:26,386 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,389 INFO sqlalchemy.engine.Engine [insertmanyvalues 412/1094 (ordered; batch not supported)] (107, 19, '2022-02-24', 3577.0, 261)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 412/1094 (ordered; batch not supported)] (107, 19, '2022-02-24', 3577.0, 261)

2025-04-27 01:36:26,391 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,392 INFO sqlalchemy.engine.Engine [insertmanyvalues 413/1094 (ordered; batch not supported)] (131, 4, '2022-03-04', 14539.0, 84)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 413/1094 (ordered; batch not supported)] (131, 4, '2022-03-04', 14539.0, 84)

2025-04-27 01:36:26,393 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,394 INFO sqlalchemy.engine.Engine [insertmanyvalues 414/1094 (ordered; batch not supported)] (119, 9, '2022-06-21', 3493.0, 68)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 414/1094 (ordered; batch not supported)] (119, 9, '2022-06-21', 3493.0, 68)

2025-04-27 01:36:26,395 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,396 INFO sqlalchemy.engine.Engine [insertmanyvalues 415/1094 (ordered; batch not supported)] (140, 11, '2022-01-26', 994.0, 105)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 415/1094 (ordered; batch not supported)] (140, 11, '2022-01-26', 994.0, 105)

2025-04-27 01:36:26,397 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,398 INFO sqlalchemy.engine.Engine [insertmanyvalues 416/1094 (ordered; batch not supported)] (147, 15, '2022-06-10', 4361.0, 40)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 416/1094 (ordered; batch not supported)] (147, 15, '2022-06-10', 4361.0, 40)

2025-04-27 01:36:26,399 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,402 INFO sqlalchemy.engine.Engine [insertmanyvalues 417/1094 (ordered; batch not supported)] (63, 10, '2022-05-23', 1554.0, 65)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 417/1094 (ordered; batch not supported)] (63, 10, '2022-05-23', 1554.0, 65)

2025-04-27 01:36:26,404 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,405 INFO sqlalchemy.engine.Engine [insertmanyvalues 418/1094 (ordered; batch not supported)] (77, 12, '2022-04-15', 966.0, 107)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 418/1094 (ordered; batch not supported)] (77, 12, '2022-04-15', 966.0, 107)

2025-04-27 01:36:26,406 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,407 INFO sqlalchemy.engine.Engine [insertmanyvalues 419/1094 (ordered; batch not supported)] (106, 21, '2022-01-31', 5334.0, 227)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 419/1094 (ordered; batch not supported)] (106, 21, '2022-01-31', 5334.0, 227)

2025-04-27 01:36:26,408 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,409 INFO sqlalchemy.engine.Engine [insertmanyvalues 420/1094 (ordered; batch not supported)] (63, 11, '2022-03-04', 4935.0, 39)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 420/1094 (ordered; batch not supported)] (63, 11, '2022-03-04', 4935.0, 39)

2025-04-27 01:36:26,410 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,411 INFO sqlalchemy.engine.Engine [insertmanyvalues 421/1094 (ordered; batch not supported)] (102, 6, '2022-04-19', 10024.0, 84)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 421/1094 (ordered; batch not supported)] (102, 6, '2022-04-19', 10024.0, 84)

2025-04-27 01:36:26,414 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,415 INFO sqlalchemy.engine.Engine [insertmanyvalues 422/1094 (ordered; batch not supported)] (107, 17, '2022-05-16', 2506.0, 100)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 422/1094 (ordered; batch not supported)] (107, 17, '2022-05-16', 2506.0, 100)

2025-04-27 01:36:26,416 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,417 INFO sqlalchemy.engine.Engine [insertmanyvalues 423/1094 (ordered; batch not supported)] (147, 18, '2022-02-17', 1043.0, 120)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 423/1094 (ordered; batch not supported)] (147, 18, '2022-02-17', 1043.0, 120)

2025-04-27 01:36:26,418 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,419 INFO sqlalchemy.engine.Engine [insertmanyvalues 424/1094 (ordered; batch not supported)] (122, 18, '2022-01-18', 6524.0, 257)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 424/1094 (ordered; batch not supported)] (122, 18, '2022-01-18', 6524.0, 257)

2025-04-27 01:36:26,420 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,421 INFO sqlalchemy.engine.Engine [insertmanyvalues 425/1094 (ordered; batch not supported)] (144, 8, '2022-02-09', 8148.0, 85)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 425/1094 (ordered; batch not supported)] (144, 8, '2022-02-09', 8148.0, 85)

2025-04-27 01:36:26,422 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,423 INFO sqlalchemy.engine.Engine [insertmanyvalues 426/1094 (ordered; batch not supported)] (137, 8, '2022-03-23', 3577.0, 178)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 426/1094 (ordered; batch not supported)] (137, 8, '2022-03-23', 3577.0, 178)

2025-04-27 01:36:26,424 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,425 INFO sqlalchemy.engine.Engine [insertmanyvalues 427/1094 (ordered; batch not supported)] (131, 21, '2022-02-01', 3374.0, 151)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 427/1094 (ordered; batch not supported)] (131, 21, '2022-02-01', 3374.0, 151)

2025-04-27 01:36:26,427 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,427 INFO sqlalchemy.engine.Engine [insertmanyvalues 428/1094 (ordered; batch not supported)] (137, 10, '2022-03-07', 3948.0, 142)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 428/1094 (ordered; batch not supported)] (137, 10, '2022-03-07', 3948.0, 142)

2025-04-27 01:36:26,429 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,429 INFO sqlalchemy.engine.Engine [insertmanyvalues 429/1094 (ordered; batch not supported)] (124, 15, '2022-01-03', 3269.0, 226)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 429/1094 (ordered; batch not supported)] (124, 15, '2022-01-03', 3269.0, 226)

2025-04-27 01:36:26,430 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,432 INFO sqlalchemy.engine.Engine [insertmanyvalues 430/1094 (ordered; batch not supported)] (124, 15, '2022-02-11', 5271.0, 341)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 430/1094 (ordered; batch not supported)] (124, 15, '2022-02-11', 5271.0, 341)

2025-04-27 01:36:26,433 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,434 INFO sqlalchemy.engine.Engine [insertmanyvalues 431/1094 (ordered; batch not supported)] (122, 8, '2022-03-16', 4571.0, 140)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 431/1094 (ordered; batch not supported)] (122, 8, '2022-03-16', 4571.0, 140)

2025-04-27 01:36:26,435 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,436 INFO sqlalchemy.engine.Engine [insertmanyvalues 432/1094 (ordered; batch not supported)] (138, 15, '2022-08-15', 12327.0, 330)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 432/1094 (ordered; batch not supported)] (138, 15, '2022-08-15', 12327.0, 330)

2025-04-27 01:36:26,437 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,438 INFO sqlalchemy.engine.Engine [insertmanyvalues 433/1094 (ordered; batch not supported)] (119, 16, '2022-05-12', 4935.0, 73)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 433/1094 (ordered; batch not supported)] (119, 16, '2022-05-12', 4935.0, 73)

2025-04-27 01:36:26,439 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,441 INFO sqlalchemy.engine.Engine [insertmanyvalues 434/1094 (ordered; batch not supported)] (61, 13, '2022-04-11', 6167.0, 4)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 434/1094 (ordered; batch not supported)] (61, 13, '2022-04-11', 6167.0, 4)

2025-04-27 01:36:26,442 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,443 INFO sqlalchemy.engine.Engine [insertmanyvalues 435/1094 (ordered; batch not supported)] (148, 1, '2022-06-30', 18340.0, 285)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 435/1094 (ordered; batch not supported)] (148, 1, '2022-06-30', 18340.0, 285)

2025-04-27 01:36:26,444 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,445 INFO sqlalchemy.engine.Engine [insertmanyvalues 436/1094 (ordered; batch not supported)] (138, 15, '2022-06-15', 7014.0, 60)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 436/1094 (ordered; batch not supported)] (138, 15, '2022-06-15', 7014.0, 60)

2025-04-27 01:36:26,446 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,447 INFO sqlalchemy.engine.Engine [insertmanyvalues 437/1094 (ordered; batch not supported)] (140, 21, '2022-08-01', 7119.0, 101)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 437/1094 (ordered; batch not supported)] (140, 21, '2022-08-01', 7119.0, 101)

2025-04-27 01:36:26,448 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,449 INFO sqlalchemy.engine.Engine [insertmanyvalues 438/1094 (ordered; batch not supported)] (133, 12, '2022-06-15', 15491.0, 58)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 438/1094 (ordered; batch not supported)] (133, 12, '2022-06-15', 15491.0, 58)

2025-04-27 01:36:26,450 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,451 INFO sqlalchemy.engine.Engine [insertmanyvalues 439/1094 (ordered; batch not supported)] (136, 6, '2022-06-16', 5747.0, 45)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 439/1094 (ordered; batch not supported)] (136, 6, '2022-06-16', 5747.0, 45)

2025-04-27 01:36:26,452 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,453 INFO sqlalchemy.engine.Engine [insertmanyvalues 440/1094 (ordered; batch not supported)] (147, 18, '2022-05-13', 4550.0, 281)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 440/1094 (ordered; batch not supported)] (147, 18, '2022-05-13', 4550.0, 281)

2025-04-27 01:36:26,454 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,455 INFO sqlalchemy.engine.Engine [insertmanyvalues 441/1094 (ordered; batch not supported)] (122, 10, '2022-05-10', 2191.0, 138)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 441/1094 (ordered; batch not supported)] (122, 10, '2022-05-10', 2191.0, 138)

2025-04-27 01:36:26,456 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,457 INFO sqlalchemy.engine.Engine [insertmanyvalues 442/1094 (ordered; batch not supported)] (147, 9, '2022-08-25', 5663.0, 322)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 442/1094 (ordered; batch not supported)] (147, 9, '2022-08-25', 5663.0, 322)

2025-04-27 01:36:26,458 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,459 INFO sqlalchemy.engine.Engine [insertmanyvalues 443/1094 (ordered; batch not supported)] (124, 11, '2022-07-15', 7623.0, 85)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 443/1094 (ordered; batch not supported)] (124, 11, '2022-07-15', 7623.0, 85)

2025-04-27 01:36:26,460 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,461 INFO sqlalchemy.engine.Engine [insertmanyvalues 444/1094 (ordered; batch not supported)] (119, 20, '2022-05-16', 9023.0, 409)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 444/1094 (ordered; batch not supported)] (119, 20, '2022-05-16', 9023.0, 409)

2025-04-27 01:36:26,462 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,463 INFO sqlalchemy.engine.Engine [insertmanyvalues 445/1094 (ordered; batch not supported)] (148, 7, '2022-06-14', 3402.0, 182)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 445/1094 (ordered; batch not supported)] (148, 7, '2022-06-14', 3402.0, 182)

2025-04-27 01:36:26,464 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,467 INFO sqlalchemy.engine.Engine [insertmanyvalues 446/1094 (ordered; batch not supported)] (107, 4, '2022-01-25', 10507.0, 467)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 446/1094 (ordered; batch not supported)] (107, 4, '2022-01-25', 10507.0, 467)

2025-04-27 01:36:26,469 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,470 INFO sqlalchemy.engine.Engine [insertmanyvalues 447/1094 (ordered; batch not supported)] (124, 11, '2022-07-28', 7721.0, 14)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 447/1094 (ordered; batch not supported)] (124, 11, '2022-07-28', 7721.0, 14)

2025-04-27 01:36:26,471 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,472 INFO sqlalchemy.engine.Engine [insertmanyvalues 448/1094 (ordered; batch not supported)] (136, 1, '2022-01-28', 5033.0, 178)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 448/1094 (ordered; batch not supported)] (136, 1, '2022-01-28', 5033.0, 178)

2025-04-27 01:36:26,473 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,474 INFO sqlalchemy.engine.Engine [insertmanyvalues 449/1094 (ordered; batch not supported)] (133, 8, '2022-06-29', 1960.0, 191)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 449/1094 (ordered; batch not supported)] (133, 8, '2022-06-29', 1960.0, 191)

2025-04-27 01:36:26,475 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,476 INFO sqlalchemy.engine.Engine [insertmanyvalues 450/1094 (ordered; batch not supported)] (106, 22, '2022-06-24', 238.0, 317)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 450/1094 (ordered; batch not supported)] (106, 22, '2022-06-24', 238.0, 317)

2025-04-27 01:36:26,477 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,481 INFO sqlalchemy.engine.Engine [insertmanyvalues 451/1094 (ordered; batch not supported)] (135, 1, '2022-07-01', 7756.0, 410)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 451/1094 (ordered; batch not supported)] (135, 1, '2022-07-01', 7756.0, 410)

2025-04-27 01:36:26,483 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,484 INFO sqlalchemy.engine.Engine [insertmanyvalues 452/1094 (ordered; batch not supported)] (144, 3, '2022-02-25', 1736.0, 137)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 452/1094 (ordered; batch not supported)] (144, 3, '2022-02-25', 1736.0, 137)

2025-04-27 01:36:26,485 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,486 INFO sqlalchemy.engine.Engine [insertmanyvalues 453/1094 (ordered; batch not supported)] (141, 4, '2022-08-01', 2660.0, 12)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 453/1094 (ordered; batch not supported)] (141, 4, '2022-08-01', 2660.0, 12)

2025-04-27 01:36:26,487 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,488 INFO sqlalchemy.engine.Engine [insertmanyvalues 454/1094 (ordered; batch not supported)] (147, 12, '2022-06-21', 7672.0, 254)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 454/1094 (ordered; batch not supported)] (147, 12, '2022-06-21', 7672.0, 254)

2025-04-27 01:36:26,489 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,490 INFO sqlalchemy.engine.Engine [insertmanyvalues 455/1094 (ordered; batch not supported)] (146, 13, '2022-01-25', 11564.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 455/1094 (ordered; batch not supported)] (146, 13, '2022-01-25', 11564.0, 24)

2025-04-27 01:36:26,494 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,495 INFO sqlalchemy.engine.Engine [insertmanyvalues 456/1094 (ordered; batch not supported)] (119, 12, '2022-05-17', 1365.0, 232)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 456/1094 (ordered; batch not supported)] (119, 12, '2022-05-17', 1365.0, 232)

2025-04-27 01:36:26,496 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,497 INFO sqlalchemy.engine.Engine [insertmanyvalues 457/1094 (ordered; batch not supported)] (63, 2, '2022-08-23', 4186.0, 233)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 457/1094 (ordered; batch not supported)] (63, 2, '2022-08-23', 4186.0, 233)

2025-04-27 01:36:26,498 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,499 INFO sqlalchemy.engine.Engine [insertmanyvalues 458/1094 (ordered; batch not supported)] (146, 4, '2022-03-03', 7406.0, 118)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 458/1094 (ordered; batch not supported)] (146, 4, '2022-03-03', 7406.0, 118)

2025-04-27 01:36:26,500 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,501 INFO sqlalchemy.engine.Engine [insertmanyvalues 459/1094 (ordered; batch not supported)] (144, 21, '2022-05-30', 8911.0, 543)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 459/1094 (ordered; batch not supported)] (144, 21, '2022-05-30', 8911.0, 543)

2025-04-27 01:36:26,502 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,503 INFO sqlalchemy.engine.Engine [insertmanyvalues 460/1094 (ordered; batch not supported)] (106, 10, '2022-06-29', 112.0, 223)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 460/1094 (ordered; batch not supported)] (106, 10, '2022-06-29', 112.0, 223)

2025-04-27 01:36:26,504 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,505 INFO sqlalchemy.engine.Engine [insertmanyvalues 461/1094 (ordered; batch not supported)] (63, 11, '2022-01-04', 8204.0, 204)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 461/1094 (ordered; batch not supported)] (63, 11, '2022-01-04', 8204.0, 204)

2025-04-27 01:36:26,506 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,507 INFO sqlalchemy.engine.Engine [insertmanyvalues 462/1094 (ordered; batch not supported)] (143, 10, '2022-01-14', 2611.0, 65)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 462/1094 (ordered; batch not supported)] (143, 10, '2022-01-14', 2611.0, 65)

2025-04-27 01:36:26,508 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,509 INFO sqlalchemy.engine.Engine [insertmanyvalues 463/1094 (ordered; batch not supported)] (106, 1, '2022-02-15', 15652.0, 53)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 463/1094 (ordered; batch not supported)] (106, 1, '2022-02-15', 15652.0, 53)

2025-04-27 01:36:26,510 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,510 INFO sqlalchemy.engine.Engine [insertmanyvalues 464/1094 (ordered; batch not supported)] (141, 13, '2022-01-10', 4074.0, 469)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 464/1094 (ordered; batch not supported)] (141, 13, '2022-01-10', 4074.0, 469)

2025-04-27 01:36:26,511 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,512 INFO sqlalchemy.engine.Engine [insertmanyvalues 465/1094 (ordered; batch not supported)] (131, 15, '2022-05-04', 12250.0, 213)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 465/1094 (ordered; batch not supported)] (131, 15, '2022-05-04', 12250.0, 213)

2025-04-27 01:36:26,513 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,514 INFO sqlalchemy.engine.Engine [insertmanyvalues 466/1094 (ordered; batch not supported)] (63, 13, '2022-05-23', 2366.0, 5)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 466/1094 (ordered; batch not supported)] (63, 13, '2022-05-23', 2366.0, 5)

2025-04-27 01:36:26,515 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,516 INFO sqlalchemy.engine.Engine [insertmanyvalues 467/1094 (ordered; batch not supported)] (102, 14, '2022-04-26', 1687.0, 147)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 467/1094 (ordered; batch not supported)] (102, 14, '2022-04-26', 1687.0, 147)

2025-04-27 01:36:26,517 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,518 INFO sqlalchemy.engine.Engine [insertmanyvalues 468/1094 (ordered; batch not supported)] (147, 11, '2022-07-05', 1232.0, 74)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 468/1094 (ordered; batch not supported)] (147, 11, '2022-07-05', 1232.0, 74)

2025-04-27 01:36:26,519 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,520 INFO sqlalchemy.engine.Engine [insertmanyvalues 469/1094 (ordered; batch not supported)] (131, 11, '2022-07-21', 6965.0, 163)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 469/1094 (ordered; batch not supported)] (131, 11, '2022-07-21', 6965.0, 163)

2025-04-27 01:36:26,521 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,522 INFO sqlalchemy.engine.Engine [insertmanyvalues 470/1094 (ordered; batch not supported)] (138, 1, '2022-02-21', 5292.0, 248)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 470/1094 (ordered; batch not supported)] (138, 1, '2022-02-21', 5292.0, 248)

2025-04-27 01:36:26,523 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,524 INFO sqlalchemy.engine.Engine [insertmanyvalues 471/1094 (ordered; batch not supported)] (77, 8, '2022-02-03', 1379.0, 138)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 471/1094 (ordered; batch not supported)] (77, 8, '2022-02-03', 1379.0, 138)

2025-04-27 01:36:26,525 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,526 INFO sqlalchemy.engine.Engine [insertmanyvalues 472/1094 (ordered; batch not supported)] (119, 21, '2022-07-08', 8001.0, 151)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 472/1094 (ordered; batch not supported)] (119, 21, '2022-07-08', 8001.0, 151)

2025-04-27 01:36:26,527 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,528 INFO sqlalchemy.engine.Engine [insertmanyvalues 473/1094 (ordered; batch not supported)] (137, 7, '2022-05-31', 588.0, 139)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 473/1094 (ordered; batch not supported)] (137, 7, '2022-05-31', 588.0, 139)

2025-04-27 01:36:26,529 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,530 INFO sqlalchemy.engine.Engine [insertmanyvalues 474/1094 (ordered; batch not supported)] (61, 1, '2022-06-27', 4046.0, 103)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 474/1094 (ordered; batch not supported)] (61, 1, '2022-06-27', 4046.0, 103)

2025-04-27 01:36:26,531 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,532 INFO sqlalchemy.engine.Engine [insertmanyvalues 475/1094 (ordered; batch not supported)] (61, 7, '2022-05-13', 5103.0, 129)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 475/1094 (ordered; batch not supported)] (61, 7, '2022-05-13', 5103.0, 129)

2025-04-27 01:36:26,533 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,533 INFO sqlalchemy.engine.Engine [insertmanyvalues 476/1094 (ordered; batch not supported)] (61, 16, '2022-05-31', 2317.0, 102)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 476/1094 (ordered; batch not supported)] (61, 16, '2022-05-31', 2317.0, 102)

2025-04-27 01:36:26,534 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,535 INFO sqlalchemy.engine.Engine [insertmanyvalues 477/1094 (ordered; batch not supported)] (150, 8, '2022-02-28', 7042.0, 37)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 477/1094 (ordered; batch not supported)] (150, 8, '2022-02-28', 7042.0, 37)

2025-04-27 01:36:26,536 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,537 INFO sqlalchemy.engine.Engine [insertmanyvalues 478/1094 (ordered; batch not supported)] (102, 9, '2022-03-28', 6713.0, 31)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 478/1094 (ordered; batch not supported)] (102, 9, '2022-03-28', 6713.0, 31)

2025-04-27 01:36:26,538 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,539 INFO sqlalchemy.engine.Engine [insertmanyvalues 479/1094 (ordered; batch not supported)] (119, 6, '2022-01-14', 1848.0, 227)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 479/1094 (ordered; batch not supported)] (119, 6, '2022-01-14', 1848.0, 227)

2025-04-27 01:36:26,540 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,541 INFO sqlalchemy.engine.Engine [insertmanyvalues 480/1094 (ordered; batch not supported)] (102, 1, '2022-02-21', 6440.0, 145)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 480/1094 (ordered; batch not supported)] (102, 1, '2022-02-21', 6440.0, 145)

2025-04-27 01:36:26,541 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,542 INFO sqlalchemy.engine.Engine [insertmanyvalues 481/1094 (ordered; batch not supported)] (122, 2, '2022-08-01', 10885.0, 90)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 481/1094 (ordered; batch not supported)] (122, 2, '2022-08-01', 10885.0, 90)

2025-04-27 01:36:26,543 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,544 INFO sqlalchemy.engine.Engine [insertmanyvalues 482/1094 (ordered; batch not supported)] (107, 4, '2022-05-19', 2387.0, 59)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 482/1094 (ordered; batch not supported)] (107, 4, '2022-05-19', 2387.0, 59)

2025-04-27 01:36:26,545 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,546 INFO sqlalchemy.engine.Engine [insertmanyvalues 483/1094 (ordered; batch not supported)] (142, 15, '2022-07-13', 2030.0, 60)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 483/1094 (ordered; batch not supported)] (142, 15, '2022-07-13', 2030.0, 60)

2025-04-27 01:36:26,547 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,548 INFO sqlalchemy.engine.Engine [insertmanyvalues 484/1094 (ordered; batch not supported)] (63, 3, '2022-04-20', 6678.0, 148)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 484/1094 (ordered; batch not supported)] (63, 3, '2022-04-20', 6678.0, 148)

2025-04-27 01:36:26,549 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,549 INFO sqlalchemy.engine.Engine [insertmanyvalues 485/1094 (ordered; batch not supported)] (122, 2, '2022-06-30', 4515.0, 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 485/1094 (ordered; batch not supported)] (122, 2, '2022-06-30', 4515.0, 22)

2025-04-27 01:36:26,550 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,551 INFO sqlalchemy.engine.Engine [insertmanyvalues 486/1094 (ordered; batch not supported)] (141, 7, '2022-03-08', 3374.0, 142)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 486/1094 (ordered; batch not supported)] (141, 7, '2022-03-08', 3374.0, 142)

2025-04-27 01:36:26,552 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,553 INFO sqlalchemy.engine.Engine [insertmanyvalues 487/1094 (ordered; batch not supported)] (135, 14, '2022-03-09', 5852.0, 93)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 487/1094 (ordered; batch not supported)] (135, 14, '2022-03-09', 5852.0, 93)

2025-04-27 01:36:26,554 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,555 INFO sqlalchemy.engine.Engine [insertmanyvalues 488/1094 (ordered; batch not supported)] (147, 18, '2022-06-16', 1750.0, 208)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 488/1094 (ordered; batch not supported)] (147, 18, '2022-06-16', 1750.0, 208)

2025-04-27 01:36:26,556 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,557 INFO sqlalchemy.engine.Engine [insertmanyvalues 489/1094 (ordered; batch not supported)] (119, 10, '2022-06-30', 5782.0, 42)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 489/1094 (ordered; batch not supported)] (119, 10, '2022-06-30', 5782.0, 42)

2025-04-27 01:36:26,558 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,559 INFO sqlalchemy.engine.Engine [insertmanyvalues 490/1094 (ordered; batch not supported)] (77, 1, '2022-07-28', 2870.0, 120)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 490/1094 (ordered; batch not supported)] (77, 1, '2022-07-28', 2870.0, 120)

2025-04-27 01:36:26,560 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,561 INFO sqlalchemy.engine.Engine [insertmanyvalues 491/1094 (ordered; batch not supported)] (106, 3, '2022-08-12', 3094.0, 159)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 491/1094 (ordered; batch not supported)] (106, 3, '2022-08-12', 3094.0, 159)

2025-04-27 01:36:26,562 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,563 INFO sqlalchemy.engine.Engine [insertmanyvalues 492/1094 (ordered; batch not supported)] (102, 1, '2022-07-07', 3724.0, 316)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 492/1094 (ordered; batch not supported)] (102, 1, '2022-07-07', 3724.0, 316)

2025-04-27 01:36:26,564 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,565 INFO sqlalchemy.engine.Engine [insertmanyvalues 493/1094 (ordered; batch not supported)] (102, 2, '2022-08-25', 12761.0, 47)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 493/1094 (ordered; batch not supported)] (102, 2, '2022-08-25', 12761.0, 47)

2025-04-27 01:36:26,568 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,569 INFO sqlalchemy.engine.Engine [insertmanyvalues 494/1094 (ordered; batch not supported)] (142, 9, '2022-01-17', 3696.0, 233)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 494/1094 (ordered; batch not supported)] (142, 9, '2022-01-17', 3696.0, 233)

2025-04-27 01:36:26,570 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,571 INFO sqlalchemy.engine.Engine [insertmanyvalues 495/1094 (ordered; batch not supported)] (148, 22, '2022-03-04', 5222.0, 384)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 495/1094 (ordered; batch not supported)] (148, 22, '2022-03-04', 5222.0, 384)

2025-04-27 01:36:26,572 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,573 INFO sqlalchemy.engine.Engine [insertmanyvalues 496/1094 (ordered; batch not supported)] (120, 14, '2022-08-25', 8939.0, 4)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 496/1094 (ordered; batch not supported)] (120, 14, '2022-08-25', 8939.0, 4)

2025-04-27 01:36:26,574 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,575 INFO sqlalchemy.engine.Engine [insertmanyvalues 497/1094 (ordered; batch not supported)] (124, 3, '2022-04-15', 2156.0, 260)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 497/1094 (ordered; batch not supported)] (124, 3, '2022-04-15', 2156.0, 260)

2025-04-27 01:36:26,576 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,579 INFO sqlalchemy.engine.Engine [insertmanyvalues 498/1094 (ordered; batch not supported)] (133, 11, '2022-03-11', 2380.0, 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 498/1094 (ordered; batch not supported)] (133, 11, '2022-03-11', 2380.0, 22)

2025-04-27 01:36:26,580 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,581 INFO sqlalchemy.engine.Engine [insertmanyvalues 499/1094 (ordered; batch not supported)] (146, 18, '2022-05-20', 3339.0, 18)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 499/1094 (ordered; batch not supported)] (146, 18, '2022-05-20', 3339.0, 18)

2025-04-27 01:36:26,582 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,583 INFO sqlalchemy.engine.Engine [insertmanyvalues 500/1094 (ordered; batch not supported)] (136, 16, '2022-06-14', 14980.0, 42)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 500/1094 (ordered; batch not supported)] (136, 16, '2022-06-14', 14980.0, 42)

2025-04-27 01:36:26,584 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,585 INFO sqlalchemy.engine.Engine [insertmanyvalues 501/1094 (ordered; batch not supported)] (143, 6, '2022-04-14', 1512.0, 73)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 501/1094 (ordered; batch not supported)] (143, 6, '2022-04-14', 1512.0, 73)

2025-04-27 01:36:26,586 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,587 INFO sqlalchemy.engine.Engine [insertmanyvalues 502/1094 (ordered; batch not supported)] (143, 4, '2022-07-07', 6657.0, 154)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 502/1094 (ordered; batch not supported)] (143, 4, '2022-07-07', 6657.0, 154)

2025-04-27 01:36:26,588 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,591 INFO sqlalchemy.engine.Engine [insertmanyvalues 503/1094 (ordered; batch not supported)] (131, 1, '2022-08-24', 3836.0, 71)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 503/1094 (ordered; batch not supported)] (131, 1, '2022-08-24', 3836.0, 71)

2025-04-27 01:36:26,592 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,593 INFO sqlalchemy.engine.Engine [insertmanyvalues 504/1094 (ordered; batch not supported)] (143, 9, '2022-02-24', 8771.0, 127)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 504/1094 (ordered; batch not supported)] (143, 9, '2022-02-24', 8771.0, 127)

2025-04-27 01:36:26,595 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,596 INFO sqlalchemy.engine.Engine [insertmanyvalues 505/1094 (ordered; batch not supported)] (106, 18, '2022-05-09', 651.0, 224)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 505/1094 (ordered; batch not supported)] (106, 18, '2022-05-09', 651.0, 224)

2025-04-27 01:36:26,597 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,598 INFO sqlalchemy.engine.Engine [insertmanyvalues 506/1094 (ordered; batch not supported)] (133, 22, '2022-02-08', 6706.0, 223)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 506/1094 (ordered; batch not supported)] (133, 22, '2022-02-08', 6706.0, 223)

2025-04-27 01:36:26,599 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,600 INFO sqlalchemy.engine.Engine [insertmanyvalues 507/1094 (ordered; batch not supported)] (144, 22, '2022-03-24', 1421.0, 284)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 507/1094 (ordered; batch not supported)] (144, 22, '2022-03-24', 1421.0, 284)

2025-04-27 01:36:26,601 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,605 INFO sqlalchemy.engine.Engine [insertmanyvalues 508/1094 (ordered; batch not supported)] (140, 10, '2022-06-20', 8526.0, 73)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 508/1094 (ordered; batch not supported)] (140, 10, '2022-06-20', 8526.0, 73)

2025-04-27 01:36:26,606 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,607 INFO sqlalchemy.engine.Engine [insertmanyvalues 509/1094 (ordered; batch not supported)] (137, 16, '2022-03-07', 1435.0, 112)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 509/1094 (ordered; batch not supported)] (137, 16, '2022-03-07', 1435.0, 112)

2025-04-27 01:36:26,608 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,609 INFO sqlalchemy.engine.Engine [insertmanyvalues 510/1094 (ordered; batch not supported)] (133, 14, '2022-06-20', 7434.0, 85)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 510/1094 (ordered; batch not supported)] (133, 14, '2022-06-20', 7434.0, 85)

2025-04-27 01:36:26,610 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,611 INFO sqlalchemy.engine.Engine [insertmanyvalues 511/1094 (ordered; batch not supported)] (147, 11, '2022-02-17', 15316.0, 270)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 511/1094 (ordered; batch not supported)] (147, 11, '2022-02-17', 15316.0, 270)

2025-04-27 01:36:26,612 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,613 INFO sqlalchemy.engine.Engine [insertmanyvalues 512/1094 (ordered; batch not supported)] (131, 5, '2022-01-26', 10479.0, 45)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 512/1094 (ordered; batch not supported)] (131, 5, '2022-01-26', 10479.0, 45)

2025-04-27 01:36:26,616 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,617 INFO sqlalchemy.engine.Engine [insertmanyvalues 513/1094 (ordered; batch not supported)] (131, 1, '2022-05-02', 2751.0, 153)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 513/1094 (ordered; batch not supported)] (131, 1, '2022-05-02', 2751.0, 153)

2025-04-27 01:36:26,618 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,619 INFO sqlalchemy.engine.Engine [insertmanyvalues 514/1094 (ordered; batch not supported)] (141, 5, '2022-07-07', 12586.0, 7)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 514/1094 (ordered; batch not supported)] (141, 5, '2022-07-07', 12586.0, 7)

2025-04-27 01:36:26,620 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,621 INFO sqlalchemy.engine.Engine [insertmanyvalues 515/1094 (ordered; batch not supported)] (140, 20, '2022-08-22', 2786.0, 51)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 515/1094 (ordered; batch not supported)] (140, 20, '2022-08-22', 2786.0, 51)

2025-04-27 01:36:26,622 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,624 INFO sqlalchemy.engine.Engine [insertmanyvalues 516/1094 (ordered; batch not supported)] (106, 6, '2022-08-11', 2303.0, 67)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 516/1094 (ordered; batch not supported)] (106, 6, '2022-08-11', 2303.0, 67)

2025-04-27 01:36:26,625 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,626 INFO sqlalchemy.engine.Engine [insertmanyvalues 517/1094 (ordered; batch not supported)] (120, 5, '2022-01-13', 8113.0, 194)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 517/1094 (ordered; batch not supported)] (120, 5, '2022-01-13', 8113.0, 194)

2025-04-27 01:36:26,630 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,631 INFO sqlalchemy.engine.Engine [insertmanyvalues 518/1094 (ordered; batch not supported)] (135, 7, '2022-03-02', 12271.0, 116)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 518/1094 (ordered; batch not supported)] (135, 7, '2022-03-02', 12271.0, 116)

2025-04-27 01:36:26,632 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,633 INFO sqlalchemy.engine.Engine [insertmanyvalues 519/1094 (ordered; batch not supported)] (120, 19, '2022-07-27', 11298.0, 41)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 519/1094 (ordered; batch not supported)] (120, 19, '2022-07-27', 11298.0, 41)

2025-04-27 01:36:26,634 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,635 INFO sqlalchemy.engine.Engine [insertmanyvalues 520/1094 (ordered; batch not supported)] (77, 10, '2022-03-10', 15855.0, 111)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 520/1094 (ordered; batch not supported)] (77, 10, '2022-03-10', 15855.0, 111)

2025-04-27 01:36:26,636 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,637 INFO sqlalchemy.engine.Engine [insertmanyvalues 521/1094 (ordered; batch not supported)] (107, 2, '2022-08-23', 12404.0, 334)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 521/1094 (ordered; batch not supported)] (107, 2, '2022-08-23', 12404.0, 334)

2025-04-27 01:36:26,638 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,639 INFO sqlalchemy.engine.Engine [insertmanyvalues 522/1094 (ordered; batch not supported)] (144, 9, '2022-04-25', 3990.0, 155)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 522/1094 (ordered; batch not supported)] (144, 9, '2022-04-25', 3990.0, 155)

2025-04-27 01:36:26,640 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,641 INFO sqlalchemy.engine.Engine [insertmanyvalues 523/1094 (ordered; batch not supported)] (122, 12, '2022-03-07', 10808.0, 407)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 523/1094 (ordered; batch not supported)] (122, 12, '2022-03-07', 10808.0, 407)

2025-04-27 01:36:26,642 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,643 INFO sqlalchemy.engine.Engine [insertmanyvalues 524/1094 (ordered; batch not supported)] (150, 11, '2022-07-12', 4858.0, 52)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 524/1094 (ordered; batch not supported)] (150, 11, '2022-07-12', 4858.0, 52)

2025-04-27 01:36:26,647 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,648 INFO sqlalchemy.engine.Engine [insertmanyvalues 525/1094 (ordered; batch not supported)] (131, 8, '2022-05-16', 7742.0, 138)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 525/1094 (ordered; batch not supported)] (131, 8, '2022-05-16', 7742.0, 138)

2025-04-27 01:36:26,649 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,650 INFO sqlalchemy.engine.Engine [insertmanyvalues 526/1094 (ordered; batch not supported)] (135, 4, '2022-03-02', 3752.0, 70)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 526/1094 (ordered; batch not supported)] (135, 4, '2022-03-02', 3752.0, 70)

2025-04-27 01:36:26,651 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,652 INFO sqlalchemy.engine.Engine [insertmanyvalues 527/1094 (ordered; batch not supported)] (120, 2, '2022-05-30', 1218.0, 149)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 527/1094 (ordered; batch not supported)] (120, 2, '2022-05-30', 1218.0, 149)

2025-04-27 01:36:26,653 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,654 INFO sqlalchemy.engine.Engine [insertmanyvalues 528/1094 (ordered; batch not supported)] (120, 16, '2022-06-10', 10983.0, 179)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 528/1094 (ordered; batch not supported)] (120, 16, '2022-06-10', 10983.0, 179)

2025-04-27 01:36:26,656 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,657 INFO sqlalchemy.engine.Engine [insertmanyvalues 529/1094 (ordered; batch not supported)] (136, 5, '2022-07-25', 6769.0, 353)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 529/1094 (ordered; batch not supported)] (136, 5, '2022-07-25', 6769.0, 353)

2025-04-27 01:36:26,659 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,660 INFO sqlalchemy.engine.Engine [insertmanyvalues 530/1094 (ordered; batch not supported)] (107, 1, '2022-06-09', 4361.0, 97)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 530/1094 (ordered; batch not supported)] (107, 1, '2022-06-09', 4361.0, 97)

2025-04-27 01:36:26,664 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,666 INFO sqlalchemy.engine.Engine [insertmanyvalues 531/1094 (ordered; batch not supported)] (122, 12, '2022-05-12', 777.0, 60)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 531/1094 (ordered; batch not supported)] (122, 12, '2022-05-12', 777.0, 60)

2025-04-27 01:36:26,667 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,668 INFO sqlalchemy.engine.Engine [insertmanyvalues 532/1094 (ordered; batch not supported)] (135, 10, '2022-05-09', 3843.0, 5)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 532/1094 (ordered; batch not supported)] (135, 10, '2022-05-09', 3843.0, 5)

2025-04-27 01:36:26,669 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,670 INFO sqlalchemy.engine.Engine [insertmanyvalues 533/1094 (ordered; batch not supported)] (136, 16, '2022-08-09', 6930.0, 182)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 533/1094 (ordered; batch not supported)] (136, 16, '2022-08-09', 6930.0, 182)

2025-04-27 01:36:26,671 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,675 INFO sqlalchemy.engine.Engine [insertmanyvalues 534/1094 (ordered; batch not supported)] (61, 19, '2022-04-13', 5733.0, 114)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 534/1094 (ordered; batch not supported)] (61, 19, '2022-04-13', 5733.0, 114)

2025-04-27 01:36:26,676 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,677 INFO sqlalchemy.engine.Engine [insertmanyvalues 535/1094 (ordered; batch not supported)] (63, 21, '2022-05-02', 8393.0, 46)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 535/1094 (ordered; batch not supported)] (63, 21, '2022-05-02', 8393.0, 46)

2025-04-27 01:36:26,678 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,679 INFO sqlalchemy.engine.Engine [insertmanyvalues 536/1094 (ordered; batch not supported)] (138, 5, '2022-08-09', 3822.0, 320)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 536/1094 (ordered; batch not supported)] (138, 5, '2022-08-09', 3822.0, 320)

2025-04-27 01:36:26,680 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,681 INFO sqlalchemy.engine.Engine [insertmanyvalues 537/1094 (ordered; batch not supported)] (146, 18, '2022-08-23', 6342.0, 178)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 537/1094 (ordered; batch not supported)] (146, 18, '2022-08-23', 6342.0, 178)

2025-04-27 01:36:26,684 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,685 INFO sqlalchemy.engine.Engine [insertmanyvalues 538/1094 (ordered; batch not supported)] (135, 13, '2022-05-13', 6510.0, 170)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 538/1094 (ordered; batch not supported)] (135, 13, '2022-05-13', 6510.0, 170)

2025-04-27 01:36:26,686 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,687 INFO sqlalchemy.engine.Engine [insertmanyvalues 539/1094 (ordered; batch not supported)] (106, 16, '2022-02-01', 10171.0, 67)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 539/1094 (ordered; batch not supported)] (106, 16, '2022-02-01', 10171.0, 67)

2025-04-27 01:36:26,690 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,691 INFO sqlalchemy.engine.Engine [insertmanyvalues 540/1094 (ordered; batch not supported)] (146, 7, '2022-06-23', 5908.0, 301)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 540/1094 (ordered; batch not supported)] (146, 7, '2022-06-23', 5908.0, 301)

2025-04-27 01:36:26,692 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,693 INFO sqlalchemy.engine.Engine [insertmanyvalues 541/1094 (ordered; batch not supported)] (131, 19, '2022-05-24', 10164.0, 134)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 541/1094 (ordered; batch not supported)] (131, 19, '2022-05-24', 10164.0, 134)

2025-04-27 01:36:26,694 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,695 INFO sqlalchemy.engine.Engine [insertmanyvalues 542/1094 (ordered; batch not supported)] (148, 1, '2022-04-01', 1064.0, 211)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 542/1094 (ordered; batch not supported)] (148, 1, '2022-04-01', 1064.0, 211)

2025-04-27 01:36:26,696 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,697 INFO sqlalchemy.engine.Engine [insertmanyvalues 543/1094 (ordered; batch not supported)] (146, 22, '2022-07-27', 9716.0, 151)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 543/1094 (ordered; batch not supported)] (146, 22, '2022-07-27', 9716.0, 151)

2025-04-27 01:36:26,698 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,699 INFO sqlalchemy.engine.Engine [insertmanyvalues 544/1094 (ordered; batch not supported)] (124, 3, '2022-01-27', 22050.0, 208)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 544/1094 (ordered; batch not supported)] (124, 3, '2022-01-27', 22050.0, 208)

2025-04-27 01:36:26,700 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,702 INFO sqlalchemy.engine.Engine [insertmanyvalues 545/1094 (ordered; batch not supported)] (148, 19, '2022-08-12', 2541.0, 134)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 545/1094 (ordered; batch not supported)] (148, 19, '2022-08-12', 2541.0, 134)

2025-04-27 01:36:26,703 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,704 INFO sqlalchemy.engine.Engine [insertmanyvalues 546/1094 (ordered; batch not supported)] (119, 17, '2022-02-01', 9989.0, 49)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 546/1094 (ordered; batch not supported)] (119, 17, '2022-02-01', 9989.0, 49)

2025-04-27 01:36:26,705 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,706 INFO sqlalchemy.engine.Engine [insertmanyvalues 547/1094 (ordered; batch not supported)] (140, 6, '2022-03-02', 4739.0, 204)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 547/1094 (ordered; batch not supported)] (140, 6, '2022-03-02', 4739.0, 204)

2025-04-27 01:36:26,709 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,710 INFO sqlalchemy.engine.Engine [insertmanyvalues 548/1094 (ordered; batch not supported)] (77, 5, '2022-06-30', 3185.0, 34)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 548/1094 (ordered; batch not supported)] (77, 5, '2022-06-30', 3185.0, 34)

2025-04-27 01:36:26,711 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,712 INFO sqlalchemy.engine.Engine [insertmanyvalues 549/1094 (ordered; batch not supported)] (138, 13, '2022-01-17', 8225.0, 91)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 549/1094 (ordered; batch not supported)] (138, 13, '2022-01-17', 8225.0, 91)

2025-04-27 01:36:26,713 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,714 INFO sqlalchemy.engine.Engine [insertmanyvalues 550/1094 (ordered; batch not supported)] (136, 12, '2022-07-07', 14301.0, 130)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 550/1094 (ordered; batch not supported)] (136, 12, '2022-07-07', 14301.0, 130)

2025-04-27 01:36:26,715 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,717 INFO sqlalchemy.engine.Engine [insertmanyvalues 551/1094 (ordered; batch not supported)] (137, 1, '2022-01-31', 1316.0, 107)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 551/1094 (ordered; batch not supported)] (137, 1, '2022-01-31', 1316.0, 107)

2025-04-27 01:36:26,720 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,721 INFO sqlalchemy.engine.Engine [insertmanyvalues 552/1094 (ordered; batch not supported)] (107, 5, '2022-08-10', 3486.0, 121)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 552/1094 (ordered; batch not supported)] (107, 5, '2022-08-10', 3486.0, 121)

2025-04-27 01:36:26,722 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,723 INFO sqlalchemy.engine.Engine [insertmanyvalues 553/1094 (ordered; batch not supported)] (107, 3, '2022-08-18', 13930.0, 339)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 553/1094 (ordered; batch not supported)] (107, 3, '2022-08-18', 13930.0, 339)

2025-04-27 01:36:26,724 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,725 INFO sqlalchemy.engine.Engine [insertmanyvalues 554/1094 (ordered; batch not supported)] (136, 15, '2022-06-15', 5509.0, 321)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 554/1094 (ordered; batch not supported)] (136, 15, '2022-06-15', 5509.0, 321)

2025-04-27 01:36:26,727 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,728 INFO sqlalchemy.engine.Engine [insertmanyvalues 555/1094 (ordered; batch not supported)] (120, 20, '2022-01-26', 8470.0, 9)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 555/1094 (ordered; batch not supported)] (120, 20, '2022-01-26', 8470.0, 9)

2025-04-27 01:36:26,729 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,730 INFO sqlalchemy.engine.Engine [insertmanyvalues 556/1094 (ordered; batch not supported)] (77, 13, '2022-04-29', 77.0, 69)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 556/1094 (ordered; batch not supported)] (77, 13, '2022-04-29', 77.0, 69)

2025-04-27 01:36:26,733 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,734 INFO sqlalchemy.engine.Engine [insertmanyvalues 557/1094 (ordered; batch not supported)] (137, 15, '2022-03-03', 3381.0, 72)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 557/1094 (ordered; batch not supported)] (137, 15, '2022-03-03', 3381.0, 72)

2025-04-27 01:36:26,735 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,736 INFO sqlalchemy.engine.Engine [insertmanyvalues 558/1094 (ordered; batch not supported)] (133, 17, '2022-02-22', 4102.0, 392)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 558/1094 (ordered; batch not supported)] (133, 17, '2022-02-22', 4102.0, 392)

2025-04-27 01:36:26,737 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,738 INFO sqlalchemy.engine.Engine [insertmanyvalues 559/1094 (ordered; batch not supported)] (147, 4, '2022-03-04', 3577.0, 158)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 559/1094 (ordered; batch not supported)] (147, 4, '2022-03-04', 3577.0, 158)

2025-04-27 01:36:26,742 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,743 INFO sqlalchemy.engine.Engine [insertmanyvalues 560/1094 (ordered; batch not supported)] (122, 4, '2022-07-07', 2975.0, 9)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 560/1094 (ordered; batch not supported)] (122, 4, '2022-07-07', 2975.0, 9)

2025-04-27 01:36:26,744 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,745 INFO sqlalchemy.engine.Engine [insertmanyvalues 561/1094 (ordered; batch not supported)] (146, 21, '2022-06-17', 4137.0, 347)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 561/1094 (ordered; batch not supported)] (146, 21, '2022-06-17', 4137.0, 347)

2025-04-27 01:36:26,746 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,747 INFO sqlalchemy.engine.Engine [insertmanyvalues 562/1094 (ordered; batch not supported)] (148, 21, '2022-08-02', 9541.0, 114)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 562/1094 (ordered; batch not supported)] (148, 21, '2022-08-02', 9541.0, 114)

2025-04-27 01:36:26,748 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,749 INFO sqlalchemy.engine.Engine [insertmanyvalues 563/1094 (ordered; batch not supported)] (147, 20, '2022-08-12', 8001.0, 120)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 563/1094 (ordered; batch not supported)] (147, 20, '2022-08-12', 8001.0, 120)

2025-04-27 01:36:26,750 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,751 INFO sqlalchemy.engine.Engine [insertmanyvalues 564/1094 (ordered; batch not supported)] (131, 3, '2022-01-28', 5152.0, 333)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 564/1094 (ordered; batch not supported)] (131, 3, '2022-01-28', 5152.0, 333)

2025-04-27 01:36:26,752 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,753 INFO sqlalchemy.engine.Engine [insertmanyvalues 565/1094 (ordered; batch not supported)] (77, 8, '2022-04-29', 11116.0, 432)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 565/1094 (ordered; batch not supported)] (77, 8, '2022-04-29', 11116.0, 432)

2025-04-27 01:36:26,755 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,756 INFO sqlalchemy.engine.Engine [insertmanyvalues 566/1094 (ordered; batch not supported)] (120, 16, '2022-04-05', 13076.0, 236)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 566/1094 (ordered; batch not supported)] (120, 16, '2022-04-05', 13076.0, 236)

2025-04-27 01:36:26,757 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,758 INFO sqlalchemy.engine.Engine [insertmanyvalues 567/1094 (ordered; batch not supported)] (133, 16, '2022-01-18', 10213.0, 135)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 567/1094 (ordered; batch not supported)] (133, 16, '2022-01-18', 10213.0, 135)

2025-04-27 01:36:26,761 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,762 INFO sqlalchemy.engine.Engine [insertmanyvalues 568/1094 (ordered; batch not supported)] (143, 20, '2022-05-16', 2485.0, 97)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 568/1094 (ordered; batch not supported)] (143, 20, '2022-05-16', 2485.0, 97)

2025-04-27 01:36:26,764 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,765 INFO sqlalchemy.engine.Engine [insertmanyvalues 569/1094 (ordered; batch not supported)] (77, 15, '2022-08-24', 8715.0, 168)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 569/1094 (ordered; batch not supported)] (77, 15, '2022-08-24', 8715.0, 168)

2025-04-27 01:36:26,767 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,768 INFO sqlalchemy.engine.Engine [insertmanyvalues 570/1094 (ordered; batch not supported)] (141, 2, '2022-01-18', 273.0, 402)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 570/1094 (ordered; batch not supported)] (141, 2, '2022-01-18', 273.0, 402)

2025-04-27 01:36:26,770 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,771 INFO sqlalchemy.engine.Engine [insertmanyvalues 571/1094 (ordered; batch not supported)] (133, 9, '2022-08-22', 7623.0, 10)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 571/1094 (ordered; batch not supported)] (133, 9, '2022-08-22', 7623.0, 10)

2025-04-27 01:36:26,772 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,773 INFO sqlalchemy.engine.Engine [insertmanyvalues 572/1094 (ordered; batch not supported)] (135, 5, '2022-03-07', 7.0, 84)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 572/1094 (ordered; batch not supported)] (135, 5, '2022-03-07', 7.0, 84)

2025-04-27 01:36:26,774 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,775 INFO sqlalchemy.engine.Engine [insertmanyvalues 573/1094 (ordered; batch not supported)] (107, 19, '2022-03-04', 3010.0, 69)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 573/1094 (ordered; batch not supported)] (107, 19, '2022-03-04', 3010.0, 69)

2025-04-27 01:36:26,776 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,780 INFO sqlalchemy.engine.Engine [insertmanyvalues 574/1094 (ordered; batch not supported)] (138, 16, '2022-04-22', 11550.0, 111)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 574/1094 (ordered; batch not supported)] (138, 16, '2022-04-22', 11550.0, 111)

2025-04-27 01:36:26,782 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,783 INFO sqlalchemy.engine.Engine [insertmanyvalues 575/1094 (ordered; batch not supported)] (133, 12, '2022-06-09', 4046.0, 89)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 575/1094 (ordered; batch not supported)] (133, 12, '2022-06-09', 4046.0, 89)

2025-04-27 01:36:26,784 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,785 INFO sqlalchemy.engine.Engine [insertmanyvalues 576/1094 (ordered; batch not supported)] (148, 14, '2022-07-25', 8904.0, 199)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 576/1094 (ordered; batch not supported)] (148, 14, '2022-07-25', 8904.0, 199)

2025-04-27 01:36:26,786 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,787 INFO sqlalchemy.engine.Engine [insertmanyvalues 577/1094 (ordered; batch not supported)] (148, 4, '2022-08-03', 11298.0, 89)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 577/1094 (ordered; batch not supported)] (148, 4, '2022-08-03', 11298.0, 89)

2025-04-27 01:36:26,788 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,789 INFO sqlalchemy.engine.Engine [insertmanyvalues 578/1094 (ordered; batch not supported)] (140, 16, '2022-08-03', 4396.0, 131)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 578/1094 (ordered; batch not supported)] (140, 16, '2022-08-03', 4396.0, 131)

2025-04-27 01:36:26,791 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,792 INFO sqlalchemy.engine.Engine [insertmanyvalues 579/1094 (ordered; batch not supported)] (143, 12, '2022-05-03', 12068.0, 227)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 579/1094 (ordered; batch not supported)] (143, 12, '2022-05-03', 12068.0, 227)

2025-04-27 01:36:26,793 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,794 INFO sqlalchemy.engine.Engine [insertmanyvalues 580/1094 (ordered; batch not supported)] (142, 6, '2022-01-19', 9772.0, 301)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 580/1094 (ordered; batch not supported)] (142, 6, '2022-01-19', 9772.0, 301)

2025-04-27 01:36:26,795 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,798 INFO sqlalchemy.engine.Engine [insertmanyvalues 581/1094 (ordered; batch not supported)] (144, 7, '2022-02-11', 10458.0, 316)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 581/1094 (ordered; batch not supported)] (144, 7, '2022-02-11', 10458.0, 316)

2025-04-27 01:36:26,799 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,800 INFO sqlalchemy.engine.Engine [insertmanyvalues 582/1094 (ordered; batch not supported)] (61, 17, '2022-06-14', 6426.0, 390)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 582/1094 (ordered; batch not supported)] (61, 17, '2022-06-14', 6426.0, 390)

2025-04-27 01:36:26,801 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,802 INFO sqlalchemy.engine.Engine [insertmanyvalues 583/1094 (ordered; batch not supported)] (77, 7, '2022-03-23', 6188.0, 223)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 583/1094 (ordered; batch not supported)] (77, 7, '2022-03-23', 6188.0, 223)

2025-04-27 01:36:26,803 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,807 INFO sqlalchemy.engine.Engine [insertmanyvalues 584/1094 (ordered; batch not supported)] (131, 2, '2022-02-17', 7504.0, 101)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 584/1094 (ordered; batch not supported)] (131, 2, '2022-02-17', 7504.0, 101)

2025-04-27 01:36:26,808 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,809 INFO sqlalchemy.engine.Engine [insertmanyvalues 585/1094 (ordered; batch not supported)] (122, 4, '2022-03-17', 1750.0, 479)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 585/1094 (ordered; batch not supported)] (122, 4, '2022-03-17', 1750.0, 479)

2025-04-27 01:36:26,810 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,811 INFO sqlalchemy.engine.Engine [insertmanyvalues 586/1094 (ordered; batch not supported)] (137, 13, '2022-06-29', 5439.0, 287)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 586/1094 (ordered; batch not supported)] (137, 13, '2022-06-29', 5439.0, 287)

2025-04-27 01:36:26,812 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,813 INFO sqlalchemy.engine.Engine [insertmanyvalues 587/1094 (ordered; batch not supported)] (124, 19, '2022-08-24', 15547.0, 269)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 587/1094 (ordered; batch not supported)] (124, 19, '2022-08-24', 15547.0, 269)

2025-04-27 01:36:26,816 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,819 INFO sqlalchemy.engine.Engine [insertmanyvalues 588/1094 (ordered; batch not supported)] (119, 13, '2022-07-04', 11956.0, 277)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 588/1094 (ordered; batch not supported)] (119, 13, '2022-07-04', 11956.0, 277)

2025-04-27 01:36:26,820 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,821 INFO sqlalchemy.engine.Engine [insertmanyvalues 589/1094 (ordered; batch not supported)] (144, 17, '2022-03-28', 2723.0, 67)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 589/1094 (ordered; batch not supported)] (144, 17, '2022-03-28', 2723.0, 67)

2025-04-27 01:36:26,822 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,823 INFO sqlalchemy.engine.Engine [insertmanyvalues 590/1094 (ordered; batch not supported)] (141, 4, '2022-04-19', 19327.0, 135)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 590/1094 (ordered; batch not supported)] (141, 4, '2022-04-19', 19327.0, 135)

2025-04-27 01:36:26,824 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,825 INFO sqlalchemy.engine.Engine [insertmanyvalues 591/1094 (ordered; batch not supported)] (124, 1, '2022-01-18', 9058.0, 229)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 591/1094 (ordered; batch not supported)] (124, 1, '2022-01-18', 9058.0, 229)

2025-04-27 01:36:26,826 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,827 INFO sqlalchemy.engine.Engine [insertmanyvalues 592/1094 (ordered; batch not supported)] (61, 14, '2022-01-17', 2996.0, 88)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 592/1094 (ordered; batch not supported)] (61, 14, '2022-01-17', 2996.0, 88)

2025-04-27 01:36:26,830 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,831 INFO sqlalchemy.engine.Engine [insertmanyvalues 593/1094 (ordered; batch not supported)] (63, 1, '2022-02-15', 8848.0, 211)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 593/1094 (ordered; batch not supported)] (63, 1, '2022-02-15', 8848.0, 211)

2025-04-27 01:36:26,832 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,833 INFO sqlalchemy.engine.Engine [insertmanyvalues 594/1094 (ordered; batch not supported)] (63, 12, '2022-02-11', 14336.0, 293)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 594/1094 (ordered; batch not supported)] (63, 12, '2022-02-11', 14336.0, 293)

2025-04-27 01:36:26,834 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,835 INFO sqlalchemy.engine.Engine [insertmanyvalues 595/1094 (ordered; batch not supported)] (146, 16, '2022-03-21', 16401.0, 179)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 595/1094 (ordered; batch not supported)] (146, 16, '2022-03-21', 16401.0, 179)

2025-04-27 01:36:26,836 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,837 INFO sqlalchemy.engine.Engine [insertmanyvalues 596/1094 (ordered; batch not supported)] (135, 17, '2022-01-05', 5173.0, 129)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 596/1094 (ordered; batch not supported)] (135, 17, '2022-01-05', 5173.0, 129)

2025-04-27 01:36:26,841 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,842 INFO sqlalchemy.engine.Engine [insertmanyvalues 597/1094 (ordered; batch not supported)] (136, 18, '2022-05-30', 6328.0, 164)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 597/1094 (ordered; batch not supported)] (136, 18, '2022-05-30', 6328.0, 164)

2025-04-27 01:36:26,843 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,844 INFO sqlalchemy.engine.Engine [insertmanyvalues 598/1094 (ordered; batch not supported)] (143, 5, '2022-01-04', 2534.0, 219)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 598/1094 (ordered; batch not supported)] (143, 5, '2022-01-04', 2534.0, 219)

2025-04-27 01:36:26,845 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,846 INFO sqlalchemy.engine.Engine [insertmanyvalues 599/1094 (ordered; batch not supported)] (107, 14, '2022-04-22', 1435.0, 258)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 599/1094 (ordered; batch not supported)] (107, 14, '2022-04-22', 1435.0, 258)

2025-04-27 01:36:26,847 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,848 INFO sqlalchemy.engine.Engine [insertmanyvalues 600/1094 (ordered; batch not supported)] (119, 12, '2022-02-10', 3052.0, 116)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 600/1094 (ordered; batch not supported)] (119, 12, '2022-02-10', 3052.0, 116)

2025-04-27 01:36:26,849 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,850 INFO sqlalchemy.engine.Engine [insertmanyvalues 601/1094 (ordered; batch not supported)] (138, 13, '2022-08-12', 910.0, 204)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 601/1094 (ordered; batch not supported)] (138, 13, '2022-08-12', 910.0, 204)

2025-04-27 01:36:26,851 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,853 INFO sqlalchemy.engine.Engine [insertmanyvalues 602/1094 (ordered; batch not supported)] (135, 11, '2022-08-10', 2331.0, 321)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 602/1094 (ordered; batch not supported)] (135, 11, '2022-08-10', 2331.0, 321)

2025-04-27 01:36:26,854 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,855 INFO sqlalchemy.engine.Engine [insertmanyvalues 603/1094 (ordered; batch not supported)] (77, 18, '2022-06-07', 679.0, 56)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 603/1094 (ordered; batch not supported)] (77, 18, '2022-06-07', 679.0, 56)

2025-04-27 01:36:26,856 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,857 INFO sqlalchemy.engine.Engine [insertmanyvalues 604/1094 (ordered; batch not supported)] (143, 20, '2022-06-06', 2086.0, 74)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 604/1094 (ordered; batch not supported)] (143, 20, '2022-06-06', 2086.0, 74)

2025-04-27 01:36:26,860 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,861 INFO sqlalchemy.engine.Engine [insertmanyvalues 605/1094 (ordered; batch not supported)] (106, 20, '2022-04-05', 5012.0, 189)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 605/1094 (ordered; batch not supported)] (106, 20, '2022-04-05', 5012.0, 189)

2025-04-27 01:36:26,862 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,863 INFO sqlalchemy.engine.Engine [insertmanyvalues 606/1094 (ordered; batch not supported)] (150, 7, '2022-04-18', 4501.0, 131)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 606/1094 (ordered; batch not supported)] (150, 7, '2022-04-18', 4501.0, 131)

2025-04-27 01:36:26,864 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,865 INFO sqlalchemy.engine.Engine [insertmanyvalues 607/1094 (ordered; batch not supported)] (63, 7, '2022-01-31', 13482.0, 15)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 607/1094 (ordered; batch not supported)] (63, 7, '2022-01-31', 13482.0, 15)

2025-04-27 01:36:26,869 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,870 INFO sqlalchemy.engine.Engine [insertmanyvalues 608/1094 (ordered; batch not supported)] (131, 20, '2022-08-22', 5621.0, 140)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 608/1094 (ordered; batch not supported)] (131, 20, '2022-08-22', 5621.0, 140)

2025-04-27 01:36:26,871 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,872 INFO sqlalchemy.engine.Engine [insertmanyvalues 609/1094 (ordered; batch not supported)] (143, 5, '2022-02-25', 10486.0, 198)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 609/1094 (ordered; batch not supported)] (143, 5, '2022-02-25', 10486.0, 198)

2025-04-27 01:36:26,874 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,874 INFO sqlalchemy.engine.Engine [insertmanyvalues 610/1094 (ordered; batch not supported)] (148, 1, '2022-02-22', 17626.0, 103)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 610/1094 (ordered; batch not supported)] (148, 1, '2022-02-22', 17626.0, 103)

2025-04-27 01:36:26,876 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,877 INFO sqlalchemy.engine.Engine [insertmanyvalues 611/1094 (ordered; batch not supported)] (147, 12, '2022-01-12', 4494.0, 187)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 611/1094 (ordered; batch not supported)] (147, 12, '2022-01-12', 4494.0, 187)

2025-04-27 01:36:26,878 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,879 INFO sqlalchemy.engine.Engine [insertmanyvalues 612/1094 (ordered; batch not supported)] (136, 17, '2022-05-25', 105.0, 125)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 612/1094 (ordered; batch not supported)] (136, 17, '2022-05-25', 105.0, 125)

2025-04-27 01:36:26,882 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,883 INFO sqlalchemy.engine.Engine [insertmanyvalues 613/1094 (ordered; batch not supported)] (77, 4, '2022-02-01', 2464.0, 8)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 613/1094 (ordered; batch not supported)] (77, 4, '2022-02-01', 2464.0, 8)

2025-04-27 01:36:26,884 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,885 INFO sqlalchemy.engine.Engine [insertmanyvalues 614/1094 (ordered; batch not supported)] (140, 9, '2022-04-27', 1379.0, 70)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 614/1094 (ordered; batch not supported)] (140, 9, '2022-04-27', 1379.0, 70)

2025-04-27 01:36:26,886 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,887 INFO sqlalchemy.engine.Engine [insertmanyvalues 615/1094 (ordered; batch not supported)] (119, 4, '2022-07-22', 2583.0, 126)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 615/1094 (ordered; batch not supported)] (119, 4, '2022-07-22', 2583.0, 126)

2025-04-27 01:36:26,889 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,889 INFO sqlalchemy.engine.Engine [insertmanyvalues 616/1094 (ordered; batch not supported)] (141, 1, '2022-01-26', 3220.0, 265)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 616/1094 (ordered; batch not supported)] (141, 1, '2022-01-26', 3220.0, 265)

2025-04-27 01:36:26,891 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,894 INFO sqlalchemy.engine.Engine [insertmanyvalues 617/1094 (ordered; batch not supported)] (141, 1, '2022-08-24', 4802.0, 296)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 617/1094 (ordered; batch not supported)] (141, 1, '2022-08-24', 4802.0, 296)

2025-04-27 01:36:26,895 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,896 INFO sqlalchemy.engine.Engine [insertmanyvalues 618/1094 (ordered; batch not supported)] (131, 14, '2022-01-18', 5677.0, 21)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 618/1094 (ordered; batch not supported)] (131, 14, '2022-01-18', 5677.0, 21)

2025-04-27 01:36:26,897 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,898 INFO sqlalchemy.engine.Engine [insertmanyvalues 619/1094 (ordered; batch not supported)] (106, 2, '2022-03-30', 945.0, 83)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 619/1094 (ordered; batch not supported)] (106, 2, '2022-03-30', 945.0, 83)

2025-04-27 01:36:26,899 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,900 INFO sqlalchemy.engine.Engine [insertmanyvalues 620/1094 (ordered; batch not supported)] (124, 21, '2022-01-17', 8757.0, 162)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 620/1094 (ordered; batch not supported)] (124, 21, '2022-01-17', 8757.0, 162)

2025-04-27 01:36:26,901 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,902 INFO sqlalchemy.engine.Engine [insertmanyvalues 621/1094 (ordered; batch not supported)] (77, 14, '2022-02-17', 4816.0, 145)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 621/1094 (ordered; batch not supported)] (77, 14, '2022-02-17', 4816.0, 145)

2025-04-27 01:36:26,903 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,904 INFO sqlalchemy.engine.Engine [insertmanyvalues 622/1094 (ordered; batch not supported)] (77, 3, '2022-04-08', 7532.0, 44)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 622/1094 (ordered; batch not supported)] (77, 3, '2022-04-08', 7532.0, 44)

2025-04-27 01:36:26,905 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,908 INFO sqlalchemy.engine.Engine [insertmanyvalues 623/1094 (ordered; batch not supported)] (119, 10, '2022-07-06', 3549.0, 82)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 623/1094 (ordered; batch not supported)] (119, 10, '2022-07-06', 3549.0, 82)

2025-04-27 01:36:26,910 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,911 INFO sqlalchemy.engine.Engine [insertmanyvalues 624/1094 (ordered; batch not supported)] (142, 14, '2022-04-04', 4340.0, 226)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 624/1094 (ordered; batch not supported)] (142, 14, '2022-04-04', 4340.0, 226)

2025-04-27 01:36:26,912 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,913 INFO sqlalchemy.engine.Engine [insertmanyvalues 625/1094 (ordered; batch not supported)] (148, 11, '2022-03-02', 1799.0, 207)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 625/1094 (ordered; batch not supported)] (148, 11, '2022-03-02', 1799.0, 207)

2025-04-27 01:36:26,914 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,915 INFO sqlalchemy.engine.Engine [insertmanyvalues 626/1094 (ordered; batch not supported)] (119, 18, '2022-08-09', 1127.0, 176)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 626/1094 (ordered; batch not supported)] (119, 18, '2022-08-09', 1127.0, 176)

2025-04-27 01:36:26,916 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,917 INFO sqlalchemy.engine.Engine [insertmanyvalues 627/1094 (ordered; batch not supported)] (122, 12, '2022-06-09', 10038.0, 286)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 627/1094 (ordered; batch not supported)] (122, 12, '2022-06-09', 10038.0, 286)

2025-04-27 01:36:26,918 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,919 INFO sqlalchemy.engine.Engine [insertmanyvalues 628/1094 (ordered; batch not supported)] (124, 21, '2022-06-02', 2926.0, 300)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 628/1094 (ordered; batch not supported)] (124, 21, '2022-06-02', 2926.0, 300)

2025-04-27 01:36:26,920 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,921 INFO sqlalchemy.engine.Engine [insertmanyvalues 629/1094 (ordered; batch not supported)] (61, 14, '2022-07-05', 6279.0, 235)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 629/1094 (ordered; batch not supported)] (61, 14, '2022-07-05', 6279.0, 235)

2025-04-27 01:36:26,922 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,923 INFO sqlalchemy.engine.Engine [insertmanyvalues 630/1094 (ordered; batch not supported)] (63, 9, '2022-08-11', 308.0, 125)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 630/1094 (ordered; batch not supported)] (63, 9, '2022-08-11', 308.0, 125)

2025-04-27 01:36:26,924 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,925 INFO sqlalchemy.engine.Engine [insertmanyvalues 631/1094 (ordered; batch not supported)] (131, 19, '2022-02-11', 3500.0, 145)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 631/1094 (ordered; batch not supported)] (131, 19, '2022-02-11', 3500.0, 145)

2025-04-27 01:36:26,926 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,927 INFO sqlalchemy.engine.Engine [insertmanyvalues 632/1094 (ordered; batch not supported)] (77, 13, '2022-08-11', 658.0, 65)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 632/1094 (ordered; batch not supported)] (77, 13, '2022-08-11', 658.0, 65)

2025-04-27 01:36:26,930 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,932 INFO sqlalchemy.engine.Engine [insertmanyvalues 633/1094 (ordered; batch not supported)] (144, 10, '2022-05-12', 12565.0, 102)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 633/1094 (ordered; batch not supported)] (144, 10, '2022-05-12', 12565.0, 102)

2025-04-27 01:36:26,933 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,934 INFO sqlalchemy.engine.Engine [insertmanyvalues 634/1094 (ordered; batch not supported)] (150, 12, '2022-07-15', 5012.0, 93)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 634/1094 (ordered; batch not supported)] (150, 12, '2022-07-15', 5012.0, 93)

2025-04-27 01:36:26,935 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,936 INFO sqlalchemy.engine.Engine [insertmanyvalues 635/1094 (ordered; batch not supported)] (63, 11, '2022-01-18', 3955.0, 134)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 635/1094 (ordered; batch not supported)] (63, 11, '2022-01-18', 3955.0, 134)

2025-04-27 01:36:26,937 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,938 INFO sqlalchemy.engine.Engine [insertmanyvalues 636/1094 (ordered; batch not supported)] (131, 14, '2022-01-05', 8512.0, 189)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 636/1094 (ordered; batch not supported)] (131, 14, '2022-01-05', 8512.0, 189)

2025-04-27 01:36:26,939 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,940 INFO sqlalchemy.engine.Engine [insertmanyvalues 637/1094 (ordered; batch not supported)] (141, 7, '2022-06-29', 504.0, 232)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 637/1094 (ordered; batch not supported)] (141, 7, '2022-06-29', 504.0, 232)

2025-04-27 01:36:26,943 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,944 INFO sqlalchemy.engine.Engine [insertmanyvalues 638/1094 (ordered; batch not supported)] (136, 18, '2022-06-14', 2800.0, 45)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 638/1094 (ordered; batch not supported)] (136, 18, '2022-06-14', 2800.0, 45)

2025-04-27 01:36:26,945 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,946 INFO sqlalchemy.engine.Engine [insertmanyvalues 639/1094 (ordered; batch not supported)] (135, 1, '2022-08-08', 4256.0, 67)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 639/1094 (ordered; batch not supported)] (135, 1, '2022-08-08', 4256.0, 67)

2025-04-27 01:36:26,947 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,948 INFO sqlalchemy.engine.Engine [insertmanyvalues 640/1094 (ordered; batch not supported)] (122, 1, '2022-03-23', 13573.0, 138)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 640/1094 (ordered; batch not supported)] (122, 1, '2022-03-23', 13573.0, 138)

2025-04-27 01:36:26,949 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,950 INFO sqlalchemy.engine.Engine [insertmanyvalues 641/1094 (ordered; batch not supported)] (102, 21, '2022-01-04', 6566.0, 99)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 641/1094 (ordered; batch not supported)] (102, 21, '2022-01-04', 6566.0, 99)

2025-04-27 01:36:26,951 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,952 INFO sqlalchemy.engine.Engine [insertmanyvalues 642/1094 (ordered; batch not supported)] (136, 12, '2022-02-22', 13503.0, 251)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 642/1094 (ordered; batch not supported)] (136, 12, '2022-02-22', 13503.0, 251)

2025-04-27 01:36:26,954 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,957 INFO sqlalchemy.engine.Engine [insertmanyvalues 643/1094 (ordered; batch not supported)] (107, 13, '2022-02-17', 8680.0, 252)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 643/1094 (ordered; batch not supported)] (107, 13, '2022-02-17', 8680.0, 252)

2025-04-27 01:36:26,958 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,959 INFO sqlalchemy.engine.Engine [insertmanyvalues 644/1094 (ordered; batch not supported)] (102, 17, '2022-02-03', 385.0, 78)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 644/1094 (ordered; batch not supported)] (102, 17, '2022-02-03', 385.0, 78)

2025-04-27 01:36:26,960 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,961 INFO sqlalchemy.engine.Engine [insertmanyvalues 645/1094 (ordered; batch not supported)] (61, 18, '2022-03-17', 1267.0, 130)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 645/1094 (ordered; batch not supported)] (61, 18, '2022-03-17', 1267.0, 130)

2025-04-27 01:36:26,962 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,963 INFO sqlalchemy.engine.Engine [insertmanyvalues 646/1094 (ordered; batch not supported)] (150, 20, '2022-01-25', 2961.0, 154)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 646/1094 (ordered; batch not supported)] (150, 20, '2022-01-25', 2961.0, 154)

2025-04-27 01:36:26,964 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,968 INFO sqlalchemy.engine.Engine [insertmanyvalues 647/1094 (ordered; batch not supported)] (136, 12, '2022-07-27', 1981.0, 52)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 647/1094 (ordered; batch not supported)] (136, 12, '2022-07-27', 1981.0, 52)

2025-04-27 01:36:26,969 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,970 INFO sqlalchemy.engine.Engine [insertmanyvalues 648/1094 (ordered; batch not supported)] (142, 14, '2022-01-28', 7959.0, 53)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 648/1094 (ordered; batch not supported)] (142, 14, '2022-01-28', 7959.0, 53)

2025-04-27 01:36:26,971 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,971 INFO sqlalchemy.engine.Engine [insertmanyvalues 649/1094 (ordered; batch not supported)] (131, 11, '2022-07-05', 10794.0, 50)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 649/1094 (ordered; batch not supported)] (131, 11, '2022-07-05', 10794.0, 50)

2025-04-27 01:36:26,972 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,973 INFO sqlalchemy.engine.Engine [insertmanyvalues 650/1094 (ordered; batch not supported)] (61, 15, '2022-03-15', 1897.0, 44)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 650/1094 (ordered; batch not supported)] (61, 15, '2022-03-15', 1897.0, 44)

2025-04-27 01:36:26,974 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,975 INFO sqlalchemy.engine.Engine [insertmanyvalues 651/1094 (ordered; batch not supported)] (135, 6, '2022-08-04', 2744.0, 200)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 651/1094 (ordered; batch not supported)] (135, 6, '2022-08-04', 2744.0, 200)

2025-04-27 01:36:26,976 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,976 INFO sqlalchemy.engine.Engine [insertmanyvalues 652/1094 (ordered; batch not supported)] (148, 14, '2022-06-27', 4382.0, 361)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 652/1094 (ordered; batch not supported)] (148, 14, '2022-06-27', 4382.0, 361)

2025-04-27 01:36:26,977 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,978 INFO sqlalchemy.engine.Engine [insertmanyvalues 653/1094 (ordered; batch not supported)] (148, 6, '2022-07-13', 4515.0, 172)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 653/1094 (ordered; batch not supported)] (148, 6, '2022-07-13', 4515.0, 172)

2025-04-27 01:36:26,979 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,980 INFO sqlalchemy.engine.Engine [insertmanyvalues 654/1094 (ordered; batch not supported)] (102, 16, '2022-02-24', 5474.0, 239)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 654/1094 (ordered; batch not supported)] (102, 16, '2022-02-24', 5474.0, 239)

2025-04-27 01:36:26,981 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,982 INFO sqlalchemy.engine.Engine [insertmanyvalues 655/1094 (ordered; batch not supported)] (106, 2, '2022-06-28', 6069.0, 55)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 655/1094 (ordered; batch not supported)] (106, 2, '2022-06-28', 6069.0, 55)

2025-04-27 01:36:26,983 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,984 INFO sqlalchemy.engine.Engine [insertmanyvalues 656/1094 (ordered; batch not supported)] (147, 2, '2022-06-30', 6944.0, 27)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 656/1094 (ordered; batch not supported)] (147, 2, '2022-06-30', 6944.0, 27)

2025-04-27 01:36:26,985 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,986 INFO sqlalchemy.engine.Engine [insertmanyvalues 657/1094 (ordered; batch not supported)] (141, 19, '2022-08-18', 5859.0, 7)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 657/1094 (ordered; batch not supported)] (141, 19, '2022-08-18', 5859.0, 7)

2025-04-27 01:36:26,987 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,988 INFO sqlalchemy.engine.Engine [insertmanyvalues 658/1094 (ordered; batch not supported)] (133, 22, '2022-01-24', 12173.0, 301)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 658/1094 (ordered; batch not supported)] (133, 22, '2022-01-24', 12173.0, 301)

2025-04-27 01:36:26,989 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,990 INFO sqlalchemy.engine.Engine [insertmanyvalues 659/1094 (ordered; batch not supported)] (107, 15, '2022-03-11', 5292.0, 134)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 659/1094 (ordered; batch not supported)] (107, 15, '2022-03-11', 5292.0, 134)

2025-04-27 01:36:26,991 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,992 INFO sqlalchemy.engine.Engine [insertmanyvalues 660/1094 (ordered; batch not supported)] (124, 6, '2022-06-23', 5705.0, 350)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 660/1094 (ordered; batch not supported)] (124, 6, '2022-06-23', 5705.0, 350)

2025-04-27 01:36:26,993 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,994 INFO sqlalchemy.engine.Engine [insertmanyvalues 661/1094 (ordered; batch not supported)] (142, 13, '2022-08-22', 2492.0, 33)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 661/1094 (ordered; batch not supported)] (142, 13, '2022-08-22', 2492.0, 33)

2025-04-27 01:36:26,995 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,995 INFO sqlalchemy.engine.Engine [insertmanyvalues 662/1094 (ordered; batch not supported)] (135, 7, '2022-01-04', 3024.0, 23)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 662/1094 (ordered; batch not supported)] (135, 7, '2022-01-04', 3024.0, 23)

2025-04-27 01:36:26,996 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,997 INFO sqlalchemy.engine.Engine [insertmanyvalues 663/1094 (ordered; batch not supported)] (141, 12, '2022-04-05', 3437.0, 201)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 663/1094 (ordered; batch not supported)] (141, 12, '2022-04-05', 3437.0, 201)

2025-04-27 01:36:26,998 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:26,999 INFO sqlalchemy.engine.Engine [insertmanyvalues 664/1094 (ordered; batch not supported)] (107, 12, '2022-04-15', 1869.0, 323)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 664/1094 (ordered; batch not supported)] (107, 12, '2022-04-15', 1869.0, 323)

2025-04-27 01:36:27,000 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,001 INFO sqlalchemy.engine.Engine [insertmanyvalues 665/1094 (ordered; batch not supported)] (142, 15, '2022-05-11', 3171.0, 220)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 665/1094 (ordered; batch not supported)] (142, 15, '2022-05-11', 3171.0, 220)

2025-04-27 01:36:27,002 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,003 INFO sqlalchemy.engine.Engine [insertmanyvalues 666/1094 (ordered; batch not supported)] (63, 16, '2022-07-21', 4858.0, 488)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 666/1094 (ordered; batch not supported)] (63, 16, '2022-07-21', 4858.0, 488)

2025-04-27 01:36:27,004 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,005 INFO sqlalchemy.engine.Engine [insertmanyvalues 667/1094 (ordered; batch not supported)] (148, 8, '2022-02-11', 1225.0, 84)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 667/1094 (ordered; batch not supported)] (148, 8, '2022-02-11', 1225.0, 84)

2025-04-27 01:36:27,006 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,007 INFO sqlalchemy.engine.Engine [insertmanyvalues 668/1094 (ordered; batch not supported)] (63, 4, '2022-07-08', 1155.0, 79)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 668/1094 (ordered; batch not supported)] (63, 4, '2022-07-08', 1155.0, 79)

2025-04-27 01:36:27,008 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,009 INFO sqlalchemy.engine.Engine [insertmanyvalues 669/1094 (ordered; batch not supported)] (135, 18, '2022-08-11', 6811.0, 344)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 669/1094 (ordered; batch not supported)] (135, 18, '2022-08-11', 6811.0, 344)

2025-04-27 01:36:27,011 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,014 INFO sqlalchemy.engine.Engine [insertmanyvalues 670/1094 (ordered; batch not supported)] (142, 6, '2022-08-04', 6433.0, 7)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 670/1094 (ordered; batch not supported)] (142, 6, '2022-08-04', 6433.0, 7)

2025-04-27 01:36:27,016 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,017 INFO sqlalchemy.engine.Engine [insertmanyvalues 671/1094 (ordered; batch not supported)] (63, 8, '2022-06-14', 8169.0, 88)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 671/1094 (ordered; batch not supported)] (63, 8, '2022-06-14', 8169.0, 88)

2025-04-27 01:36:27,018 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,019 INFO sqlalchemy.engine.Engine [insertmanyvalues 672/1094 (ordered; batch not supported)] (122, 20, '2022-01-17', 2275.0, 275)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 672/1094 (ordered; batch not supported)] (122, 20, '2022-01-17', 2275.0, 275)

2025-04-27 01:36:27,020 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,021 INFO sqlalchemy.engine.Engine [insertmanyvalues 673/1094 (ordered; batch not supported)] (143, 8, '2022-06-23', 3857.0, 512)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 673/1094 (ordered; batch not supported)] (143, 8, '2022-06-23', 3857.0, 512)

2025-04-27 01:36:27,022 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,023 INFO sqlalchemy.engine.Engine [insertmanyvalues 674/1094 (ordered; batch not supported)] (143, 4, '2022-08-24', 1463.0, 113)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 674/1094 (ordered; batch not supported)] (143, 4, '2022-08-24', 1463.0, 113)

2025-04-27 01:36:27,024 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,027 INFO sqlalchemy.engine.Engine [insertmanyvalues 675/1094 (ordered; batch not supported)] (63, 21, '2022-06-07', 7924.0, 275)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 675/1094 (ordered; batch not supported)] (63, 21, '2022-06-07', 7924.0, 275)

2025-04-27 01:36:27,028 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,029 INFO sqlalchemy.engine.Engine [insertmanyvalues 676/1094 (ordered; batch not supported)] (148, 15, '2022-06-22', 8799.0, 47)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 676/1094 (ordered; batch not supported)] (148, 15, '2022-06-22', 8799.0, 47)

2025-04-27 01:36:27,030 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,031 INFO sqlalchemy.engine.Engine [insertmanyvalues 677/1094 (ordered; batch not supported)] (138, 14, '2022-07-13', 2898.0, 276)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 677/1094 (ordered; batch not supported)] (138, 14, '2022-07-13', 2898.0, 276)

2025-04-27 01:36:27,032 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,033 INFO sqlalchemy.engine.Engine [insertmanyvalues 678/1094 (ordered; batch not supported)] (77, 19, '2022-05-24', 9506.0, 212)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 678/1094 (ordered; batch not supported)] (77, 19, '2022-05-24', 9506.0, 212)

2025-04-27 01:36:27,035 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,036 INFO sqlalchemy.engine.Engine [insertmanyvalues 679/1094 (ordered; batch not supported)] (135, 6, '2022-08-09', 7175.0, 145)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 679/1094 (ordered; batch not supported)] (135, 6, '2022-08-09', 7175.0, 145)

2025-04-27 01:36:27,037 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,040 INFO sqlalchemy.engine.Engine [insertmanyvalues 680/1094 (ordered; batch not supported)] (133, 2, '2022-04-06', 1729.0, 31)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 680/1094 (ordered; batch not supported)] (133, 2, '2022-04-06', 1729.0, 31)

2025-04-27 01:36:27,041 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,042 INFO sqlalchemy.engine.Engine [insertmanyvalues 681/1094 (ordered; batch not supported)] (148, 16, '2022-07-28', 1589.0, 271)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 681/1094 (ordered; batch not supported)] (148, 16, '2022-07-28', 1589.0, 271)

2025-04-27 01:36:27,043 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,044 INFO sqlalchemy.engine.Engine [insertmanyvalues 682/1094 (ordered; batch not supported)] (135, 18, '2022-08-24', 630.0, 52)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 682/1094 (ordered; batch not supported)] (135, 18, '2022-08-24', 630.0, 52)

2025-04-27 01:36:27,045 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,046 INFO sqlalchemy.engine.Engine [insertmanyvalues 683/1094 (ordered; batch not supported)] (61, 5, '2022-01-17', 112.0, 128)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 683/1094 (ordered; batch not supported)] (61, 5, '2022-01-17', 112.0, 128)

2025-04-27 01:36:27,047 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,048 INFO sqlalchemy.engine.Engine [insertmanyvalues 684/1094 (ordered; batch not supported)] (141, 10, '2022-02-07', 5187.0, 142)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 684/1094 (ordered; batch not supported)] (141, 10, '2022-02-07', 5187.0, 142)

2025-04-27 01:36:27,052 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,054 INFO sqlalchemy.engine.Engine [insertmanyvalues 685/1094 (ordered; batch not supported)] (136, 13, '2022-05-09', 6223.0, 256)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 685/1094 (ordered; batch not supported)] (136, 13, '2022-05-09', 6223.0, 256)

2025-04-27 01:36:27,055 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,056 INFO sqlalchemy.engine.Engine [insertmanyvalues 686/1094 (ordered; batch not supported)] (137, 2, '2022-06-06', 7714.0, 106)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 686/1094 (ordered; batch not supported)] (137, 2, '2022-06-06', 7714.0, 106)

2025-04-27 01:36:27,057 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,058 INFO sqlalchemy.engine.Engine [insertmanyvalues 687/1094 (ordered; batch not supported)] (150, 19, '2022-06-06', 9457.0, 6)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 687/1094 (ordered; batch not supported)] (150, 19, '2022-06-06', 9457.0, 6)

2025-04-27 01:36:27,059 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,060 INFO sqlalchemy.engine.Engine [insertmanyvalues 688/1094 (ordered; batch not supported)] (107, 11, '2022-05-24', 6678.0, 226)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 688/1094 (ordered; batch not supported)] (107, 11, '2022-05-24', 6678.0, 226)

2025-04-27 01:36:27,061 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,064 INFO sqlalchemy.engine.Engine [insertmanyvalues 689/1094 (ordered; batch not supported)] (135, 7, '2022-01-13', 2107.0, 121)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 689/1094 (ordered; batch not supported)] (135, 7, '2022-01-13', 2107.0, 121)

2025-04-27 01:36:27,065 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,066 INFO sqlalchemy.engine.Engine [insertmanyvalues 690/1094 (ordered; batch not supported)] (120, 18, '2022-05-23', 6069.0, 151)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 690/1094 (ordered; batch not supported)] (120, 18, '2022-05-23', 6069.0, 151)

2025-04-27 01:36:27,067 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,068 INFO sqlalchemy.engine.Engine [insertmanyvalues 691/1094 (ordered; batch not supported)] (143, 15, '2022-06-29', 1862.0, 284)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 691/1094 (ordered; batch not supported)] (143, 15, '2022-06-29', 1862.0, 284)

2025-04-27 01:36:27,069 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,070 INFO sqlalchemy.engine.Engine [insertmanyvalues 692/1094 (ordered; batch not supported)] (143, 2, '2022-03-11', 6972.0, 89)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 692/1094 (ordered; batch not supported)] (143, 2, '2022-03-11', 6972.0, 89)

2025-04-27 01:36:27,071 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,072 INFO sqlalchemy.engine.Engine [insertmanyvalues 693/1094 (ordered; batch not supported)] (138, 2, '2022-04-25', 10220.0, 508)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 693/1094 (ordered; batch not supported)] (138, 2, '2022-04-25', 10220.0, 508)

2025-04-27 01:36:27,073 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,074 INFO sqlalchemy.engine.Engine [insertmanyvalues 694/1094 (ordered; batch not supported)] (140, 4, '2022-05-30', 3969.0, 243)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 694/1094 (ordered; batch not supported)] (140, 4, '2022-05-30', 3969.0, 243)

2025-04-27 01:36:27,075 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,076 INFO sqlalchemy.engine.Engine [insertmanyvalues 695/1094 (ordered; batch not supported)] (141, 16, '2022-05-23', 1547.0, 170)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 695/1094 (ordered; batch not supported)] (141, 16, '2022-05-23', 1547.0, 170)

2025-04-27 01:36:27,077 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,078 INFO sqlalchemy.engine.Engine [insertmanyvalues 696/1094 (ordered; batch not supported)] (137, 3, '2022-05-23', 1162.0, 18)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 696/1094 (ordered; batch not supported)] (137, 3, '2022-05-23', 1162.0, 18)

2025-04-27 01:36:27,079 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,080 INFO sqlalchemy.engine.Engine [insertmanyvalues 697/1094 (ordered; batch not supported)] (61, 3, '2022-06-24', 6342.0, 282)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 697/1094 (ordered; batch not supported)] (61, 3, '2022-06-24', 6342.0, 282)

2025-04-27 01:36:27,081 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,082 INFO sqlalchemy.engine.Engine [insertmanyvalues 698/1094 (ordered; batch not supported)] (77, 4, '2022-03-11', 10633.0, 277)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 698/1094 (ordered; batch not supported)] (77, 4, '2022-03-11', 10633.0, 277)

2025-04-27 01:36:27,083 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,084 INFO sqlalchemy.engine.Engine [insertmanyvalues 699/1094 (ordered; batch not supported)] (140, 4, '2022-07-27', 15057.0, 212)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 699/1094 (ordered; batch not supported)] (140, 4, '2022-07-27', 15057.0, 212)

2025-04-27 01:36:27,085 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,086 INFO sqlalchemy.engine.Engine [insertmanyvalues 700/1094 (ordered; batch not supported)] (140, 15, '2022-08-16', 4704.0, 126)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 700/1094 (ordered; batch not supported)] (140, 15, '2022-08-16', 4704.0, 126)

2025-04-27 01:36:27,087 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,088 INFO sqlalchemy.engine.Engine [insertmanyvalues 701/1094 (ordered; batch not supported)] (144, 4, '2022-03-07', 9338.0, 11)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 701/1094 (ordered; batch not supported)] (144, 4, '2022-03-07', 9338.0, 11)

2025-04-27 01:36:27,089 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,090 INFO sqlalchemy.engine.Engine [insertmanyvalues 702/1094 (ordered; batch not supported)] (141, 6, '2022-04-05', 7959.0, 30)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 702/1094 (ordered; batch not supported)] (141, 6, '2022-04-05', 7959.0, 30)

2025-04-27 01:36:27,091 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,092 INFO sqlalchemy.engine.Engine [insertmanyvalues 703/1094 (ordered; batch not supported)] (146, 2, '2022-05-04', 9023.0, 51)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 703/1094 (ordered; batch not supported)] (146, 2, '2022-05-04', 9023.0, 51)

2025-04-27 01:36:27,093 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,098 INFO sqlalchemy.engine.Engine [insertmanyvalues 704/1094 (ordered; batch not supported)] (124, 19, '2022-01-04', 14525.0, 92)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 704/1094 (ordered; batch not supported)] (124, 19, '2022-01-04', 14525.0, 92)

2025-04-27 01:36:27,099 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,100 INFO sqlalchemy.engine.Engine [insertmanyvalues 705/1094 (ordered; batch not supported)] (120, 20, '2022-01-13', 5810.0, 101)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 705/1094 (ordered; batch not supported)] (120, 20, '2022-01-13', 5810.0, 101)

2025-04-27 01:36:27,101 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,102 INFO sqlalchemy.engine.Engine [insertmanyvalues 706/1094 (ordered; batch not supported)] (150, 14, '2022-07-11', 6426.0, 98)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 706/1094 (ordered; batch not supported)] (150, 14, '2022-07-11', 6426.0, 98)

2025-04-27 01:36:27,107 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,108 INFO sqlalchemy.engine.Engine [insertmanyvalues 707/1094 (ordered; batch not supported)] (133, 1, '2022-05-17', 4403.0, 159)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 707/1094 (ordered; batch not supported)] (133, 1, '2022-05-17', 4403.0, 159)

2025-04-27 01:36:27,109 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,110 INFO sqlalchemy.engine.Engine [insertmanyvalues 708/1094 (ordered; batch not supported)] (146, 3, '2022-07-21', 1582.0, 62)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 708/1094 (ordered; batch not supported)] (146, 3, '2022-07-21', 1582.0, 62)

2025-04-27 01:36:27,111 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,112 INFO sqlalchemy.engine.Engine [insertmanyvalues 709/1094 (ordered; batch not supported)] (141, 11, '2022-02-22', 791.0, 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 709/1094 (ordered; batch not supported)] (141, 11, '2022-02-22', 791.0, 22)

2025-04-27 01:36:27,113 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,117 INFO sqlalchemy.engine.Engine [insertmanyvalues 710/1094 (ordered; batch not supported)] (148, 5, '2022-05-23', 9100.0, 187)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 710/1094 (ordered; batch not supported)] (148, 5, '2022-05-23', 9100.0, 187)

2025-04-27 01:36:27,119 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,120 INFO sqlalchemy.engine.Engine [insertmanyvalues 711/1094 (ordered; batch not supported)] (140, 10, '2022-07-12', 9884.0, 200)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 711/1094 (ordered; batch not supported)] (140, 10, '2022-07-12', 9884.0, 200)

2025-04-27 01:36:27,121 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,122 INFO sqlalchemy.engine.Engine [insertmanyvalues 712/1094 (ordered; batch not supported)] (148, 8, '2022-06-15', 3780.0, 201)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 712/1094 (ordered; batch not supported)] (148, 8, '2022-06-15', 3780.0, 201)

2025-04-27 01:36:27,123 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,124 INFO sqlalchemy.engine.Engine [insertmanyvalues 713/1094 (ordered; batch not supported)] (102, 7, '2022-06-23', 4557.0, 308)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 713/1094 (ordered; batch not supported)] (102, 7, '2022-06-23', 4557.0, 308)

2025-04-27 01:36:27,129 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,130 INFO sqlalchemy.engine.Engine [insertmanyvalues 714/1094 (ordered; batch not supported)] (141, 9, '2022-03-25', 5796.0, 55)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 714/1094 (ordered; batch not supported)] (141, 9, '2022-03-25', 5796.0, 55)

2025-04-27 01:36:27,131 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,132 INFO sqlalchemy.engine.Engine [insertmanyvalues 715/1094 (ordered; batch not supported)] (148, 21, '2022-07-04', 84.0, 153)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 715/1094 (ordered; batch not supported)] (148, 21, '2022-07-04', 84.0, 153)

2025-04-27 01:36:27,133 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,134 INFO sqlalchemy.engine.Engine [insertmanyvalues 716/1094 (ordered; batch not supported)] (63, 15, '2022-05-12', 9037.0, 101)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 716/1094 (ordered; batch not supported)] (63, 15, '2022-05-12', 9037.0, 101)

2025-04-27 01:36:27,139 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,140 INFO sqlalchemy.engine.Engine [insertmanyvalues 717/1094 (ordered; batch not supported)] (146, 18, '2022-04-04', 4746.0, 137)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 717/1094 (ordered; batch not supported)] (146, 18, '2022-04-04', 4746.0, 137)

2025-04-27 01:36:27,141 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,142 INFO sqlalchemy.engine.Engine [insertmanyvalues 718/1094 (ordered; batch not supported)] (131, 8, '2022-04-15', 6713.0, 398)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 718/1094 (ordered; batch not supported)] (131, 8, '2022-04-15', 6713.0, 398)

2025-04-27 01:36:27,144 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,145 INFO sqlalchemy.engine.Engine [insertmanyvalues 719/1094 (ordered; batch not supported)] (144, 9, '2022-03-08', 6237.0, 88)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 719/1094 (ordered; batch not supported)] (144, 9, '2022-03-08', 6237.0, 88)

2025-04-27 01:36:27,146 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,147 INFO sqlalchemy.engine.Engine [insertmanyvalues 720/1094 (ordered; batch not supported)] (106, 15, '2022-01-17', 7483.0, 232)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 720/1094 (ordered; batch not supported)] (106, 15, '2022-01-17', 7483.0, 232)

2025-04-27 01:36:27,150 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,151 INFO sqlalchemy.engine.Engine [insertmanyvalues 721/1094 (ordered; batch not supported)] (150, 1, '2022-08-22', 1309.0, 51)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 721/1094 (ordered; batch not supported)] (150, 1, '2022-08-22', 1309.0, 51)

2025-04-27 01:36:27,152 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,153 INFO sqlalchemy.engine.Engine [insertmanyvalues 722/1094 (ordered; batch not supported)] (63, 5, '2022-07-25', 1155.0, 66)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 722/1094 (ordered; batch not supported)] (63, 5, '2022-07-25', 1155.0, 66)

2025-04-27 01:36:27,154 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,159 INFO sqlalchemy.engine.Engine [insertmanyvalues 723/1094 (ordered; batch not supported)] (120, 7, '2022-06-14', 2989.0, 124)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 723/1094 (ordered; batch not supported)] (120, 7, '2022-06-14', 2989.0, 124)

2025-04-27 01:36:27,160 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,161 INFO sqlalchemy.engine.Engine [insertmanyvalues 724/1094 (ordered; batch not supported)] (124, 19, '2022-04-05', 9625.0, 78)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 724/1094 (ordered; batch not supported)] (124, 19, '2022-04-05', 9625.0, 78)

2025-04-27 01:36:27,162 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,163 INFO sqlalchemy.engine.Engine [insertmanyvalues 725/1094 (ordered; batch not supported)] (131, 18, '2022-08-26', 7357.0, 341)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 725/1094 (ordered; batch not supported)] (131, 18, '2022-08-26', 7357.0, 341)

2025-04-27 01:36:27,164 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,165 INFO sqlalchemy.engine.Engine [insertmanyvalues 726/1094 (ordered; batch not supported)] (150, 7, '2022-08-03', 10031.0, 114)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 726/1094 (ordered; batch not supported)] (150, 7, '2022-08-03', 10031.0, 114)

2025-04-27 01:36:27,166 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,167 INFO sqlalchemy.engine.Engine [insertmanyvalues 727/1094 (ordered; batch not supported)] (119, 15, '2022-07-11', 6587.0, 4)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 727/1094 (ordered; batch not supported)] (119, 15, '2022-07-11', 6587.0, 4)

2025-04-27 01:36:27,171 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,172 INFO sqlalchemy.engine.Engine [insertmanyvalues 728/1094 (ordered; batch not supported)] (150, 9, '2022-03-11', 3311.0, 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 728/1094 (ordered; batch not supported)] (150, 9, '2022-03-11', 3311.0, 22)

2025-04-27 01:36:27,173 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,174 INFO sqlalchemy.engine.Engine [insertmanyvalues 729/1094 (ordered; batch not supported)] (136, 3, '2022-01-10', 15330.0, 30)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 729/1094 (ordered; batch not supported)] (136, 3, '2022-01-10', 15330.0, 30)

2025-04-27 01:36:27,175 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,176 INFO sqlalchemy.engine.Engine [insertmanyvalues 730/1094 (ordered; batch not supported)] (144, 20, '2022-04-04', 14028.0, 351)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 730/1094 (ordered; batch not supported)] (144, 20, '2022-04-04', 14028.0, 351)

2025-04-27 01:36:27,177 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,178 INFO sqlalchemy.engine.Engine [insertmanyvalues 731/1094 (ordered; batch not supported)] (106, 7, '2022-01-17', 6678.0, 708)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 731/1094 (ordered; batch not supported)] (106, 7, '2022-01-17', 6678.0, 708)

2025-04-27 01:36:27,179 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,180 INFO sqlalchemy.engine.Engine [insertmanyvalues 732/1094 (ordered; batch not supported)] (120, 11, '2022-07-08', 8624.0, 50)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 732/1094 (ordered; batch not supported)] (120, 11, '2022-07-08', 8624.0, 50)

2025-04-27 01:36:27,181 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,182 INFO sqlalchemy.engine.Engine [insertmanyvalues 733/1094 (ordered; batch not supported)] (148, 11, '2022-04-12', 1197.0, 356)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 733/1094 (ordered; batch not supported)] (148, 11, '2022-04-12', 1197.0, 356)

2025-04-27 01:36:27,183 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,184 INFO sqlalchemy.engine.Engine [insertmanyvalues 734/1094 (ordered; batch not supported)] (140, 14, '2022-08-24', 483.0, 185)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 734/1094 (ordered; batch not supported)] (140, 14, '2022-08-24', 483.0, 185)

2025-04-27 01:36:27,185 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,186 INFO sqlalchemy.engine.Engine [insertmanyvalues 735/1094 (ordered; batch not supported)] (124, 19, '2022-06-07', 1687.0, 236)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 735/1094 (ordered; batch not supported)] (124, 19, '2022-06-07', 1687.0, 236)

2025-04-27 01:36:27,187 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,188 INFO sqlalchemy.engine.Engine [insertmanyvalues 736/1094 (ordered; batch not supported)] (135, 17, '2022-07-28', 1309.0, 30)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 736/1094 (ordered; batch not supported)] (135, 17, '2022-07-28', 1309.0, 30)

2025-04-27 01:36:27,189 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,190 INFO sqlalchemy.engine.Engine [insertmanyvalues 737/1094 (ordered; batch not supported)] (142, 5, '2022-02-21', 9534.0, 111)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 737/1094 (ordered; batch not supported)] (142, 5, '2022-02-21', 9534.0, 111)

2025-04-27 01:36:27,191 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,192 INFO sqlalchemy.engine.Engine [insertmanyvalues 738/1094 (ordered; batch not supported)] (122, 1, '2022-04-08', 1694.0, 289)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 738/1094 (ordered; batch not supported)] (122, 1, '2022-04-08', 1694.0, 289)

2025-04-27 01:36:27,192 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,193 INFO sqlalchemy.engine.Engine [insertmanyvalues 739/1094 (ordered; batch not supported)] (136, 16, '2022-06-28', 70.0, 103)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 739/1094 (ordered; batch not supported)] (136, 16, '2022-06-28', 70.0, 103)

2025-04-27 01:36:27,195 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,196 INFO sqlalchemy.engine.Engine [insertmanyvalues 740/1094 (ordered; batch not supported)] (61, 20, '2022-03-24', 2443.0, 20)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 740/1094 (ordered; batch not supported)] (61, 20, '2022-03-24', 2443.0, 20)

2025-04-27 01:36:27,197 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,198 INFO sqlalchemy.engine.Engine [insertmanyvalues 741/1094 (ordered; batch not supported)] (102, 21, '2022-07-29', 2933.0, 55)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 741/1094 (ordered; batch not supported)] (102, 21, '2022-07-29', 2933.0, 55)

2025-04-27 01:36:27,199 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,200 INFO sqlalchemy.engine.Engine [insertmanyvalues 742/1094 (ordered; batch not supported)] (122, 9, '2022-05-25', 2044.0, 90)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 742/1094 (ordered; batch not supported)] (122, 9, '2022-05-25', 2044.0, 90)

2025-04-27 01:36:27,201 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,202 INFO sqlalchemy.engine.Engine [insertmanyvalues 743/1094 (ordered; batch not supported)] (119, 18, '2022-03-30', 6524.0, 303)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 743/1094 (ordered; batch not supported)] (119, 18, '2022-03-30', 6524.0, 303)

2025-04-27 01:36:27,202 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,203 INFO sqlalchemy.engine.Engine [insertmanyvalues 744/1094 (ordered; batch not supported)] (122, 11, '2022-07-18', 12656.0, 126)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 744/1094 (ordered; batch not supported)] (122, 11, '2022-07-18', 12656.0, 126)

2025-04-27 01:36:27,204 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,205 INFO sqlalchemy.engine.Engine [insertmanyvalues 745/1094 (ordered; batch not supported)] (107, 8, '2022-05-10', 8722.0, 109)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 745/1094 (ordered; batch not supported)] (107, 8, '2022-05-10', 8722.0, 109)

2025-04-27 01:36:27,206 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,207 INFO sqlalchemy.engine.Engine [insertmanyvalues 746/1094 (ordered; batch not supported)] (137, 19, '2022-03-18', 15750.0, 92)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 746/1094 (ordered; batch not supported)] (137, 19, '2022-03-18', 15750.0, 92)

2025-04-27 01:36:27,208 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,209 INFO sqlalchemy.engine.Engine [insertmanyvalues 747/1094 (ordered; batch not supported)] (124, 21, '2022-06-15', 6839.0, 56)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 747/1094 (ordered; batch not supported)] (124, 21, '2022-06-15', 6839.0, 56)

2025-04-27 01:36:27,210 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,211 INFO sqlalchemy.engine.Engine [insertmanyvalues 748/1094 (ordered; batch not supported)] (61, 7, '2022-05-12', 13685.0, 58)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 748/1094 (ordered; batch not supported)] (61, 7, '2022-05-12', 13685.0, 58)

2025-04-27 01:36:27,213 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,214 INFO sqlalchemy.engine.Engine [insertmanyvalues 749/1094 (ordered; batch not supported)] (77, 20, '2022-06-23', 2912.0, 110)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 749/1094 (ordered; batch not supported)] (77, 20, '2022-06-23', 2912.0, 110)

2025-04-27 01:36:27,216 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,217 INFO sqlalchemy.engine.Engine [insertmanyvalues 750/1094 (ordered; batch not supported)] (107, 13, '2022-04-21', 3339.0, 171)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 750/1094 (ordered; batch not supported)] (107, 13, '2022-04-21', 3339.0, 171)

2025-04-27 01:36:27,218 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,219 INFO sqlalchemy.engine.Engine [insertmanyvalues 751/1094 (ordered; batch not supported)] (119, 17, '2022-08-17', 910.0, 117)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 751/1094 (ordered; batch not supported)] (119, 17, '2022-08-17', 910.0, 117)

2025-04-27 01:36:27,220 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,221 INFO sqlalchemy.engine.Engine [insertmanyvalues 752/1094 (ordered; batch not supported)] (140, 9, '2022-02-07', 19481.0, 51)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 752/1094 (ordered; batch not supported)] (140, 9, '2022-02-07', 19481.0, 51)

2025-04-27 01:36:27,223 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,224 INFO sqlalchemy.engine.Engine [insertmanyvalues 753/1094 (ordered; batch not supported)] (77, 4, '2022-03-17', 8099.0, 118)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 753/1094 (ordered; batch not supported)] (77, 4, '2022-03-17', 8099.0, 118)

2025-04-27 01:36:27,226 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,227 INFO sqlalchemy.engine.Engine [insertmanyvalues 754/1094 (ordered; batch not supported)] (148, 20, '2022-08-01', 13727.0, 79)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 754/1094 (ordered; batch not supported)] (148, 20, '2022-08-01', 13727.0, 79)

2025-04-27 01:36:27,228 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,229 INFO sqlalchemy.engine.Engine [insertmanyvalues 755/1094 (ordered; batch not supported)] (143, 12, '2022-03-18', 8659.0, 29)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 755/1094 (ordered; batch not supported)] (143, 12, '2022-03-18', 8659.0, 29)

2025-04-27 01:36:27,230 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,235 INFO sqlalchemy.engine.Engine [insertmanyvalues 756/1094 (ordered; batch not supported)] (119, 14, '2022-06-14', 5782.0, 103)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 756/1094 (ordered; batch not supported)] (119, 14, '2022-06-14', 5782.0, 103)

2025-04-27 01:36:27,236 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,237 INFO sqlalchemy.engine.Engine [insertmanyvalues 757/1094 (ordered; batch not supported)] (107, 9, '2022-04-22', 8463.0, 155)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 757/1094 (ordered; batch not supported)] (107, 9, '2022-04-22', 8463.0, 155)

2025-04-27 01:36:27,239 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,240 INFO sqlalchemy.engine.Engine [insertmanyvalues 758/1094 (ordered; batch not supported)] (120, 9, '2022-01-18', 4914.0, 31)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 758/1094 (ordered; batch not supported)] (120, 9, '2022-01-18', 4914.0, 31)

2025-04-27 01:36:27,241 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,242 INFO sqlalchemy.engine.Engine [insertmanyvalues 759/1094 (ordered; batch not supported)] (142, 5, '2022-08-26', 3087.0, 128)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 759/1094 (ordered; batch not supported)] (142, 5, '2022-08-26', 3087.0, 128)

2025-04-27 01:36:27,243 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,244 INFO sqlalchemy.engine.Engine [insertmanyvalues 760/1094 (ordered; batch not supported)] (135, 14, '2022-06-10', 9205.0, 419)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 760/1094 (ordered; batch not supported)] (135, 14, '2022-06-10', 9205.0, 419)

2025-04-27 01:36:27,247 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,248 INFO sqlalchemy.engine.Engine [insertmanyvalues 761/1094 (ordered; batch not supported)] (141, 22, '2022-01-31', 2303.0, 7)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 761/1094 (ordered; batch not supported)] (141, 22, '2022-01-31', 2303.0, 7)

2025-04-27 01:36:27,249 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,250 INFO sqlalchemy.engine.Engine [insertmanyvalues 762/1094 (ordered; batch not supported)] (77, 16, '2022-04-08', 1358.0, 106)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 762/1094 (ordered; batch not supported)] (77, 16, '2022-04-08', 1358.0, 106)

2025-04-27 01:36:27,251 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,252 INFO sqlalchemy.engine.Engine [insertmanyvalues 763/1094 (ordered; batch not supported)] (138, 20, '2022-06-07', 3605.0, 68)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 763/1094 (ordered; batch not supported)] (138, 20, '2022-06-07', 3605.0, 68)

2025-04-27 01:36:27,254 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,255 INFO sqlalchemy.engine.Engine [insertmanyvalues 764/1094 (ordered; batch not supported)] (102, 2, '2022-02-10', 8498.0, 44)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 764/1094 (ordered; batch not supported)] (102, 2, '2022-02-10', 8498.0, 44)

2025-04-27 01:36:27,256 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,257 INFO sqlalchemy.engine.Engine [insertmanyvalues 765/1094 (ordered; batch not supported)] (107, 7, '2022-05-16', 700.0, 457)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 765/1094 (ordered; batch not supported)] (107, 7, '2022-05-16', 700.0, 457)

2025-04-27 01:36:27,258 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,259 INFO sqlalchemy.engine.Engine [insertmanyvalues 766/1094 (ordered; batch not supported)] (135, 20, '2022-03-18', 2191.0, 524)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 766/1094 (ordered; batch not supported)] (135, 20, '2022-03-18', 2191.0, 524)

2025-04-27 01:36:27,260 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,261 INFO sqlalchemy.engine.Engine [insertmanyvalues 767/1094 (ordered; batch not supported)] (61, 7, '2022-07-13', 644.0, 137)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 767/1094 (ordered; batch not supported)] (61, 7, '2022-07-13', 644.0, 137)

2025-04-27 01:36:27,262 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,263 INFO sqlalchemy.engine.Engine [insertmanyvalues 768/1094 (ordered; batch not supported)] (147, 16, '2022-07-25', 4340.0, 86)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 768/1094 (ordered; batch not supported)] (147, 16, '2022-07-25', 4340.0, 86)

2025-04-27 01:36:27,266 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,266 INFO sqlalchemy.engine.Engine [insertmanyvalues 769/1094 (ordered; batch not supported)] (61, 19, '2022-08-19', 2282.0, 296)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 769/1094 (ordered; batch not supported)] (61, 19, '2022-08-19', 2282.0, 296)

2025-04-27 01:36:27,268 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,269 INFO sqlalchemy.engine.Engine [insertmanyvalues 770/1094 (ordered; batch not supported)] (106, 22, '2022-06-24', 7714.0, 597)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 770/1094 (ordered; batch not supported)] (106, 22, '2022-06-24', 7714.0, 597)

2025-04-27 01:36:27,270 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,271 INFO sqlalchemy.engine.Engine [insertmanyvalues 771/1094 (ordered; batch not supported)] (77, 14, '2022-06-20', 826.0, 149)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 771/1094 (ordered; batch not supported)] (77, 14, '2022-06-20', 826.0, 149)

2025-04-27 01:36:27,272 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,273 INFO sqlalchemy.engine.Engine [insertmanyvalues 772/1094 (ordered; batch not supported)] (146, 5, '2022-08-02', 203.0, 207)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 772/1094 (ordered; batch not supported)] (146, 5, '2022-08-02', 203.0, 207)

2025-04-27 01:36:27,274 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,275 INFO sqlalchemy.engine.Engine [insertmanyvalues 773/1094 (ordered; batch not supported)] (131, 22, '2022-02-22', 13356.0, 93)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 773/1094 (ordered; batch not supported)] (131, 22, '2022-02-22', 13356.0, 93)

2025-04-27 01:36:27,278 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,279 INFO sqlalchemy.engine.Engine [insertmanyvalues 774/1094 (ordered; batch not supported)] (137, 8, '2022-02-01', 6510.0, 23)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 774/1094 (ordered; batch not supported)] (137, 8, '2022-02-01', 6510.0, 23)

2025-04-27 01:36:27,280 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,281 INFO sqlalchemy.engine.Engine [insertmanyvalues 775/1094 (ordered; batch not supported)] (148, 22, '2022-02-14', 5894.0, 305)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 775/1094 (ordered; batch not supported)] (148, 22, '2022-02-14', 5894.0, 305)

2025-04-27 01:36:27,282 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 776/1094 (ordered; batch not supported)] (77, 12, '2022-02-24', 7910.0, 125)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 776/1094 (ordered; batch not supported)] (77, 12, '2022-02-24', 7910.0, 125)

2025-04-27 01:36:27,284 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,285 INFO sqlalchemy.engine.Engine [insertmanyvalues 777/1094 (ordered; batch not supported)] (122, 8, '2022-03-18', 784.0, 129)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 777/1094 (ordered; batch not supported)] (122, 8, '2022-03-18', 784.0, 129)

2025-04-27 01:36:27,286 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,287 INFO sqlalchemy.engine.Engine [insertmanyvalues 778/1094 (ordered; batch not supported)] (142, 9, '2022-08-30', 1750.0, 252)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 778/1094 (ordered; batch not supported)] (142, 9, '2022-08-30', 1750.0, 252)

2025-04-27 01:36:27,288 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,289 INFO sqlalchemy.engine.Engine [insertmanyvalues 779/1094 (ordered; batch not supported)] (119, 3, '2022-05-09', 280.0, 75)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 779/1094 (ordered; batch not supported)] (119, 3, '2022-05-09', 280.0, 75)

2025-04-27 01:36:27,290 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,294 INFO sqlalchemy.engine.Engine [insertmanyvalues 780/1094 (ordered; batch not supported)] (150, 4, '2022-01-18', 504.0, 87)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 780/1094 (ordered; batch not supported)] (150, 4, '2022-01-18', 504.0, 87)

2025-04-27 01:36:27,295 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,296 INFO sqlalchemy.engine.Engine [insertmanyvalues 781/1094 (ordered; batch not supported)] (141, 15, '2022-07-04', 7154.0, 342)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 781/1094 (ordered; batch not supported)] (141, 15, '2022-07-04', 7154.0, 342)

2025-04-27 01:36:27,297 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,298 INFO sqlalchemy.engine.Engine [insertmanyvalues 782/1094 (ordered; batch not supported)] (147, 13, '2022-06-03', 1617.0, 13)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 782/1094 (ordered; batch not supported)] (147, 13, '2022-06-03', 1617.0, 13)

2025-04-27 01:36:27,299 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,302 INFO sqlalchemy.engine.Engine [insertmanyvalues 783/1094 (ordered; batch not supported)] (107, 3, '2022-02-23', 10822.0, 30)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 783/1094 (ordered; batch not supported)] (107, 3, '2022-02-23', 10822.0, 30)

2025-04-27 01:36:27,303 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,304 INFO sqlalchemy.engine.Engine [insertmanyvalues 784/1094 (ordered; batch not supported)] (138, 5, '2022-05-09', 10724.0, 203)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 784/1094 (ordered; batch not supported)] (138, 5, '2022-05-09', 10724.0, 203)

2025-04-27 01:36:27,305 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,306 INFO sqlalchemy.engine.Engine [insertmanyvalues 785/1094 (ordered; batch not supported)] (77, 22, '2022-06-06', 3640.0, 106)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 785/1094 (ordered; batch not supported)] (77, 22, '2022-06-06', 3640.0, 106)

2025-04-27 01:36:27,307 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,308 INFO sqlalchemy.engine.Engine [insertmanyvalues 786/1094 (ordered; batch not supported)] (77, 10, '2022-07-04', 7532.0, 234)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 786/1094 (ordered; batch not supported)] (77, 10, '2022-07-04', 7532.0, 234)

2025-04-27 01:36:27,309 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,310 INFO sqlalchemy.engine.Engine [insertmanyvalues 787/1094 (ordered; batch not supported)] (136, 10, '2022-06-06', 1582.0, 100)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 787/1094 (ordered; batch not supported)] (136, 10, '2022-06-06', 1582.0, 100)

2025-04-27 01:36:27,311 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,312 INFO sqlalchemy.engine.Engine [insertmanyvalues 788/1094 (ordered; batch not supported)] (138, 17, '2022-05-13', 1456.0, 91)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 788/1094 (ordered; batch not supported)] (138, 17, '2022-05-13', 1456.0, 91)

2025-04-27 01:36:27,316 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,317 INFO sqlalchemy.engine.Engine [insertmanyvalues 789/1094 (ordered; batch not supported)] (150, 11, '2022-01-31', 2016.0, 277)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 789/1094 (ordered; batch not supported)] (150, 11, '2022-01-31', 2016.0, 277)

2025-04-27 01:36:27,318 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,319 INFO sqlalchemy.engine.Engine [insertmanyvalues 790/1094 (ordered; batch not supported)] (124, 21, '2022-06-30', 7588.0, 42)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 790/1094 (ordered; batch not supported)] (124, 21, '2022-06-30', 7588.0, 42)

2025-04-27 01:36:27,320 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,321 INFO sqlalchemy.engine.Engine [insertmanyvalues 791/1094 (ordered; batch not supported)] (102, 16, '2022-08-25', 3402.0, 249)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 791/1094 (ordered; batch not supported)] (102, 16, '2022-08-25', 3402.0, 249)

2025-04-27 01:36:27,322 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,323 INFO sqlalchemy.engine.Engine [insertmanyvalues 792/1094 (ordered; batch not supported)] (119, 4, '2022-01-10', 700.0, 97)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 792/1094 (ordered; batch not supported)] (119, 4, '2022-01-10', 700.0, 97)

2025-04-27 01:36:27,324 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,325 INFO sqlalchemy.engine.Engine [insertmanyvalues 793/1094 (ordered; batch not supported)] (136, 16, '2022-08-22', 1904.0, 8)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 793/1094 (ordered; batch not supported)] (136, 16, '2022-08-22', 1904.0, 8)

2025-04-27 01:36:27,325 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,326 INFO sqlalchemy.engine.Engine [insertmanyvalues 794/1094 (ordered; batch not supported)] (144, 2, '2022-04-14', 4844.0, 275)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 794/1094 (ordered; batch not supported)] (144, 2, '2022-04-14', 4844.0, 275)

2025-04-27 01:36:27,327 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,328 INFO sqlalchemy.engine.Engine [insertmanyvalues 795/1094 (ordered; batch not supported)] (147, 4, '2022-05-31', 9625.0, 313)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 795/1094 (ordered; batch not supported)] (147, 4, '2022-05-31', 9625.0, 313)

2025-04-27 01:36:27,329 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,330 INFO sqlalchemy.engine.Engine [insertmanyvalues 796/1094 (ordered; batch not supported)] (147, 18, '2022-04-08', 4599.0, 323)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 796/1094 (ordered; batch not supported)] (147, 18, '2022-04-08', 4599.0, 323)

2025-04-27 01:36:27,332 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,333 INFO sqlalchemy.engine.Engine [insertmanyvalues 797/1094 (ordered; batch not supported)] (144, 10, '2022-02-21', 3003.0, 155)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 797/1094 (ordered; batch not supported)] (144, 10, '2022-02-21', 3003.0, 155)

2025-04-27 01:36:27,334 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,335 INFO sqlalchemy.engine.Engine [insertmanyvalues 798/1094 (ordered; batch not supported)] (63, 16, '2022-03-30', 9744.0, 377)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 798/1094 (ordered; batch not supported)] (63, 16, '2022-03-30', 9744.0, 377)

2025-04-27 01:36:27,336 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,336 INFO sqlalchemy.engine.Engine [insertmanyvalues 799/1094 (ordered; batch not supported)] (137, 18, '2022-03-02', 1400.0, 2)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 799/1094 (ordered; batch not supported)] (137, 18, '2022-03-02', 1400.0, 2)

2025-04-27 01:36:27,338 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,339 INFO sqlalchemy.engine.Engine [insertmanyvalues 800/1094 (ordered; batch not supported)] (143, 8, '2022-07-28', 364.0, 170)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 800/1094 (ordered; batch not supported)] (143, 8, '2022-07-28', 364.0, 170)

2025-04-27 01:36:27,340 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,341 INFO sqlalchemy.engine.Engine [insertmanyvalues 801/1094 (ordered; batch not supported)] (133, 22, '2022-03-24', 7231.0, 38)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 801/1094 (ordered; batch not supported)] (133, 22, '2022-03-24', 7231.0, 38)

2025-04-27 01:36:27,342 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,343 INFO sqlalchemy.engine.Engine [insertmanyvalues 802/1094 (ordered; batch not supported)] (141, 6, '2022-08-11', 63.0, 105)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 802/1094 (ordered; batch not supported)] (141, 6, '2022-08-11', 63.0, 105)

2025-04-27 01:36:27,343 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,344 INFO sqlalchemy.engine.Engine [insertmanyvalues 803/1094 (ordered; batch not supported)] (142, 17, '2022-05-17', 8309.0, 166)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 803/1094 (ordered; batch not supported)] (142, 17, '2022-05-17', 8309.0, 166)

2025-04-27 01:36:27,346 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,347 INFO sqlalchemy.engine.Engine [insertmanyvalues 804/1094 (ordered; batch not supported)] (133, 19, '2022-05-18', 3164.0, 164)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 804/1094 (ordered; batch not supported)] (133, 19, '2022-05-18', 3164.0, 164)

2025-04-27 01:36:27,348 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,349 INFO sqlalchemy.engine.Engine [insertmanyvalues 805/1094 (ordered; batch not supported)] (144, 3, '2022-08-17', 5691.0, 171)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 805/1094 (ordered; batch not supported)] (144, 3, '2022-08-17', 5691.0, 171)

2025-04-27 01:36:27,350 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,351 INFO sqlalchemy.engine.Engine [insertmanyvalues 806/1094 (ordered; batch not supported)] (124, 9, '2022-04-04', 490.0, 49)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 806/1094 (ordered; batch not supported)] (124, 9, '2022-04-04', 490.0, 49)

2025-04-27 01:36:27,352 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,353 INFO sqlalchemy.engine.Engine [insertmanyvalues 807/1094 (ordered; batch not supported)] (136, 2, '2022-08-09', 18032.0, 205)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 807/1094 (ordered; batch not supported)] (136, 2, '2022-08-09', 18032.0, 205)

2025-04-27 01:36:27,358 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,359 INFO sqlalchemy.engine.Engine [insertmanyvalues 808/1094 (ordered; batch not supported)] (136, 11, '2022-01-17', 637.0, 313)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 808/1094 (ordered; batch not supported)] (136, 11, '2022-01-17', 637.0, 313)

2025-04-27 01:36:27,360 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,364 INFO sqlalchemy.engine.Engine [insertmanyvalues 809/1094 (ordered; batch not supported)] (63, 15, '2022-02-14', 4067.0, 29)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 809/1094 (ordered; batch not supported)] (63, 15, '2022-02-14', 4067.0, 29)

2025-04-27 01:36:27,365 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,366 INFO sqlalchemy.engine.Engine [insertmanyvalues 810/1094 (ordered; batch not supported)] (119, 8, '2022-05-16', 8204.0, 307)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 810/1094 (ordered; batch not supported)] (119, 8, '2022-05-16', 8204.0, 307)

2025-04-27 01:36:27,367 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,368 INFO sqlalchemy.engine.Engine [insertmanyvalues 811/1094 (ordered; batch not supported)] (124, 4, '2022-03-16', 9870.0, 121)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 811/1094 (ordered; batch not supported)] (124, 4, '2022-03-16', 9870.0, 121)

2025-04-27 01:36:27,369 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,370 INFO sqlalchemy.engine.Engine [insertmanyvalues 812/1094 (ordered; batch not supported)] (142, 22, '2022-01-31', 5131.0, 285)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 812/1094 (ordered; batch not supported)] (142, 22, '2022-01-31', 5131.0, 285)

2025-04-27 01:36:27,371 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,372 INFO sqlalchemy.engine.Engine [insertmanyvalues 813/1094 (ordered; batch not supported)] (102, 11, '2022-03-10', 1141.0, 205)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 813/1094 (ordered; batch not supported)] (102, 11, '2022-03-10', 1141.0, 205)

2025-04-27 01:36:27,373 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,378 INFO sqlalchemy.engine.Engine [insertmanyvalues 814/1094 (ordered; batch not supported)] (147, 11, '2022-06-30', 7980.0, 157)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 814/1094 (ordered; batch not supported)] (147, 11, '2022-06-30', 7980.0, 157)

2025-04-27 01:36:27,379 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,380 INFO sqlalchemy.engine.Engine [insertmanyvalues 815/1094 (ordered; batch not supported)] (61, 9, '2022-03-01', 5229.0, 182)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 815/1094 (ordered; batch not supported)] (61, 9, '2022-03-01', 5229.0, 182)

2025-04-27 01:36:27,381 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,382 INFO sqlalchemy.engine.Engine [insertmanyvalues 816/1094 (ordered; batch not supported)] (137, 10, '2022-05-27', 3423.0, 100)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 816/1094 (ordered; batch not supported)] (137, 10, '2022-05-27', 3423.0, 100)

2025-04-27 01:36:27,386 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,387 INFO sqlalchemy.engine.Engine [insertmanyvalues 817/1094 (ordered; batch not supported)] (147, 12, '2022-07-11', 6468.0, 223)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 817/1094 (ordered; batch not supported)] (147, 12, '2022-07-11', 6468.0, 223)

2025-04-27 01:36:27,388 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,389 INFO sqlalchemy.engine.Engine [insertmanyvalues 818/1094 (ordered; batch not supported)] (106, 1, '2022-03-02', 4326.0, 61)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 818/1094 (ordered; batch not supported)] (106, 1, '2022-03-02', 4326.0, 61)

2025-04-27 01:36:27,390 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,391 INFO sqlalchemy.engine.Engine [insertmanyvalues 819/1094 (ordered; batch not supported)] (143, 18, '2022-03-04', 7154.0, 133)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 819/1094 (ordered; batch not supported)] (143, 18, '2022-03-04', 7154.0, 133)

2025-04-27 01:36:27,392 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,393 INFO sqlalchemy.engine.Engine [insertmanyvalues 820/1094 (ordered; batch not supported)] (77, 2, '2022-06-23', 3997.0, 228)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 820/1094 (ordered; batch not supported)] (77, 2, '2022-06-23', 3997.0, 228)

2025-04-27 01:36:27,395 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,400 INFO sqlalchemy.engine.Engine [insertmanyvalues 821/1094 (ordered; batch not supported)] (77, 17, '2022-01-27', 5180.0, 233)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 821/1094 (ordered; batch not supported)] (77, 17, '2022-01-27', 5180.0, 233)

2025-04-27 01:36:27,401 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,402 INFO sqlalchemy.engine.Engine [insertmanyvalues 822/1094 (ordered; batch not supported)] (120, 8, '2022-01-14', 2723.0, 425)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 822/1094 (ordered; batch not supported)] (120, 8, '2022-01-14', 2723.0, 425)

2025-04-27 01:36:27,403 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,405 INFO sqlalchemy.engine.Engine [insertmanyvalues 823/1094 (ordered; batch not supported)] (122, 14, '2022-07-29', 952.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 823/1094 (ordered; batch not supported)] (122, 14, '2022-07-29', 952.0, 24)

2025-04-27 01:36:27,406 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,406 INFO sqlalchemy.engine.Engine [insertmanyvalues 824/1094 (ordered; batch not supported)] (136, 4, '2022-05-13', 5691.0, 495)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 824/1094 (ordered; batch not supported)] (136, 4, '2022-05-13', 5691.0, 495)

2025-04-27 01:36:27,408 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,410 INFO sqlalchemy.engine.Engine [insertmanyvalues 825/1094 (ordered; batch not supported)] (102, 20, '2022-02-03', 10969.0, 170)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 825/1094 (ordered; batch not supported)] (102, 20, '2022-02-03', 10969.0, 170)

2025-04-27 01:36:27,411 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,412 INFO sqlalchemy.engine.Engine [insertmanyvalues 826/1094 (ordered; batch not supported)] (136, 4, '2022-05-27', 5964.0, 26)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 826/1094 (ordered; batch not supported)] (136, 4, '2022-05-27', 5964.0, 26)

2025-04-27 01:36:27,413 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,414 INFO sqlalchemy.engine.Engine [insertmanyvalues 827/1094 (ordered; batch not supported)] (148, 10, '2022-02-18', 2821.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 827/1094 (ordered; batch not supported)] (148, 10, '2022-02-18', 2821.0, 24)

2025-04-27 01:36:27,418 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,419 INFO sqlalchemy.engine.Engine [insertmanyvalues 828/1094 (ordered; batch not supported)] (136, 13, '2022-01-28', 1302.0, 33)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 828/1094 (ordered; batch not supported)] (136, 13, '2022-01-28', 1302.0, 33)

2025-04-27 01:36:27,420 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,421 INFO sqlalchemy.engine.Engine [insertmanyvalues 829/1094 (ordered; batch not supported)] (61, 9, '2022-06-29', 5474.0, 109)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 829/1094 (ordered; batch not supported)] (61, 9, '2022-06-29', 5474.0, 109)

2025-04-27 01:36:27,422 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,423 INFO sqlalchemy.engine.Engine [insertmanyvalues 830/1094 (ordered; batch not supported)] (150, 21, '2022-01-13', 4179.0, 276)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 830/1094 (ordered; batch not supported)] (150, 21, '2022-01-13', 4179.0, 276)

2025-04-27 01:36:27,424 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,425 INFO sqlalchemy.engine.Engine [insertmanyvalues 831/1094 (ordered; batch not supported)] (143, 6, '2022-06-27', 1946.0, 164)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 831/1094 (ordered; batch not supported)] (143, 6, '2022-06-27', 1946.0, 164)

2025-04-27 01:36:27,429 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,430 INFO sqlalchemy.engine.Engine [insertmanyvalues 832/1094 (ordered; batch not supported)] (102, 15, '2022-03-29', 4291.0, 1)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 832/1094 (ordered; batch not supported)] (102, 15, '2022-03-29', 4291.0, 1)

2025-04-27 01:36:27,431 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,432 INFO sqlalchemy.engine.Engine [insertmanyvalues 833/1094 (ordered; batch not supported)] (135, 11, '2022-06-03', 7196.0, 160)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 833/1094 (ordered; batch not supported)] (135, 11, '2022-06-03', 7196.0, 160)

2025-04-27 01:36:27,433 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,433 INFO sqlalchemy.engine.Engine [insertmanyvalues 834/1094 (ordered; batch not supported)] (137, 4, '2022-03-21', 1939.0, 98)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 834/1094 (ordered; batch not supported)] (137, 4, '2022-03-21', 1939.0, 98)

2025-04-27 01:36:27,434 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,435 INFO sqlalchemy.engine.Engine [insertmanyvalues 835/1094 (ordered; batch not supported)] (137, 9, '2022-04-12', 10437.0, 46)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 835/1094 (ordered; batch not supported)] (137, 9, '2022-04-12', 10437.0, 46)

2025-04-27 01:36:27,436 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,440 INFO sqlalchemy.engine.Engine [insertmanyvalues 836/1094 (ordered; batch not supported)] (140, 18, '2022-01-19', 6916.0, 259)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 836/1094 (ordered; batch not supported)] (140, 18, '2022-01-19', 6916.0, 259)

2025-04-27 01:36:27,441 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,442 INFO sqlalchemy.engine.Engine [insertmanyvalues 837/1094 (ordered; batch not supported)] (106, 7, '2022-04-06', 3647.0, 310)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 837/1094 (ordered; batch not supported)] (106, 7, '2022-04-06', 3647.0, 310)

2025-04-27 01:36:27,443 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,444 INFO sqlalchemy.engine.Engine [insertmanyvalues 838/1094 (ordered; batch not supported)] (133, 7, '2022-08-02', 8995.0, 78)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 838/1094 (ordered; batch not supported)] (133, 7, '2022-08-02', 8995.0, 78)

2025-04-27 01:36:27,445 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,446 INFO sqlalchemy.engine.Engine [insertmanyvalues 839/1094 (ordered; batch not supported)] (119, 9, '2022-04-12', 7252.0, 136)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 839/1094 (ordered; batch not supported)] (119, 9, '2022-04-12', 7252.0, 136)

2025-04-27 01:36:27,447 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,448 INFO sqlalchemy.engine.Engine [insertmanyvalues 840/1094 (ordered; batch not supported)] (147, 10, '2022-07-21', 16380.0, 130)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 840/1094 (ordered; batch not supported)] (147, 10, '2022-07-21', 16380.0, 130)

2025-04-27 01:36:27,449 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,450 INFO sqlalchemy.engine.Engine [insertmanyvalues 841/1094 (ordered; batch not supported)] (61, 20, '2022-03-22', 9660.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 841/1094 (ordered; batch not supported)] (61, 20, '2022-03-22', 9660.0, 24)

2025-04-27 01:36:27,454 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,456 INFO sqlalchemy.engine.Engine [insertmanyvalues 842/1094 (ordered; batch not supported)] (142, 3, '2022-05-09', 4522.0, 5)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 842/1094 (ordered; batch not supported)] (142, 3, '2022-05-09', 4522.0, 5)

2025-04-27 01:36:27,457 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,460 INFO sqlalchemy.engine.Engine [insertmanyvalues 843/1094 (ordered; batch not supported)] (63, 20, '2022-08-09', 329.0, 109)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 843/1094 (ordered; batch not supported)] (63, 20, '2022-08-09', 329.0, 109)

2025-04-27 01:36:27,461 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,462 INFO sqlalchemy.engine.Engine [insertmanyvalues 844/1094 (ordered; batch not supported)] (131, 19, '2022-07-20', 3458.0, 294)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 844/1094 (ordered; batch not supported)] (131, 19, '2022-07-20', 3458.0, 294)

2025-04-27 01:36:27,463 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,464 INFO sqlalchemy.engine.Engine [insertmanyvalues 845/1094 (ordered; batch not supported)] (136, 22, '2022-04-14', 4641.0, 413)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 845/1094 (ordered; batch not supported)] (136, 22, '2022-04-14', 4641.0, 413)

2025-04-27 01:36:27,465 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,466 INFO sqlalchemy.engine.Engine [insertmanyvalues 846/1094 (ordered; batch not supported)] (143, 15, '2022-01-25', 4627.0, 136)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 846/1094 (ordered; batch not supported)] (143, 15, '2022-01-25', 4627.0, 136)

2025-04-27 01:36:27,467 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,467 INFO sqlalchemy.engine.Engine [insertmanyvalues 847/1094 (ordered; batch not supported)] (63, 17, '2022-04-25', 3192.0, 175)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 847/1094 (ordered; batch not supported)] (63, 17, '2022-04-25', 3192.0, 175)

2025-04-27 01:36:27,468 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,473 INFO sqlalchemy.engine.Engine [insertmanyvalues 848/1094 (ordered; batch not supported)] (138, 6, '2022-01-17', 252.0, 237)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 848/1094 (ordered; batch not supported)] (138, 6, '2022-01-17', 252.0, 237)

2025-04-27 01:36:27,474 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,475 INFO sqlalchemy.engine.Engine [insertmanyvalues 849/1094 (ordered; batch not supported)] (106, 9, '2022-08-15', 868.0, 125)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 849/1094 (ordered; batch not supported)] (106, 9, '2022-08-15', 868.0, 125)

2025-04-27 01:36:27,476 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,477 INFO sqlalchemy.engine.Engine [insertmanyvalues 850/1094 (ordered; batch not supported)] (106, 14, '2022-06-02', 210.0, 16)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 850/1094 (ordered; batch not supported)] (106, 14, '2022-06-02', 210.0, 16)

2025-04-27 01:36:27,478 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,479 INFO sqlalchemy.engine.Engine [insertmanyvalues 851/1094 (ordered; batch not supported)] (135, 2, '2022-06-30', 7007.0, 135)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 851/1094 (ordered; batch not supported)] (135, 2, '2022-06-30', 7007.0, 135)

2025-04-27 01:36:27,480 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,481 INFO sqlalchemy.engine.Engine [insertmanyvalues 852/1094 (ordered; batch not supported)] (138, 18, '2022-02-10', 5845.0, 91)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 852/1094 (ordered; batch not supported)] (138, 18, '2022-02-10', 5845.0, 91)

2025-04-27 01:36:27,485 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,486 INFO sqlalchemy.engine.Engine [insertmanyvalues 853/1094 (ordered; batch not supported)] (120, 21, '2022-02-23', 1372.0, 614)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 853/1094 (ordered; batch not supported)] (120, 21, '2022-02-23', 1372.0, 614)

2025-04-27 01:36:27,488 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,488 INFO sqlalchemy.engine.Engine [insertmanyvalues 854/1094 (ordered; batch not supported)] (122, 11, '2022-01-27', 8428.0, 216)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 854/1094 (ordered; batch not supported)] (122, 11, '2022-01-27', 8428.0, 216)

2025-04-27 01:36:27,490 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,491 INFO sqlalchemy.engine.Engine [insertmanyvalues 855/1094 (ordered; batch not supported)] (146, 1, '2022-05-26', 4977.0, 317)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 855/1094 (ordered; batch not supported)] (146, 1, '2022-05-26', 4977.0, 317)

2025-04-27 01:36:27,491 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,492 INFO sqlalchemy.engine.Engine [insertmanyvalues 856/1094 (ordered; batch not supported)] (136, 22, '2022-04-14', 1694.0, 21)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 856/1094 (ordered; batch not supported)] (136, 22, '2022-04-14', 1694.0, 21)

2025-04-27 01:36:27,493 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,494 INFO sqlalchemy.engine.Engine [insertmanyvalues 857/1094 (ordered; batch not supported)] (131, 5, '2022-08-01', 4326.0, 154)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 857/1094 (ordered; batch not supported)] (131, 5, '2022-08-01', 4326.0, 154)

2025-04-27 01:36:27,495 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,498 INFO sqlalchemy.engine.Engine [insertmanyvalues 858/1094 (ordered; batch not supported)] (137, 9, '2022-08-22', 9527.0, 222)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 858/1094 (ordered; batch not supported)] (137, 9, '2022-08-22', 9527.0, 222)

2025-04-27 01:36:27,499 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,500 INFO sqlalchemy.engine.Engine [insertmanyvalues 859/1094 (ordered; batch not supported)] (120, 5, '2022-07-22', 10766.0, 157)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 859/1094 (ordered; batch not supported)] (120, 5, '2022-07-22', 10766.0, 157)

2025-04-27 01:36:27,501 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,502 INFO sqlalchemy.engine.Engine [insertmanyvalues 860/1094 (ordered; batch not supported)] (142, 14, '2022-04-28', 1288.0, 27)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 860/1094 (ordered; batch not supported)] (142, 14, '2022-04-28', 1288.0, 27)

2025-04-27 01:36:27,503 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,506 INFO sqlalchemy.engine.Engine [insertmanyvalues 861/1094 (ordered; batch not supported)] (77, 17, '2022-05-30', 4879.0, 350)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 861/1094 (ordered; batch not supported)] (77, 17, '2022-05-30', 4879.0, 350)

2025-04-27 01:36:27,507 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,508 INFO sqlalchemy.engine.Engine [insertmanyvalues 862/1094 (ordered; batch not supported)] (124, 12, '2022-07-21', 2408.0, 157)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 862/1094 (ordered; batch not supported)] (124, 12, '2022-07-21', 2408.0, 157)

2025-04-27 01:36:27,509 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,510 INFO sqlalchemy.engine.Engine [insertmanyvalues 863/1094 (ordered; batch not supported)] (148, 21, '2022-08-02', 3094.0, 468)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 863/1094 (ordered; batch not supported)] (148, 21, '2022-08-02', 3094.0, 468)

2025-04-27 01:36:27,511 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,512 INFO sqlalchemy.engine.Engine [insertmanyvalues 864/1094 (ordered; batch not supported)] (136, 22, '2022-06-15', 7231.0, 130)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 864/1094 (ordered; batch not supported)] (136, 22, '2022-06-15', 7231.0, 130)

2025-04-27 01:36:27,513 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,514 INFO sqlalchemy.engine.Engine [insertmanyvalues 865/1094 (ordered; batch not supported)] (147, 2, '2022-07-05', 8981.0, 130)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 865/1094 (ordered; batch not supported)] (147, 2, '2022-07-05', 8981.0, 130)

2025-04-27 01:36:27,518 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,519 INFO sqlalchemy.engine.Engine [insertmanyvalues 866/1094 (ordered; batch not supported)] (133, 4, '2022-04-12', 7.0, 518)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 866/1094 (ordered; batch not supported)] (133, 4, '2022-04-12', 7.0, 518)

2025-04-27 01:36:27,520 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,521 INFO sqlalchemy.engine.Engine [insertmanyvalues 867/1094 (ordered; batch not supported)] (119, 22, '2022-08-18', 1372.0, 105)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 867/1094 (ordered; batch not supported)] (119, 22, '2022-08-18', 1372.0, 105)

2025-04-27 01:36:27,522 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,523 INFO sqlalchemy.engine.Engine [insertmanyvalues 868/1094 (ordered; batch not supported)] (148, 7, '2022-01-12', 5250.0, 293)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 868/1094 (ordered; batch not supported)] (148, 7, '2022-01-12', 5250.0, 293)

2025-04-27 01:36:27,526 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,527 INFO sqlalchemy.engine.Engine [insertmanyvalues 869/1094 (ordered; batch not supported)] (135, 15, '2022-08-11', 7560.0, 15)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 869/1094 (ordered; batch not supported)] (135, 15, '2022-08-11', 7560.0, 15)

2025-04-27 01:36:27,528 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,529 INFO sqlalchemy.engine.Engine [insertmanyvalues 870/1094 (ordered; batch not supported)] (143, 13, '2022-01-13', 5012.0, 384)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 870/1094 (ordered; batch not supported)] (143, 13, '2022-01-13', 5012.0, 384)

2025-04-27 01:36:27,530 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,531 INFO sqlalchemy.engine.Engine [insertmanyvalues 871/1094 (ordered; batch not supported)] (142, 20, '2022-04-29', 3038.0, 135)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 871/1094 (ordered; batch not supported)] (142, 20, '2022-04-29', 3038.0, 135)

2025-04-27 01:36:27,532 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,533 INFO sqlalchemy.engine.Engine [insertmanyvalues 872/1094 (ordered; batch not supported)] (140, 6, '2022-07-07', 1099.0, 92)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 872/1094 (ordered; batch not supported)] (140, 6, '2022-07-07', 1099.0, 92)

2025-04-27 01:36:27,534 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,535 INFO sqlalchemy.engine.Engine [insertmanyvalues 873/1094 (ordered; batch not supported)] (131, 1, '2022-03-11', 7413.0, 4)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 873/1094 (ordered; batch not supported)] (131, 1, '2022-03-11', 7413.0, 4)

2025-04-27 01:36:27,536 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,536 INFO sqlalchemy.engine.Engine [insertmanyvalues 874/1094 (ordered; batch not supported)] (131, 22, '2022-02-16', 5397.0, 239)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 874/1094 (ordered; batch not supported)] (131, 22, '2022-02-16', 5397.0, 239)

2025-04-27 01:36:27,537 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,538 INFO sqlalchemy.engine.Engine [insertmanyvalues 875/1094 (ordered; batch not supported)] (102, 11, '2022-01-07', 2303.0, 33)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 875/1094 (ordered; batch not supported)] (102, 11, '2022-01-07', 2303.0, 33)

2025-04-27 01:36:27,539 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,540 INFO sqlalchemy.engine.Engine [insertmanyvalues 876/1094 (ordered; batch not supported)] (107, 10, '2022-01-12', 1141.0, 518)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 876/1094 (ordered; batch not supported)] (107, 10, '2022-01-12', 1141.0, 518)

2025-04-27 01:36:27,541 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,542 INFO sqlalchemy.engine.Engine [insertmanyvalues 877/1094 (ordered; batch not supported)] (107, 9, '2022-06-09', 10325.0, 147)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 877/1094 (ordered; batch not supported)] (107, 9, '2022-06-09', 10325.0, 147)

2025-04-27 01:36:27,543 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,544 INFO sqlalchemy.engine.Engine [insertmanyvalues 878/1094 (ordered; batch not supported)] (63, 9, '2022-05-16', 2149.0, 84)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 878/1094 (ordered; batch not supported)] (63, 9, '2022-05-16', 2149.0, 84)

2025-04-27 01:36:27,545 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,546 INFO sqlalchemy.engine.Engine [insertmanyvalues 879/1094 (ordered; batch not supported)] (119, 2, '2022-06-23', 12362.0, 94)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 879/1094 (ordered; batch not supported)] (119, 2, '2022-06-23', 12362.0, 94)

2025-04-27 01:36:27,547 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,548 INFO sqlalchemy.engine.Engine [insertmanyvalues 880/1094 (ordered; batch not supported)] (144, 18, '2022-01-28', 12635.0, 194)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 880/1094 (ordered; batch not supported)] (144, 18, '2022-01-28', 12635.0, 194)

2025-04-27 01:36:27,549 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,550 INFO sqlalchemy.engine.Engine [insertmanyvalues 881/1094 (ordered; batch not supported)] (138, 1, '2022-07-14', 2443.0, 216)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 881/1094 (ordered; batch not supported)] (138, 1, '2022-07-14', 2443.0, 216)

2025-04-27 01:36:27,550 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,551 INFO sqlalchemy.engine.Engine [insertmanyvalues 882/1094 (ordered; batch not supported)] (102, 10, '2022-04-18', 6237.0, 247)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 882/1094 (ordered; batch not supported)] (102, 10, '2022-04-18', 6237.0, 247)

2025-04-27 01:36:27,552 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,553 INFO sqlalchemy.engine.Engine [insertmanyvalues 883/1094 (ordered; batch not supported)] (147, 12, '2022-06-14', 1736.0, 79)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 883/1094 (ordered; batch not supported)] (147, 12, '2022-06-14', 1736.0, 79)

2025-04-27 01:36:27,554 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,555 INFO sqlalchemy.engine.Engine [insertmanyvalues 884/1094 (ordered; batch not supported)] (147, 8, '2022-04-15', 7315.0, 237)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 884/1094 (ordered; batch not supported)] (147, 8, '2022-04-15', 7315.0, 237)

2025-04-27 01:36:27,556 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,557 INFO sqlalchemy.engine.Engine [insertmanyvalues 885/1094 (ordered; batch not supported)] (141, 3, '2022-05-19', 4935.0, 63)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 885/1094 (ordered; batch not supported)] (141, 3, '2022-05-19', 4935.0, 63)

2025-04-27 01:36:27,558 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,558 INFO sqlalchemy.engine.Engine [insertmanyvalues 886/1094 (ordered; batch not supported)] (119, 15, '2022-04-13', 1393.0, 172)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 886/1094 (ordered; batch not supported)] (119, 15, '2022-04-13', 1393.0, 172)

2025-04-27 01:36:27,559 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,560 INFO sqlalchemy.engine.Engine [insertmanyvalues 887/1094 (ordered; batch not supported)] (142, 19, '2022-08-15', 3381.0, 408)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 887/1094 (ordered; batch not supported)] (142, 19, '2022-08-15', 3381.0, 408)

2025-04-27 01:36:27,561 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,562 INFO sqlalchemy.engine.Engine [insertmanyvalues 888/1094 (ordered; batch not supported)] (150, 19, '2022-08-22', 2933.0, 233)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 888/1094 (ordered; batch not supported)] (150, 19, '2022-08-22', 2933.0, 233)

2025-04-27 01:36:27,563 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,563 INFO sqlalchemy.engine.Engine [insertmanyvalues 889/1094 (ordered; batch not supported)] (150, 20, '2022-04-22', 3836.0, 59)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 889/1094 (ordered; batch not supported)] (150, 20, '2022-04-22', 3836.0, 59)

2025-04-27 01:36:27,564 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,565 INFO sqlalchemy.engine.Engine [insertmanyvalues 890/1094 (ordered; batch not supported)] (133, 19, '2022-08-03', 8022.0, 123)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 890/1094 (ordered; batch not supported)] (133, 19, '2022-08-03', 8022.0, 123)

2025-04-27 01:36:27,566 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,572 INFO sqlalchemy.engine.Engine [insertmanyvalues 891/1094 (ordered; batch not supported)] (122, 11, '2022-01-04', 371.0, 229)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 891/1094 (ordered; batch not supported)] (122, 11, '2022-01-04', 371.0, 229)

2025-04-27 01:36:27,573 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,574 INFO sqlalchemy.engine.Engine [insertmanyvalues 892/1094 (ordered; batch not supported)] (77, 6, '2022-01-13', 16702.0, 198)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 892/1094 (ordered; batch not supported)] (77, 6, '2022-01-13', 16702.0, 198)

2025-04-27 01:36:27,575 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,576 INFO sqlalchemy.engine.Engine [insertmanyvalues 893/1094 (ordered; batch not supported)] (61, 20, '2022-05-11', 13258.0, 32)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 893/1094 (ordered; batch not supported)] (61, 20, '2022-05-11', 13258.0, 32)

2025-04-27 01:36:27,577 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,578 INFO sqlalchemy.engine.Engine [insertmanyvalues 894/1094 (ordered; batch not supported)] (142, 3, '2022-02-16', 2058.0, 236)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 894/1094 (ordered; batch not supported)] (142, 3, '2022-02-16', 2058.0, 236)

2025-04-27 01:36:27,579 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,580 INFO sqlalchemy.engine.Engine [insertmanyvalues 895/1094 (ordered; batch not supported)] (133, 21, '2022-05-20', 10192.0, 67)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 895/1094 (ordered; batch not supported)] (133, 21, '2022-05-20', 10192.0, 67)

2025-04-27 01:36:27,584 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,585 INFO sqlalchemy.engine.Engine [insertmanyvalues 896/1094 (ordered; batch not supported)] (143, 10, '2022-02-03', 7140.0, 438)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 896/1094 (ordered; batch not supported)] (143, 10, '2022-02-03', 7140.0, 438)

2025-04-27 01:36:27,586 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,587 INFO sqlalchemy.engine.Engine [insertmanyvalues 897/1094 (ordered; batch not supported)] (107, 16, '2022-05-06', 9835.0, 167)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 897/1094 (ordered; batch not supported)] (107, 16, '2022-05-06', 9835.0, 167)

2025-04-27 01:36:27,588 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,589 INFO sqlalchemy.engine.Engine [insertmanyvalues 898/1094 (ordered; batch not supported)] (135, 19, '2022-06-30', 5775.0, 135)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 898/1094 (ordered; batch not supported)] (135, 19, '2022-06-30', 5775.0, 135)

2025-04-27 01:36:27,590 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,591 INFO sqlalchemy.engine.Engine [insertmanyvalues 899/1094 (ordered; batch not supported)] (135, 4, '2022-03-22', 749.0, 148)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 899/1094 (ordered; batch not supported)] (135, 4, '2022-03-22', 749.0, 148)

2025-04-27 01:36:27,596 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,597 INFO sqlalchemy.engine.Engine [insertmanyvalues 900/1094 (ordered; batch not supported)] (146, 8, '2022-02-17', 7770.0, 54)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 900/1094 (ordered; batch not supported)] (146, 8, '2022-02-17', 7770.0, 54)

2025-04-27 01:36:27,598 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,599 INFO sqlalchemy.engine.Engine [insertmanyvalues 901/1094 (ordered; batch not supported)] (143, 2, '2022-07-07', 5502.0, 64)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 901/1094 (ordered; batch not supported)] (143, 2, '2022-07-07', 5502.0, 64)

2025-04-27 01:36:27,600 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,600 INFO sqlalchemy.engine.Engine [insertmanyvalues 902/1094 (ordered; batch not supported)] (147, 22, '2022-03-16', 6223.0, 181)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 902/1094 (ordered; batch not supported)] (147, 22, '2022-03-16', 6223.0, 181)

2025-04-27 01:36:27,601 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,602 INFO sqlalchemy.engine.Engine [insertmanyvalues 903/1094 (ordered; batch not supported)] (77, 5, '2022-08-12', 3507.0, 114)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 903/1094 (ordered; batch not supported)] (77, 5, '2022-08-12', 3507.0, 114)

2025-04-27 01:36:27,603 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,604 INFO sqlalchemy.engine.Engine [insertmanyvalues 904/1094 (ordered; batch not supported)] (119, 6, '2022-01-21', 5600.0, 181)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 904/1094 (ordered; batch not supported)] (119, 6, '2022-01-21', 5600.0, 181)

2025-04-27 01:36:27,605 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,606 INFO sqlalchemy.engine.Engine [insertmanyvalues 905/1094 (ordered; batch not supported)] (147, 7, '2022-05-06', 721.0, 151)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 905/1094 (ordered; batch not supported)] (147, 7, '2022-05-06', 721.0, 151)

2025-04-27 01:36:27,607 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,608 INFO sqlalchemy.engine.Engine [insertmanyvalues 906/1094 (ordered; batch not supported)] (147, 7, '2022-06-24', 6615.0, 137)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 906/1094 (ordered; batch not supported)] (147, 7, '2022-06-24', 6615.0, 137)

2025-04-27 01:36:27,609 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,609 INFO sqlalchemy.engine.Engine [insertmanyvalues 907/1094 (ordered; batch not supported)] (102, 15, '2022-05-05', 7420.0, 163)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 907/1094 (ordered; batch not supported)] (102, 15, '2022-05-05', 7420.0, 163)

2025-04-27 01:36:27,610 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,611 INFO sqlalchemy.engine.Engine [insertmanyvalues 908/1094 (ordered; batch not supported)] (140, 5, '2022-03-25', 3164.0, 84)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 908/1094 (ordered; batch not supported)] (140, 5, '2022-03-25', 3164.0, 84)

2025-04-27 01:36:27,612 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,613 INFO sqlalchemy.engine.Engine [insertmanyvalues 909/1094 (ordered; batch not supported)] (141, 21, '2022-02-14', 9114.0, 140)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 909/1094 (ordered; batch not supported)] (141, 21, '2022-02-14', 9114.0, 140)

2025-04-27 01:36:27,614 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,615 INFO sqlalchemy.engine.Engine [insertmanyvalues 910/1094 (ordered; batch not supported)] (141, 2, '2022-05-12', 5404.0, 187)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 910/1094 (ordered; batch not supported)] (141, 2, '2022-05-12', 5404.0, 187)

2025-04-27 01:36:27,616 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,617 INFO sqlalchemy.engine.Engine [insertmanyvalues 911/1094 (ordered; batch not supported)] (102, 4, '2022-01-25', 3990.0, 169)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 911/1094 (ordered; batch not supported)] (102, 4, '2022-01-25', 3990.0, 169)

2025-04-27 01:36:27,618 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,619 INFO sqlalchemy.engine.Engine [insertmanyvalues 912/1094 (ordered; batch not supported)] (124, 2, '2022-06-28', 14924.0, 12)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 912/1094 (ordered; batch not supported)] (124, 2, '2022-06-28', 14924.0, 12)

2025-04-27 01:36:27,620 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,624 INFO sqlalchemy.engine.Engine [insertmanyvalues 913/1094 (ordered; batch not supported)] (122, 10, '2022-07-13', 7091.0, 194)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 913/1094 (ordered; batch not supported)] (122, 10, '2022-07-13', 7091.0, 194)

2025-04-27 01:36:27,625 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,626 INFO sqlalchemy.engine.Engine [insertmanyvalues 914/1094 (ordered; batch not supported)] (144, 12, '2022-05-16', 2807.0, 252)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 914/1094 (ordered; batch not supported)] (144, 12, '2022-05-16', 2807.0, 252)

2025-04-27 01:36:27,627 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,628 INFO sqlalchemy.engine.Engine [insertmanyvalues 915/1094 (ordered; batch not supported)] (148, 6, '2022-03-14', 6496.0, 168)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 915/1094 (ordered; batch not supported)] (148, 6, '2022-03-14', 6496.0, 168)

2025-04-27 01:36:27,629 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,631 INFO sqlalchemy.engine.Engine [insertmanyvalues 916/1094 (ordered; batch not supported)] (135, 6, '2022-08-15', 3738.0, 261)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 916/1094 (ordered; batch not supported)] (135, 6, '2022-08-15', 3738.0, 261)

2025-04-27 01:36:27,632 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,633 INFO sqlalchemy.engine.Engine [insertmanyvalues 917/1094 (ordered; batch not supported)] (124, 8, '2022-02-16', 1190.0, 256)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 917/1094 (ordered; batch not supported)] (124, 8, '2022-02-16', 1190.0, 256)

2025-04-27 01:36:27,634 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,635 INFO sqlalchemy.engine.Engine [insertmanyvalues 918/1094 (ordered; batch not supported)] (137, 16, '2022-06-15', 8379.0, 43)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 918/1094 (ordered; batch not supported)] (137, 16, '2022-06-15', 8379.0, 43)

2025-04-27 01:36:27,636 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,638 INFO sqlalchemy.engine.Engine [insertmanyvalues 919/1094 (ordered; batch not supported)] (102, 18, '2022-05-27', 9268.0, 100)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 919/1094 (ordered; batch not supported)] (102, 18, '2022-05-27', 9268.0, 100)

2025-04-27 01:36:27,639 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,642 INFO sqlalchemy.engine.Engine [insertmanyvalues 920/1094 (ordered; batch not supported)] (150, 10, '2022-06-14', 1029.0, 98)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 920/1094 (ordered; batch not supported)] (150, 10, '2022-06-14', 1029.0, 98)

2025-04-27 01:36:27,643 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,644 INFO sqlalchemy.engine.Engine [insertmanyvalues 921/1094 (ordered; batch not supported)] (150, 9, '2022-02-25', 3549.0, 76)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 921/1094 (ordered; batch not supported)] (150, 9, '2022-02-25', 3549.0, 76)

2025-04-27 01:36:27,645 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,646 INFO sqlalchemy.engine.Engine [insertmanyvalues 922/1094 (ordered; batch not supported)] (150, 6, '2022-08-04', 12026.0, 262)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 922/1094 (ordered; batch not supported)] (150, 6, '2022-08-04', 12026.0, 262)

2025-04-27 01:36:27,647 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,648 INFO sqlalchemy.engine.Engine [insertmanyvalues 923/1094 (ordered; batch not supported)] (77, 5, '2022-06-28', 2303.0, 244)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 923/1094 (ordered; batch not supported)] (77, 5, '2022-06-28', 2303.0, 244)

2025-04-27 01:36:27,651 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,652 INFO sqlalchemy.engine.Engine [insertmanyvalues 924/1094 (ordered; batch not supported)] (135, 13, '2022-04-05', 13405.0, 12)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 924/1094 (ordered; batch not supported)] (135, 13, '2022-04-05', 13405.0, 12)

2025-04-27 01:36:27,653 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,653 INFO sqlalchemy.engine.Engine [insertmanyvalues 925/1094 (ordered; batch not supported)] (131, 3, '2022-07-05', 14763.0, 113)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 925/1094 (ordered; batch not supported)] (131, 3, '2022-07-05', 14763.0, 113)

2025-04-27 01:36:27,655 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,655 INFO sqlalchemy.engine.Engine [insertmanyvalues 926/1094 (ordered; batch not supported)] (133, 9, '2022-01-20', 12894.0, 48)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 926/1094 (ordered; batch not supported)] (133, 9, '2022-01-20', 12894.0, 48)

2025-04-27 01:36:27,656 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,657 INFO sqlalchemy.engine.Engine [insertmanyvalues 927/1094 (ordered; batch not supported)] (124, 10, '2022-02-16', 8302.0, 131)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 927/1094 (ordered; batch not supported)] (124, 10, '2022-02-16', 8302.0, 131)

2025-04-27 01:36:27,658 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,659 INFO sqlalchemy.engine.Engine [insertmanyvalues 928/1094 (ordered; batch not supported)] (141, 10, '2022-07-12', 455.0, 174)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 928/1094 (ordered; batch not supported)] (141, 10, '2022-07-12', 455.0, 174)

2025-04-27 01:36:27,660 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,661 INFO sqlalchemy.engine.Engine [insertmanyvalues 929/1094 (ordered; batch not supported)] (77, 18, '2022-06-16', 8183.0, 254)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 929/1094 (ordered; batch not supported)] (77, 18, '2022-06-16', 8183.0, 254)

2025-04-27 01:36:27,662 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,663 INFO sqlalchemy.engine.Engine [insertmanyvalues 930/1094 (ordered; batch not supported)] (138, 19, '2022-04-13', 1645.0, 284)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 930/1094 (ordered; batch not supported)] (138, 19, '2022-04-13', 1645.0, 284)

2025-04-27 01:36:27,664 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,665 INFO sqlalchemy.engine.Engine [insertmanyvalues 931/1094 (ordered; batch not supported)] (133, 7, '2022-02-21', 3143.0, 67)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 931/1094 (ordered; batch not supported)] (133, 7, '2022-02-21', 3143.0, 67)

2025-04-27 01:36:27,666 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,666 INFO sqlalchemy.engine.Engine [insertmanyvalues 932/1094 (ordered; batch not supported)] (144, 19, '2022-05-11', 5873.0, 249)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 932/1094 (ordered; batch not supported)] (144, 19, '2022-05-11', 5873.0, 249)

2025-04-27 01:36:27,667 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,668 INFO sqlalchemy.engine.Engine [insertmanyvalues 933/1094 (ordered; batch not supported)] (124, 7, '2022-04-15', 11298.0, 313)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 933/1094 (ordered; batch not supported)] (124, 7, '2022-04-15', 11298.0, 313)

2025-04-27 01:36:27,669 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,670 INFO sqlalchemy.engine.Engine [insertmanyvalues 934/1094 (ordered; batch not supported)] (147, 3, '2022-06-07', 12425.0, 167)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 934/1094 (ordered; batch not supported)] (147, 3, '2022-06-07', 12425.0, 167)

2025-04-27 01:36:27,671 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,672 INFO sqlalchemy.engine.Engine [insertmanyvalues 935/1094 (ordered; batch not supported)] (147, 15, '2022-06-27', 1715.0, 286)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 935/1094 (ordered; batch not supported)] (147, 15, '2022-06-27', 1715.0, 286)

2025-04-27 01:36:27,676 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,677 INFO sqlalchemy.engine.Engine [insertmanyvalues 936/1094 (ordered; batch not supported)] (102, 6, '2022-07-29', 8190.0, 109)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 936/1094 (ordered; batch not supported)] (102, 6, '2022-07-29', 8190.0, 109)

2025-04-27 01:36:27,678 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,679 INFO sqlalchemy.engine.Engine [insertmanyvalues 937/1094 (ordered; batch not supported)] (150, 4, '2022-06-02', 4991.0, 166)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 937/1094 (ordered; batch not supported)] (150, 4, '2022-06-02', 4991.0, 166)

2025-04-27 01:36:27,680 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,681 INFO sqlalchemy.engine.Engine [insertmanyvalues 938/1094 (ordered; batch not supported)] (140, 1, '2022-01-26', 15491.0, 85)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 938/1094 (ordered; batch not supported)] (140, 1, '2022-01-26', 15491.0, 85)

2025-04-27 01:36:27,682 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,683 INFO sqlalchemy.engine.Engine [insertmanyvalues 939/1094 (ordered; batch not supported)] (140, 5, '2022-03-02', 5096.0, 142)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 939/1094 (ordered; batch not supported)] (140, 5, '2022-03-02', 5096.0, 142)

2025-04-27 01:36:27,686 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,687 INFO sqlalchemy.engine.Engine [insertmanyvalues 940/1094 (ordered; batch not supported)] (61, 22, '2022-01-10', 7063.0, 104)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 940/1094 (ordered; batch not supported)] (61, 22, '2022-01-10', 7063.0, 104)

2025-04-27 01:36:27,688 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,689 INFO sqlalchemy.engine.Engine [insertmanyvalues 941/1094 (ordered; batch not supported)] (107, 22, '2022-06-27', 2275.0, 115)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 941/1094 (ordered; batch not supported)] (107, 22, '2022-06-27', 2275.0, 115)

2025-04-27 01:36:27,690 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,691 INFO sqlalchemy.engine.Engine [insertmanyvalues 942/1094 (ordered; batch not supported)] (102, 8, '2022-06-30', 7602.0, 18)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 942/1094 (ordered; batch not supported)] (102, 8, '2022-06-30', 7602.0, 18)

2025-04-27 01:36:27,691 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,692 INFO sqlalchemy.engine.Engine [insertmanyvalues 943/1094 (ordered; batch not supported)] (144, 2, '2022-07-08', 4200.0, 80)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 943/1094 (ordered; batch not supported)] (144, 2, '2022-07-08', 4200.0, 80)

2025-04-27 01:36:27,693 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,695 INFO sqlalchemy.engine.Engine [insertmanyvalues 944/1094 (ordered; batch not supported)] (147, 13, '2022-06-08', 11137.0, 88)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 944/1094 (ordered; batch not supported)] (147, 13, '2022-06-08', 11137.0, 88)

2025-04-27 01:36:27,696 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,697 INFO sqlalchemy.engine.Engine [insertmanyvalues 945/1094 (ordered; batch not supported)] (148, 16, '2022-08-18', 3388.0, 212)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 945/1094 (ordered; batch not supported)] (148, 16, '2022-08-18', 3388.0, 212)

2025-04-27 01:36:27,697 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,698 INFO sqlalchemy.engine.Engine [insertmanyvalues 946/1094 (ordered; batch not supported)] (133, 6, '2022-04-08', 6832.0, 306)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 946/1094 (ordered; batch not supported)] (133, 6, '2022-04-08', 6832.0, 306)

2025-04-27 01:36:27,699 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,700 INFO sqlalchemy.engine.Engine [insertmanyvalues 947/1094 (ordered; batch not supported)] (150, 14, '2022-08-08', 3437.0, 181)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 947/1094 (ordered; batch not supported)] (150, 14, '2022-08-08', 3437.0, 181)

2025-04-27 01:36:27,701 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,702 INFO sqlalchemy.engine.Engine [insertmanyvalues 948/1094 (ordered; batch not supported)] (150, 12, '2022-08-26', 301.0, 65)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 948/1094 (ordered; batch not supported)] (150, 12, '2022-08-26', 301.0, 65)

2025-04-27 01:36:27,703 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,703 INFO sqlalchemy.engine.Engine [insertmanyvalues 949/1094 (ordered; batch not supported)] (147, 14, '2022-01-14', 1869.0, 158)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 949/1094 (ordered; batch not supported)] (147, 14, '2022-01-14', 1869.0, 158)

2025-04-27 01:36:27,704 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,705 INFO sqlalchemy.engine.Engine [insertmanyvalues 950/1094 (ordered; batch not supported)] (122, 20, '2022-08-11', 17465.0, 271)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 950/1094 (ordered; batch not supported)] (122, 20, '2022-08-11', 17465.0, 271)

2025-04-27 01:36:27,706 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,707 INFO sqlalchemy.engine.Engine [insertmanyvalues 951/1094 (ordered; batch not supported)] (131, 17, '2022-05-31', 10143.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 951/1094 (ordered; batch not supported)] (131, 17, '2022-05-31', 10143.0, 24)

2025-04-27 01:36:27,708 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,709 INFO sqlalchemy.engine.Engine [insertmanyvalues 952/1094 (ordered; batch not supported)] (61, 7, '2022-07-11', 3626.0, 10)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 952/1094 (ordered; batch not supported)] (61, 7, '2022-07-11', 3626.0, 10)

2025-04-27 01:36:27,710 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,711 INFO sqlalchemy.engine.Engine [insertmanyvalues 953/1094 (ordered; batch not supported)] (106, 21, '2022-03-02', 3346.0, 304)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 953/1094 (ordered; batch not supported)] (106, 21, '2022-03-02', 3346.0, 304)

2025-04-27 01:36:27,712 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,713 INFO sqlalchemy.engine.Engine [insertmanyvalues 954/1094 (ordered; batch not supported)] (131, 18, '2022-07-13', 6321.0, 88)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 954/1094 (ordered; batch not supported)] (131, 18, '2022-07-13', 6321.0, 88)

2025-04-27 01:36:27,713 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,714 INFO sqlalchemy.engine.Engine [insertmanyvalues 955/1094 (ordered; batch not supported)] (140, 13, '2022-08-03', 9345.0, 133)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 955/1094 (ordered; batch not supported)] (140, 13, '2022-08-03', 9345.0, 133)

2025-04-27 01:36:27,715 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,716 INFO sqlalchemy.engine.Engine [insertmanyvalues 956/1094 (ordered; batch not supported)] (141, 3, '2022-03-01', 15008.0, 165)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 956/1094 (ordered; batch not supported)] (141, 3, '2022-03-01', 15008.0, 165)

2025-04-27 01:36:27,717 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,718 INFO sqlalchemy.engine.Engine [insertmanyvalues 957/1094 (ordered; batch not supported)] (77, 15, '2022-04-13', 7609.0, 150)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 957/1094 (ordered; batch not supported)] (77, 15, '2022-04-13', 7609.0, 150)

2025-04-27 01:36:27,723 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,724 INFO sqlalchemy.engine.Engine [insertmanyvalues 958/1094 (ordered; batch not supported)] (107, 14, '2022-02-14', 10332.0, 180)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 958/1094 (ordered; batch not supported)] (107, 14, '2022-02-14', 10332.0, 180)

2025-04-27 01:36:27,725 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,726 INFO sqlalchemy.engine.Engine [insertmanyvalues 959/1094 (ordered; batch not supported)] (137, 15, '2022-07-26', 819.0, 213)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 959/1094 (ordered; batch not supported)] (137, 15, '2022-07-26', 819.0, 213)

2025-04-27 01:36:27,727 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,728 INFO sqlalchemy.engine.Engine [insertmanyvalues 960/1094 (ordered; batch not supported)] (136, 10, '2022-01-27', 5754.0, 133)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 960/1094 (ordered; batch not supported)] (136, 10, '2022-01-27', 5754.0, 133)

2025-04-27 01:36:27,728 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,729 INFO sqlalchemy.engine.Engine [insertmanyvalues 961/1094 (ordered; batch not supported)] (143, 3, '2022-04-14', 28.0, 446)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 961/1094 (ordered; batch not supported)] (143, 3, '2022-04-14', 28.0, 446)

2025-04-27 01:36:27,730 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,735 INFO sqlalchemy.engine.Engine [insertmanyvalues 962/1094 (ordered; batch not supported)] (147, 17, '2022-05-19', 6440.0, 141)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 962/1094 (ordered; batch not supported)] (147, 17, '2022-05-19', 6440.0, 141)

2025-04-27 01:36:27,736 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,737 INFO sqlalchemy.engine.Engine [insertmanyvalues 963/1094 (ordered; batch not supported)] (142, 9, '2022-02-09', 4956.0, 58)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 963/1094 (ordered; batch not supported)] (142, 9, '2022-02-09', 4956.0, 58)

2025-04-27 01:36:27,738 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,739 INFO sqlalchemy.engine.Engine [insertmanyvalues 964/1094 (ordered; batch not supported)] (136, 13, '2022-05-25', 2352.0, 58)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 964/1094 (ordered; batch not supported)] (136, 13, '2022-05-25', 2352.0, 58)

2025-04-27 01:36:27,740 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,741 INFO sqlalchemy.engine.Engine [insertmanyvalues 965/1094 (ordered; batch not supported)] (147, 16, '2022-01-26', 3906.0, 76)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 965/1094 (ordered; batch not supported)] (147, 16, '2022-01-26', 3906.0, 76)

2025-04-27 01:36:27,742 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,742 INFO sqlalchemy.engine.Engine [insertmanyvalues 966/1094 (ordered; batch not supported)] (107, 15, '2022-07-04', 1813.0, 296)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 966/1094 (ordered; batch not supported)] (107, 15, '2022-07-04', 1813.0, 296)

2025-04-27 01:36:27,746 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,748 INFO sqlalchemy.engine.Engine [insertmanyvalues 967/1094 (ordered; batch not supported)] (124, 17, '2022-04-13', 11788.0, 73)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 967/1094 (ordered; batch not supported)] (124, 17, '2022-04-13', 11788.0, 73)

2025-04-27 01:36:27,749 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,750 INFO sqlalchemy.engine.Engine [insertmanyvalues 968/1094 (ordered; batch not supported)] (119, 4, '2022-01-25', 5768.0, 119)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 968/1094 (ordered; batch not supported)] (119, 4, '2022-01-25', 5768.0, 119)

2025-04-27 01:36:27,751 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,752 INFO sqlalchemy.engine.Engine [insertmanyvalues 969/1094 (ordered; batch not supported)] (146, 2, '2022-04-25', 2401.0, 78)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 969/1094 (ordered; batch not supported)] (146, 2, '2022-04-25', 2401.0, 78)

2025-04-27 01:36:27,753 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,754 INFO sqlalchemy.engine.Engine [insertmanyvalues 970/1094 (ordered; batch not supported)] (146, 9, '2022-06-10', 4515.0, 392)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 970/1094 (ordered; batch not supported)] (146, 9, '2022-06-10', 4515.0, 392)

2025-04-27 01:36:27,755 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,755 INFO sqlalchemy.engine.Engine [insertmanyvalues 971/1094 (ordered; batch not supported)] (131, 15, '2022-08-22', 10794.0, 51)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 971/1094 (ordered; batch not supported)] (131, 15, '2022-08-22', 10794.0, 51)

2025-04-27 01:36:27,756 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,757 INFO sqlalchemy.engine.Engine [insertmanyvalues 972/1094 (ordered; batch not supported)] (61, 6, '2022-06-27', 13706.0, 207)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 972/1094 (ordered; batch not supported)] (61, 6, '2022-06-27', 13706.0, 207)

2025-04-27 01:36:27,758 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,759 INFO sqlalchemy.engine.Engine [insertmanyvalues 973/1094 (ordered; batch not supported)] (142, 8, '2022-06-30', 4361.0, 40)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 973/1094 (ordered; batch not supported)] (142, 8, '2022-06-30', 4361.0, 40)

2025-04-27 01:36:27,760 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,760 INFO sqlalchemy.engine.Engine [insertmanyvalues 974/1094 (ordered; batch not supported)] (143, 17, '2022-08-30', 10122.0, 100)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 974/1094 (ordered; batch not supported)] (143, 17, '2022-08-30', 10122.0, 100)

2025-04-27 01:36:27,761 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,762 INFO sqlalchemy.engine.Engine [insertmanyvalues 975/1094 (ordered; batch not supported)] (106, 18, '2022-08-23', 994.0, 57)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 975/1094 (ordered; batch not supported)] (106, 18, '2022-08-23', 994.0, 57)

2025-04-27 01:36:27,763 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,764 INFO sqlalchemy.engine.Engine [insertmanyvalues 976/1094 (ordered; batch not supported)] (146, 5, '2022-08-26', 2268.0, 42)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 976/1094 (ordered; batch not supported)] (146, 5, '2022-08-26', 2268.0, 42)

2025-04-27 01:36:27,765 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,766 INFO sqlalchemy.engine.Engine [insertmanyvalues 977/1094 (ordered; batch not supported)] (119, 8, '2022-03-09', 574.0, 156)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 977/1094 (ordered; batch not supported)] (119, 8, '2022-03-09', 574.0, 156)

2025-04-27 01:36:27,767 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,768 INFO sqlalchemy.engine.Engine [insertmanyvalues 978/1094 (ordered; batch not supported)] (77, 10, '2022-04-20', 1792.0, 23)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 978/1094 (ordered; batch not supported)] (77, 10, '2022-04-20', 1792.0, 23)

2025-04-27 01:36:27,768 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,769 INFO sqlalchemy.engine.Engine [insertmanyvalues 979/1094 (ordered; batch not supported)] (137, 21, '2022-06-10', 4844.0, 539)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 979/1094 (ordered; batch not supported)] (137, 21, '2022-06-10', 4844.0, 539)

2025-04-27 01:36:27,770 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,771 INFO sqlalchemy.engine.Engine [insertmanyvalues 980/1094 (ordered; batch not supported)] (142, 11, '2022-02-08', 938.0, 158)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 980/1094 (ordered; batch not supported)] (142, 11, '2022-02-08', 938.0, 158)

2025-04-27 01:36:27,772 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,773 INFO sqlalchemy.engine.Engine [insertmanyvalues 981/1094 (ordered; batch not supported)] (136, 15, '2022-08-25', 4879.0, 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 981/1094 (ordered; batch not supported)] (136, 15, '2022-08-25', 4879.0, 22)

2025-04-27 01:36:27,773 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,774 INFO sqlalchemy.engine.Engine [insertmanyvalues 982/1094 (ordered; batch not supported)] (138, 3, '2022-02-16', 9107.0, 73)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 982/1094 (ordered; batch not supported)] (138, 3, '2022-02-16', 9107.0, 73)

2025-04-27 01:36:27,775 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,776 INFO sqlalchemy.engine.Engine [insertmanyvalues 983/1094 (ordered; batch not supported)] (122, 5, '2022-05-30', 12187.0, 27)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 983/1094 (ordered; batch not supported)] (122, 5, '2022-05-30', 12187.0, 27)

2025-04-27 01:36:27,777 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,778 INFO sqlalchemy.engine.Engine [insertmanyvalues 984/1094 (ordered; batch not supported)] (119, 7, '2022-06-29', 5670.0, 64)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 984/1094 (ordered; batch not supported)] (119, 7, '2022-06-29', 5670.0, 64)

2025-04-27 01:36:27,779 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,780 INFO sqlalchemy.engine.Engine [insertmanyvalues 985/1094 (ordered; batch not supported)] (119, 12, '2022-06-16', 476.0, 133)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 985/1094 (ordered; batch not supported)] (119, 12, '2022-06-16', 476.0, 133)

2025-04-27 01:36:27,781 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,784 INFO sqlalchemy.engine.Engine [insertmanyvalues 986/1094 (ordered; batch not supported)] (136, 21, '2022-03-04', 2681.0, 149)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 986/1094 (ordered; batch not supported)] (136, 21, '2022-03-04', 2681.0, 149)

2025-04-27 01:36:27,785 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,786 INFO sqlalchemy.engine.Engine [insertmanyvalues 987/1094 (ordered; batch not supported)] (141, 3, '2022-03-15', 1533.0, 434)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 987/1094 (ordered; batch not supported)] (141, 3, '2022-03-15', 1533.0, 434)

2025-04-27 01:36:27,786 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,787 INFO sqlalchemy.engine.Engine [insertmanyvalues 988/1094 (ordered; batch not supported)] (141, 7, '2022-01-27', 9765.0, 85)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 988/1094 (ordered; batch not supported)] (141, 7, '2022-01-27', 9765.0, 85)

2025-04-27 01:36:27,788 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,789 INFO sqlalchemy.engine.Engine [insertmanyvalues 989/1094 (ordered; batch not supported)] (107, 10, '2022-07-05', 994.0, 118)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 989/1094 (ordered; batch not supported)] (107, 10, '2022-07-05', 994.0, 118)

2025-04-27 01:36:27,790 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,791 INFO sqlalchemy.engine.Engine [insertmanyvalues 990/1094 (ordered; batch not supported)] (102, 21, '2022-03-29', 3318.0, 299)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 990/1094 (ordered; batch not supported)] (102, 21, '2022-03-29', 3318.0, 299)

2025-04-27 01:36:27,794 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,795 INFO sqlalchemy.engine.Engine [insertmanyvalues 991/1094 (ordered; batch not supported)] (137, 17, '2022-05-12', 4214.0, 35)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 991/1094 (ordered; batch not supported)] (137, 17, '2022-05-12', 4214.0, 35)

2025-04-27 01:36:27,796 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,797 INFO sqlalchemy.engine.Engine [insertmanyvalues 992/1094 (ordered; batch not supported)] (147, 10, '2022-03-11', 7714.0, 44)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 992/1094 (ordered; batch not supported)] (147, 10, '2022-03-11', 7714.0, 44)

2025-04-27 01:36:27,798 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,799 INFO sqlalchemy.engine.Engine [insertmanyvalues 993/1094 (ordered; batch not supported)] (136, 9, '2022-07-11', 4690.0, 299)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 993/1094 (ordered; batch not supported)] (136, 9, '2022-07-11', 4690.0, 299)

2025-04-27 01:36:27,800 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,801 INFO sqlalchemy.engine.Engine [insertmanyvalues 994/1094 (ordered; batch not supported)] (135, 19, '2022-08-01', 13062.0, 62)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 994/1094 (ordered; batch not supported)] (135, 19, '2022-08-01', 13062.0, 62)

2025-04-27 01:36:27,802 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,803 INFO sqlalchemy.engine.Engine [insertmanyvalues 995/1094 (ordered; batch not supported)] (135, 13, '2022-02-16', 12488.0, 200)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 995/1094 (ordered; batch not supported)] (135, 13, '2022-02-16', 12488.0, 200)

2025-04-27 01:36:27,804 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,805 INFO sqlalchemy.engine.Engine [insertmanyvalues 996/1094 (ordered; batch not supported)] (141, 6, '2022-04-13', 14147.0, 235)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 996/1094 (ordered; batch not supported)] (141, 6, '2022-04-13', 14147.0, 235)

2025-04-27 01:36:27,808 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,809 INFO sqlalchemy.engine.Engine [insertmanyvalues 997/1094 (ordered; batch not supported)] (147, 19, '2022-02-14', 49.0, 363)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 997/1094 (ordered; batch not supported)] (147, 19, '2022-02-14', 49.0, 363)

2025-04-27 01:36:27,810 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,814 INFO sqlalchemy.engine.Engine [insertmanyvalues 998/1094 (ordered; batch not supported)] (124, 3, '2022-03-14', 10199.0, 68)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 998/1094 (ordered; batch not supported)] (124, 3, '2022-03-14', 10199.0, 68)

2025-04-27 01:36:27,815 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,816 INFO sqlalchemy.engine.Engine [insertmanyvalues 999/1094 (ordered; batch not supported)] (147, 13, '2022-04-26', 11389.0, 26)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 999/1094 (ordered; batch not supported)] (147, 13, '2022-04-26', 11389.0, 26)

2025-04-27 01:36:27,817 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,818 INFO sqlalchemy.engine.Engine [insertmanyvalues 1000/1094 (ordered; batch not supported)] (143, 16, '2022-04-05', 3584.0, 200)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1000/1094 (ordered; batch not supported)] (143, 16, '2022-04-05', 3584.0, 200)

2025-04-27 01:36:27,819 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,820 INFO sqlalchemy.engine.Engine [insertmanyvalues 1001/1094 (ordered; batch not supported)] (146, 10, '2022-03-03', 12481.0, 264)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1001/1094 (ordered; batch not supported)] (146, 10, '2022-03-03', 12481.0, 264)

2025-04-27 01:36:27,821 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,822 INFO sqlalchemy.engine.Engine [insertmanyvalues 1002/1094 (ordered; batch not supported)] (133, 13, '2022-06-13', 2107.0, 175)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1002/1094 (ordered; batch not supported)] (133, 13, '2022-06-13', 2107.0, 175)

2025-04-27 01:36:27,823 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,824 INFO sqlalchemy.engine.Engine [insertmanyvalues 1003/1094 (ordered; batch not supported)] (120, 22, '2022-02-14', 8603.0, 352)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1003/1094 (ordered; batch not supported)] (120, 22, '2022-02-14', 8603.0, 352)

2025-04-27 01:36:27,826 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,827 INFO sqlalchemy.engine.Engine [insertmanyvalues 1004/1094 (ordered; batch not supported)] (144, 5, '2022-04-18', 7483.0, 183)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1004/1094 (ordered; batch not supported)] (144, 5, '2022-04-18', 7483.0, 183)

2025-04-27 01:36:27,828 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,830 INFO sqlalchemy.engine.Engine [insertmanyvalues 1005/1094 (ordered; batch not supported)] (147, 2, '2022-02-01', 3381.0, 417)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1005/1094 (ordered; batch not supported)] (147, 2, '2022-02-01', 3381.0, 417)

2025-04-27 01:36:27,831 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,832 INFO sqlalchemy.engine.Engine [insertmanyvalues 1006/1094 (ordered; batch not supported)] (138, 8, '2022-08-04', 2030.0, 146)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1006/1094 (ordered; batch not supported)] (138, 8, '2022-08-04', 2030.0, 146)

2025-04-27 01:36:27,833 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,834 INFO sqlalchemy.engine.Engine [insertmanyvalues 1007/1094 (ordered; batch not supported)] (63, 17, '2022-04-05', 6559.0, 158)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1007/1094 (ordered; batch not supported)] (63, 17, '2022-04-05', 6559.0, 158)

2025-04-27 01:36:27,836 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,837 INFO sqlalchemy.engine.Engine [insertmanyvalues 1008/1094 (ordered; batch not supported)] (106, 5, '2022-01-26', 10822.0, 168)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1008/1094 (ordered; batch not supported)] (106, 5, '2022-01-26', 10822.0, 168)

2025-04-27 01:36:27,841 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,842 INFO sqlalchemy.engine.Engine [insertmanyvalues 1009/1094 (ordered; batch not supported)] (133, 6, '2022-01-21', 18697.0, 176)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1009/1094 (ordered; batch not supported)] (133, 6, '2022-01-21', 18697.0, 176)

2025-04-27 01:36:27,842 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,843 INFO sqlalchemy.engine.Engine [insertmanyvalues 1010/1094 (ordered; batch not supported)] (133, 6, '2022-08-22', 5845.0, 172)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1010/1094 (ordered; batch not supported)] (133, 6, '2022-08-22', 5845.0, 172)

2025-04-27 01:36:27,844 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,845 INFO sqlalchemy.engine.Engine [insertmanyvalues 1011/1094 (ordered; batch not supported)] (133, 10, '2022-01-27', 2317.0, 224)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1011/1094 (ordered; batch not supported)] (133, 10, '2022-01-27', 2317.0, 224)

2025-04-27 01:36:27,847 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,848 INFO sqlalchemy.engine.Engine [insertmanyvalues 1012/1094 (ordered; batch not supported)] (140, 7, '2022-02-16', 10150.0, 68)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1012/1094 (ordered; batch not supported)] (140, 7, '2022-02-16', 10150.0, 68)

2025-04-27 01:36:27,850 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,850 INFO sqlalchemy.engine.Engine [insertmanyvalues 1013/1094 (ordered; batch not supported)] (138, 18, '2022-01-03', 3437.0, 46)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1013/1094 (ordered; batch not supported)] (138, 18, '2022-01-03', 3437.0, 46)

2025-04-27 01:36:27,851 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,852 INFO sqlalchemy.engine.Engine [insertmanyvalues 1014/1094 (ordered; batch not supported)] (106, 15, '2022-08-24', 4592.0, 2)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1014/1094 (ordered; batch not supported)] (106, 15, '2022-08-24', 4592.0, 2)

2025-04-27 01:36:27,853 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,854 INFO sqlalchemy.engine.Engine [insertmanyvalues 1015/1094 (ordered; batch not supported)] (147, 13, '2022-02-07', 5691.0, 417)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1015/1094 (ordered; batch not supported)] (147, 13, '2022-02-07', 5691.0, 417)

2025-04-27 01:36:27,855 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,856 INFO sqlalchemy.engine.Engine [insertmanyvalues 1016/1094 (ordered; batch not supported)] (137, 4, '2022-02-11', 4158.0, 109)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1016/1094 (ordered; batch not supported)] (137, 4, '2022-02-11', 4158.0, 109)

2025-04-27 01:36:27,860 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,861 INFO sqlalchemy.engine.Engine [insertmanyvalues 1017/1094 (ordered; batch not supported)] (133, 11, '2022-03-29', 5684.0, 81)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1017/1094 (ordered; batch not supported)] (133, 11, '2022-03-29', 5684.0, 81)

2025-04-27 01:36:27,862 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,863 INFO sqlalchemy.engine.Engine [insertmanyvalues 1018/1094 (ordered; batch not supported)] (120, 3, '2022-06-15', 693.0, 350)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1018/1094 (ordered; batch not supported)] (120, 3, '2022-06-15', 693.0, 350)

2025-04-27 01:36:27,864 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,865 INFO sqlalchemy.engine.Engine [insertmanyvalues 1019/1094 (ordered; batch not supported)] (122, 4, '2022-04-26', 546.0, 142)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1019/1094 (ordered; batch not supported)] (122, 4, '2022-04-26', 546.0, 142)

2025-04-27 01:36:27,866 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,867 INFO sqlalchemy.engine.Engine [insertmanyvalues 1020/1094 (ordered; batch not supported)] (136, 11, '2022-07-15', 4263.0, 264)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1020/1094 (ordered; batch not supported)] (136, 11, '2022-07-15', 4263.0, 264)

2025-04-27 01:36:27,868 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,869 INFO sqlalchemy.engine.Engine [insertmanyvalues 1021/1094 (ordered; batch not supported)] (107, 11, '2022-06-23', 1036.0, 20)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1021/1094 (ordered; batch not supported)] (107, 11, '2022-06-23', 1036.0, 20)

2025-04-27 01:36:27,870 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,874 INFO sqlalchemy.engine.Engine [insertmanyvalues 1022/1094 (ordered; batch not supported)] (122, 20, '2022-01-11', 13846.0, 421)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1022/1094 (ordered; batch not supported)] (122, 20, '2022-01-11', 13846.0, 421)

2025-04-27 01:36:27,875 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,876 INFO sqlalchemy.engine.Engine [insertmanyvalues 1023/1094 (ordered; batch not supported)] (107, 7, '2022-02-09', 2499.0, 271)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1023/1094 (ordered; batch not supported)] (107, 7, '2022-02-09', 2499.0, 271)

2025-04-27 01:36:27,877 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,878 INFO sqlalchemy.engine.Engine [insertmanyvalues 1024/1094 (ordered; batch not supported)] (61, 17, '2022-06-06', 10689.0, 204)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1024/1094 (ordered; batch not supported)] (61, 17, '2022-06-06', 10689.0, 204)

2025-04-27 01:36:27,881 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,882 INFO sqlalchemy.engine.Engine [insertmanyvalues 1025/1094 (ordered; batch not supported)] (138, 21, '2022-08-10', 5768.0, 235)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1025/1094 (ordered; batch not supported)] (138, 21, '2022-08-10', 5768.0, 235)

2025-04-27 01:36:27,883 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,883 INFO sqlalchemy.engine.Engine [insertmanyvalues 1026/1094 (ordered; batch not supported)] (150, 4, '2022-01-04', 2226.0, 46)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1026/1094 (ordered; batch not supported)] (150, 4, '2022-01-04', 2226.0, 46)

2025-04-27 01:36:27,885 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,886 INFO sqlalchemy.engine.Engine [insertmanyvalues 1027/1094 (ordered; batch not supported)] (63, 22, '2022-04-08', 10262.0, 15)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1027/1094 (ordered; batch not supported)] (63, 22, '2022-04-08', 10262.0, 15)

2025-04-27 01:36:27,887 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,888 INFO sqlalchemy.engine.Engine [insertmanyvalues 1028/1094 (ordered; batch not supported)] (102, 12, '2022-03-02', 3864.0, 430)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1028/1094 (ordered; batch not supported)] (102, 12, '2022-03-02', 3864.0, 430)

2025-04-27 01:36:27,889 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,894 INFO sqlalchemy.engine.Engine [insertmanyvalues 1029/1094 (ordered; batch not supported)] (61, 10, '2022-06-15', 4900.0, 709)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1029/1094 (ordered; batch not supported)] (61, 10, '2022-06-15', 4900.0, 709)

2025-04-27 01:36:27,896 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,897 INFO sqlalchemy.engine.Engine [insertmanyvalues 1030/1094 (ordered; batch not supported)] (143, 6, '2022-02-14', 5250.0, 47)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1030/1094 (ordered; batch not supported)] (143, 6, '2022-02-14', 5250.0, 47)

2025-04-27 01:36:27,898 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,899 INFO sqlalchemy.engine.Engine [insertmanyvalues 1031/1094 (ordered; batch not supported)] (142, 6, '2022-07-05', 3507.0, 380)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1031/1094 (ordered; batch not supported)] (142, 6, '2022-07-05', 3507.0, 380)

2025-04-27 01:36:27,900 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,901 INFO sqlalchemy.engine.Engine [insertmanyvalues 1032/1094 (ordered; batch not supported)] (102, 1, '2022-01-12', 7413.0, 465)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1032/1094 (ordered; batch not supported)] (102, 1, '2022-01-12', 7413.0, 465)

2025-04-27 01:36:27,902 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,903 INFO sqlalchemy.engine.Engine [insertmanyvalues 1033/1094 (ordered; batch not supported)] (141, 1, '2022-03-03', 8155.0, 96)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1033/1094 (ordered; batch not supported)] (141, 1, '2022-03-03', 8155.0, 96)

2025-04-27 01:36:27,906 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,907 INFO sqlalchemy.engine.Engine [insertmanyvalues 1034/1094 (ordered; batch not supported)] (143, 12, '2022-05-18', 2478.0, 188)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1034/1094 (ordered; batch not supported)] (143, 12, '2022-05-18', 2478.0, 188)

2025-04-27 01:36:27,908 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,909 INFO sqlalchemy.engine.Engine [insertmanyvalues 1035/1094 (ordered; batch not supported)] (135, 21, '2022-07-28', 2471.0, 202)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1035/1094 (ordered; batch not supported)] (135, 21, '2022-07-28', 2471.0, 202)

2025-04-27 01:36:27,910 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,911 INFO sqlalchemy.engine.Engine [insertmanyvalues 1036/1094 (ordered; batch not supported)] (141, 16, '2022-02-07', 1666.0, 106)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1036/1094 (ordered; batch not supported)] (141, 16, '2022-02-07', 1666.0, 106)

2025-04-27 01:36:27,912 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,913 INFO sqlalchemy.engine.Engine [insertmanyvalues 1037/1094 (ordered; batch not supported)] (63, 8, '2022-05-30', 301.0, 421)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1037/1094 (ordered; batch not supported)] (63, 8, '2022-05-30', 301.0, 421)

2025-04-27 01:36:27,914 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,915 INFO sqlalchemy.engine.Engine [insertmanyvalues 1038/1094 (ordered; batch not supported)] (137, 18, '2022-04-25', 8400.0, 27)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1038/1094 (ordered; batch not supported)] (137, 18, '2022-04-25', 8400.0, 27)

2025-04-27 01:36:27,917 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,920 INFO sqlalchemy.engine.Engine [insertmanyvalues 1039/1094 (ordered; batch not supported)] (107, 2, '2022-02-16', 6139.0, 45)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1039/1094 (ordered; batch not supported)] (107, 2, '2022-02-16', 6139.0, 45)

2025-04-27 01:36:27,921 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,922 INFO sqlalchemy.engine.Engine [insertmanyvalues 1040/1094 (ordered; batch not supported)] (77, 10, '2022-05-04', 1288.0, 60)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1040/1094 (ordered; batch not supported)] (77, 10, '2022-05-04', 1288.0, 60)

2025-04-27 01:36:27,923 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,924 INFO sqlalchemy.engine.Engine [insertmanyvalues 1041/1094 (ordered; batch not supported)] (61, 22, '2022-06-02', 7077.0, 77)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1041/1094 (ordered; batch not supported)] (61, 22, '2022-06-02', 7077.0, 77)

2025-04-27 01:36:27,925 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,926 INFO sqlalchemy.engine.Engine [insertmanyvalues 1042/1094 (ordered; batch not supported)] (122, 21, '2022-07-11', 2317.0, 464)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1042/1094 (ordered; batch not supported)] (122, 21, '2022-07-11', 2317.0, 464)

2025-04-27 01:36:27,927 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,928 INFO sqlalchemy.engine.Engine [insertmanyvalues 1043/1094 (ordered; batch not supported)] (107, 13, '2022-06-07', 63.0, 60)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1043/1094 (ordered; batch not supported)] (107, 13, '2022-06-07', 63.0, 60)

2025-04-27 01:36:27,929 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,931 INFO sqlalchemy.engine.Engine [insertmanyvalues 1044/1094 (ordered; batch not supported)] (148, 17, '2022-07-06', 9744.0, 157)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1044/1094 (ordered; batch not supported)] (148, 17, '2022-07-06', 9744.0, 157)

2025-04-27 01:36:27,932 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,933 INFO sqlalchemy.engine.Engine [insertmanyvalues 1045/1094 (ordered; batch not supported)] (142, 18, '2022-06-15', 9954.0, 154)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1045/1094 (ordered; batch not supported)] (142, 18, '2022-06-15', 9954.0, 154)

2025-04-27 01:36:27,934 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,935 INFO sqlalchemy.engine.Engine [insertmanyvalues 1046/1094 (ordered; batch not supported)] (138, 1, '2022-04-14', 1260.0, 239)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1046/1094 (ordered; batch not supported)] (138, 1, '2022-04-14', 1260.0, 239)

2025-04-27 01:36:27,936 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,937 INFO sqlalchemy.engine.Engine [insertmanyvalues 1047/1094 (ordered; batch not supported)] (146, 10, '2022-08-08', 469.0, 163)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1047/1094 (ordered; batch not supported)] (146, 10, '2022-08-08', 469.0, 163)

2025-04-27 01:36:27,938 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,939 INFO sqlalchemy.engine.Engine [insertmanyvalues 1048/1094 (ordered; batch not supported)] (120, 10, '2022-03-29', 973.0, 28)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1048/1094 (ordered; batch not supported)] (120, 10, '2022-03-29', 973.0, 28)

2025-04-27 01:36:27,943 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,945 INFO sqlalchemy.engine.Engine [insertmanyvalues 1049/1094 (ordered; batch not supported)] (144, 11, '2022-07-04', 3647.0, 76)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1049/1094 (ordered; batch not supported)] (144, 11, '2022-07-04', 3647.0, 76)

2025-04-27 01:36:27,946 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,947 INFO sqlalchemy.engine.Engine [insertmanyvalues 1050/1094 (ordered; batch not supported)] (124, 5, '2022-02-16', 455.0, 96)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1050/1094 (ordered; batch not supported)] (124, 5, '2022-02-16', 455.0, 96)

2025-04-27 01:36:27,950 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,951 INFO sqlalchemy.engine.Engine [insertmanyvalues 1051/1094 (ordered; batch not supported)] (140, 13, '2022-05-02', 2520.0, 156)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1051/1094 (ordered; batch not supported)] (140, 13, '2022-05-02', 2520.0, 156)

2025-04-27 01:36:27,952 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,953 INFO sqlalchemy.engine.Engine [insertmanyvalues 1052/1094 (ordered; batch not supported)] (61, 9, '2022-07-21', 10500.0, 106)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1052/1094 (ordered; batch not supported)] (61, 9, '2022-07-21', 10500.0, 106)

2025-04-27 01:36:27,954 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,955 INFO sqlalchemy.engine.Engine [insertmanyvalues 1053/1094 (ordered; batch not supported)] (135, 5, '2022-08-18', 7952.0, 235)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1053/1094 (ordered; batch not supported)] (135, 5, '2022-08-18', 7952.0, 235)

2025-04-27 01:36:27,956 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,957 INFO sqlalchemy.engine.Engine [insertmanyvalues 1054/1094 (ordered; batch not supported)] (133, 2, '2022-06-22', 483.0, 259)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1054/1094 (ordered; batch not supported)] (133, 2, '2022-06-22', 483.0, 259)

2025-04-27 01:36:27,958 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,959 INFO sqlalchemy.engine.Engine [insertmanyvalues 1055/1094 (ordered; batch not supported)] (146, 3, '2022-07-19', 4872.0, 126)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1055/1094 (ordered; batch not supported)] (146, 3, '2022-07-19', 4872.0, 126)

2025-04-27 01:36:27,962 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,963 INFO sqlalchemy.engine.Engine [insertmanyvalues 1056/1094 (ordered; batch not supported)] (131, 3, '2022-08-12', 7756.0, 85)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1056/1094 (ordered; batch not supported)] (131, 3, '2022-08-12', 7756.0, 85)

2025-04-27 01:36:27,964 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,965 INFO sqlalchemy.engine.Engine [insertmanyvalues 1057/1094 (ordered; batch not supported)] (131, 19, '2022-06-07', 5446.0, 132)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1057/1094 (ordered; batch not supported)] (131, 19, '2022-06-07', 5446.0, 132)

2025-04-27 01:36:27,966 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,967 INFO sqlalchemy.engine.Engine [insertmanyvalues 1058/1094 (ordered; batch not supported)] (120, 3, '2022-03-08', 6594.0, 91)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1058/1094 (ordered; batch not supported)] (120, 3, '2022-03-08', 6594.0, 91)

2025-04-27 01:36:27,968 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,971 INFO sqlalchemy.engine.Engine [insertmanyvalues 1059/1094 (ordered; batch not supported)] (124, 19, '2022-04-08', 1470.0, 167)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1059/1094 (ordered; batch not supported)] (124, 19, '2022-04-08', 1470.0, 167)

2025-04-27 01:36:27,972 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,973 INFO sqlalchemy.engine.Engine [insertmanyvalues 1060/1094 (ordered; batch not supported)] (141, 9, '2022-05-06', 721.0, 203)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1060/1094 (ordered; batch not supported)] (141, 9, '2022-05-06', 721.0, 203)

2025-04-27 01:36:27,974 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,975 INFO sqlalchemy.engine.Engine [insertmanyvalues 1061/1094 (ordered; batch not supported)] (144, 10, '2022-05-31', 4494.0, 11)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1061/1094 (ordered; batch not supported)] (144, 10, '2022-05-31', 4494.0, 11)

2025-04-27 01:36:27,976 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,980 INFO sqlalchemy.engine.Engine [insertmanyvalues 1062/1094 (ordered; batch not supported)] (61, 1, '2022-01-13', 2674.0, 295)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1062/1094 (ordered; batch not supported)] (61, 1, '2022-01-13', 2674.0, 295)

2025-04-27 01:36:27,981 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,982 INFO sqlalchemy.engine.Engine [insertmanyvalues 1063/1094 (ordered; batch not supported)] (122, 22, '2022-03-15', 658.0, 77)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1063/1094 (ordered; batch not supported)] (122, 22, '2022-03-15', 658.0, 77)

2025-04-27 01:36:27,983 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,984 INFO sqlalchemy.engine.Engine [insertmanyvalues 1064/1094 (ordered; batch not supported)] (63, 3, '2022-02-16', 1127.0, 319)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1064/1094 (ordered; batch not supported)] (63, 3, '2022-02-16', 1127.0, 319)

2025-04-27 01:36:27,985 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,986 INFO sqlalchemy.engine.Engine [insertmanyvalues 1065/1094 (ordered; batch not supported)] (119, 22, '2022-01-14', 7364.0, 196)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1065/1094 (ordered; batch not supported)] (119, 22, '2022-01-14', 7364.0, 196)

2025-04-27 01:36:27,987 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,988 INFO sqlalchemy.engine.Engine [insertmanyvalues 1066/1094 (ordered; batch not supported)] (140, 15, '2022-03-21', 6818.0, 102)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1066/1094 (ordered; batch not supported)] (140, 15, '2022-03-21', 6818.0, 102)

2025-04-27 01:36:27,989 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,993 INFO sqlalchemy.engine.Engine [insertmanyvalues 1067/1094 (ordered; batch not supported)] (144, 10, '2022-05-17', 6776.0, 312)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1067/1094 (ordered; batch not supported)] (144, 10, '2022-05-17', 6776.0, 312)

2025-04-27 01:36:27,995 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,996 INFO sqlalchemy.engine.Engine [insertmanyvalues 1068/1094 (ordered; batch not supported)] (146, 2, '2022-08-08', 15099.0, 55)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1068/1094 (ordered; batch not supported)] (146, 2, '2022-08-08', 15099.0, 55)

2025-04-27 01:36:27,997 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:27,998 INFO sqlalchemy.engine.Engine [insertmanyvalues 1069/1094 (ordered; batch not supported)] (131, 12, '2022-04-26', 3612.0, 82)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1069/1094 (ordered; batch not supported)] (131, 12, '2022-04-26', 3612.0, 82)

2025-04-27 01:36:27,999 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,000 INFO sqlalchemy.engine.Engine [insertmanyvalues 1070/1094 (ordered; batch not supported)] (131, 22, '2022-04-15', 3710.0, 260)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1070/1094 (ordered; batch not supported)] (131, 22, '2022-04-15', 3710.0, 260)

2025-04-27 01:36:28,001 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,002 INFO sqlalchemy.engine.Engine [insertmanyvalues 1071/1094 (ordered; batch not supported)] (147, 9, '2022-05-19', 6111.0, 591)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1071/1094 (ordered; batch not supported)] (147, 9, '2022-05-19', 6111.0, 591)

2025-04-27 01:36:28,006 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,007 INFO sqlalchemy.engine.Engine [insertmanyvalues 1072/1094 (ordered; batch not supported)] (122, 10, '2022-01-10', 2702.0, 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1072/1094 (ordered; batch not supported)] (122, 10, '2022-01-10', 2702.0, 24)

2025-04-27 01:36:28,008 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,009 INFO sqlalchemy.engine.Engine [insertmanyvalues 1073/1094 (ordered; batch not supported)] (137, 6, '2022-05-04', 483.0, 228)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1073/1094 (ordered; batch not supported)] (137, 6, '2022-05-04', 483.0, 228)

2025-04-27 01:36:28,009 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,010 INFO sqlalchemy.engine.Engine [insertmanyvalues 1074/1094 (ordered; batch not supported)] (144, 15, '2022-04-05', 5887.0, 268)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1074/1094 (ordered; batch not supported)] (144, 15, '2022-04-05', 5887.0, 268)

2025-04-27 01:36:28,011 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,012 INFO sqlalchemy.engine.Engine [insertmanyvalues 1075/1094 (ordered; batch not supported)] (63, 6, '2022-01-17', 952.0, 68)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1075/1094 (ordered; batch not supported)] (63, 6, '2022-01-17', 952.0, 68)

2025-04-27 01:36:28,013 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,018 INFO sqlalchemy.engine.Engine [insertmanyvalues 1076/1094 (ordered; batch not supported)] (144, 13, '2022-03-22', 10647.0, 173)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1076/1094 (ordered; batch not supported)] (144, 13, '2022-03-22', 10647.0, 173)

2025-04-27 01:36:28,020 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,021 INFO sqlalchemy.engine.Engine [insertmanyvalues 1077/1094 (ordered; batch not supported)] (138, 15, '2022-07-05', 6055.0, 93)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1077/1094 (ordered; batch not supported)] (138, 15, '2022-07-05', 6055.0, 93)

2025-04-27 01:36:28,022 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,023 INFO sqlalchemy.engine.Engine [insertmanyvalues 1078/1094 (ordered; batch not supported)] (147, 8, '2022-04-27', 8757.0, 338)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1078/1094 (ordered; batch not supported)] (147, 8, '2022-04-27', 8757.0, 338)

2025-04-27 01:36:28,024 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,024 INFO sqlalchemy.engine.Engine [insertmanyvalues 1079/1094 (ordered; batch not supported)] (133, 17, '2022-08-12', 6055.0, 73)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1079/1094 (ordered; batch not supported)] (133, 17, '2022-08-12', 6055.0, 73)

2025-04-27 01:36:28,025 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,026 INFO sqlalchemy.engine.Engine [insertmanyvalues 1080/1094 (ordered; batch not supported)] (148, 20, '2022-03-11', 721.0, 251)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1080/1094 (ordered; batch not supported)] (148, 20, '2022-03-11', 721.0, 251)

2025-04-27 01:36:28,030 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,031 INFO sqlalchemy.engine.Engine [insertmanyvalues 1081/1094 (ordered; batch not supported)] (143, 14, '2022-05-13', 8589.0, 229)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1081/1094 (ordered; batch not supported)] (143, 14, '2022-05-13', 8589.0, 229)

2025-04-27 01:36:28,032 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,033 INFO sqlalchemy.engine.Engine [insertmanyvalues 1082/1094 (ordered; batch not supported)] (122, 4, '2022-05-12', 11781.0, 91)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1082/1094 (ordered; batch not supported)] (122, 4, '2022-05-12', 11781.0, 91)

2025-04-27 01:36:28,034 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,035 INFO sqlalchemy.engine.Engine [insertmanyvalues 1083/1094 (ordered; batch not supported)] (136, 18, '2022-01-12', 672.0, 194)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1083/1094 (ordered; batch not supported)] (136, 18, '2022-01-12', 672.0, 194)

2025-04-27 01:36:28,036 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,037 INFO sqlalchemy.engine.Engine [insertmanyvalues 1084/1094 (ordered; batch not supported)] (131, 12, '2022-03-29', 12558.0, 403)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1084/1094 (ordered; batch not supported)] (131, 12, '2022-03-29', 12558.0, 403)

2025-04-27 01:36:28,038 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,038 INFO sqlalchemy.engine.Engine [insertmanyvalues 1085/1094 (ordered; batch not supported)] (144, 7, '2022-03-14', 8337.0, 12)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1085/1094 (ordered; batch not supported)] (144, 7, '2022-03-14', 8337.0, 12)

2025-04-27 01:36:28,039 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,040 INFO sqlalchemy.engine.Engine [insertmanyvalues 1086/1094 (ordered; batch not supported)] (102, 5, '2022-05-24', 8134.0, 195)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1086/1094 (ordered; batch not supported)] (102, 5, '2022-05-24', 8134.0, 195)

2025-04-27 01:36:28,041 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,042 INFO sqlalchemy.engine.Engine [insertmanyvalues 1087/1094 (ordered; batch not supported)] (122, 11, '2022-01-28', 8491.0, 75)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1087/1094 (ordered; batch not supported)] (122, 11, '2022-01-28', 8491.0, 75)

2025-04-27 01:36:28,043 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,046 INFO sqlalchemy.engine.Engine [insertmanyvalues 1088/1094 (ordered; batch not supported)] (107, 17, '2022-05-24', 3066.0, 96)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1088/1094 (ordered; batch not supported)] (107, 17, '2022-05-24', 3066.0, 96)

2025-04-27 01:36:28,047 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,048 INFO sqlalchemy.engine.Engine [insertmanyvalues 1089/1094 (ordered; batch not supported)] (136, 3, '2022-08-19', 301.0, 205)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1089/1094 (ordered; batch not supported)] (136, 3, '2022-08-19', 301.0, 205)

2025-04-27 01:36:28,049 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,050 INFO sqlalchemy.engine.Engine [insertmanyvalues 1090/1094 (ordered; batch not supported)] (106, 13, '2022-05-17', 4410.0, 323)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1090/1094 (ordered; batch not supported)] (106, 13, '2022-05-17', 4410.0, 323)

2025-04-27 01:36:28,051 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,052 INFO sqlalchemy.engine.Engine [insertmanyvalues 1091/1094 (ordered; batch not supported)] (143, 15, '2022-06-07', 6559.0, 119)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1091/1094 (ordered; batch not supported)] (143, 15, '2022-06-07', 6559.0, 119)

2025-04-27 01:36:28,053 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,054 INFO sqlalchemy.engine.Engine [insertmanyvalues 1092/1094 (ordered; batch not supported)] (124, 11, '2022-07-26', 574.0, 217)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1092/1094 (ordered; batch not supported)] (124, 11, '2022-07-26', 574.0, 217)

2025-04-27 01:36:28,055 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,056 INFO sqlalchemy.engine.Engine [insertmanyvalues 1093/1094 (ordered; batch not supported)] (138, 9, '2022-07-28', 2086.0, 384)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1093/1094 (ordered; batch not supported)] (138, 9, '2022-07-28', 2086.0, 384)

2025-04-27 01:36:28,056 INFO sqlalchemy.engine.Engine INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

INFO:sqlalchemy.engine.Engine:INSERT INTO sale (sales_person_id, product_id, date, amount, boxes_shipped) VALUES (?, ?, ?, ?, ?) RETURNING sale_id

2025-04-27 01:36:28,059 INFO sqlalchemy.engine.Engine [insertmanyvalues 1094/1094 (ordered; batch not supported)] (106, 22, '2022-05-23', 5075.0, 344)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 1094/1094 (ordered; batch not supported)] (106, 22, '2022-05-23', 5075.0, 344)

2025-04-27 01:36:28,095 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

##export to csv

In [29]:
import sqlite3
import pandas as pd

# เชื่อมต่อ database
conn = sqlite3.connect('chocolate_sales(1).db')

# SQL Query
query = """
WITH TotalSalesPerPerson AS (
    SELECT
        sales_person_id,
        SUM(amount) AS total_sales_person
    FROM
        sale
    GROUP BY
        sales_person_id
),
RankedSales AS (
    SELECT
        sp.name AS sales_person_name,
        t.total_sales_person,
        p.product_name,
        SUM(s.amount) AS total_product_sales,
        ROW_NUMBER() OVER (PARTITION BY sp.name ORDER BY SUM(s.amount) DESC) AS rank_in_person
    FROM
        sale s
    JOIN
        sales_person sp ON s.sales_person_id = sp.sales_person_id
    JOIN
        product p ON s.product_id = p.product_id
    JOIN
        TotalSalesPerPerson t ON s.sales_person_id = t.sales_person_id
    GROUP BY
        sp.name, t.total_sales_person, p.product_name
)

SELECT
    sales_person_name,
    total_sales_person,
    product_name,
    total_product_sales
FROM
    RankedSales
WHERE
    rank_in_person <= 5
ORDER BY
    sales_person_name, total_product_sales DESC;
"""

# รัน query และเอาผลลัพธ์มาเก็บใน DataFrame
df = pd.read_sql_query(query, conn)

# export เป็น CSV
df.to_csv('top5_chocolate_per_salesperson.csv', index=False)